@import url("common.css");
main {
  padding-top: 180px;
}

article {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article .words {
  font-family: "Kakao Regular";
  font-size: 18px;
  line-height: 30px;
  color: #000;
  width: 25%;
  padding-right: 30px;
}

article ul {
  border-top: 2px solid #000;
  width: 75%;
}

article ul li {
  border-bottom: 1px solid #e2e2e2;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article ul li .year {
  width: 20%;
}

article ul li .year p {
  margin: 0;
}

article ul li > div {
  width: 80%;
}

article ul li > div .story {
  width: 100%;
}

article ul li > div > div:nth-of-type(1) {
  padding-bottom: 20px;
}

article ul li .story {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

article ul li .story h2 {
  width: 20%;
  padding-right: 40px;
  margin: 0;
  font-family: "Kakao Light";
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

article ul li .story p {
  width: 80%;
  margin: 0;
  font-family: "Kakao Light";
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

@media (max-width: 1440px) {
  main {
    padding-top: 180px;
  }
  article {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article .words {
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 30px;
    color: #000;
    width: 25%;
    padding-right: 30px;
  }
  article ul {
    border-top: 2px solid #000;
    width: 75%;
  }
  article ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article ul li .year {
    width: 20%;
  }
  article ul li .year p {
    margin: 0;
  }
  article ul li > div {
    width: 80%;
  }
  article ul li > div .story {
    width: 100%;
  }
  article ul li > div > div:nth-of-type(1) {
    padding-bottom: 20px;
  }
  article ul li .story {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article ul li .story h2 {
    width: 20%;
    padding-right: 40px;
    margin: 0;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
  article ul li .story p {
    width: 80%;
    margin: 0;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
}

@media (max-width: 1024px) {
  main {
    padding-top: 180px;
  }
  article {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article .words {
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 30px;
    color: #000;
    width: 25%;
    padding-right: 30px;
  }
  article ul {
    border-top: 2px solid #000;
    width: 75%;
  }
  article ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article ul li .year {
    width: 20%;
  }
  article ul li .year p {
    margin: 0;
  }
  article ul li > div {
    width: 80%;
  }
  article ul li > div .story {
    width: 100%;
  }
  article ul li > div > div:nth-of-type(1) {
    padding-bottom: 20px;
  }
  article ul li .story {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  article ul li .story h2 {
    width: 20%;
    padding-right: 40px;
    margin: 0;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
  article ul li .story p {
    width: 80%;
    margin: 0;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
}

@media (max-width: 480px) {
  article {
    width: 90%;
    margin: auto;
    display: block;
  }
  article .words {
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
    width: 100%;
    padding-right: 30px;
  }
  article ul {
    margin-top: 50px;
    border-top: 2px solid #000;
    width: 100%;
  }
  article ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 40px 0;
    display: block;
  }
  article ul li .year {
    width: 100%;
  }
  article ul li .year p {
    margin: 0px 0 20px 0;
  }
  article ul li > div {
    width: 100%;
  }
  article ul li > div .story {
    width: 100%;
  }
  article ul li > div > div:nth-of-type(1) {
    padding-bottom: 20px;
  }
  article ul li .story {
    width: 100%;
    display: block;
  }
  article ul li .story h2 {
    width: 100%;
    padding-right: 40px;
    margin: 0;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
  article ul li .story p {
    width: 100%;
    margin: 0;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 30px;
    color: #000;
  }
}
/*# sourceMappingURL=history.css.map */