@import url("common.css");
header .location {
  display: none;
}

main {
  padding-top: 60px;
  padding-bottom: 100px;
}

main .big {
  position: relative;
  overflow: hidden;
}

main .big h2 {
  font-family: Noto Sans KR, sans-serif;
  font-size: 2.8vw;
  line-height: 3.6vw;
  color: #fff;
  position: absolute;
  left: 200px;
  top: 150px;
  z-index: 100;
  color: #fff;
}

main .big .video {
  position: relative;
  height: 909px;
  overflow: hidden;
}

main .big .video iframe {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main .big::after {
  content: '';
  display: block;
  width: 100%;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

main .box {
  width: 92%;
  height: 720px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 120px;
  background: #f1f1f1;
  border-radius: 30px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .box .txt {
  padding-left: 65px;
}

main .box .txt h2 {
  font-family: Noto Sans KR, sans-serif;
  font-size: 2.8vw;
  line-height: 3.6vw;
  color: #000;
  margin: 0;
  padding-bottom: 35px;
}

main .box .txt a {
  font-family: Noto Sans KR, sans-serif;
  font-size: 1.2vw;
  line-height: 1.8vw;
  color: #444;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
  padding-left: 42px;
  background: url("../img/sign/main_goNext_b.png") no-repeat;
  background-size: auto 100%;
}

main .box .ani {
  margin-bottom: 70px;
}

main .box:nth-of-type(1) {
  position: relative;
  overflow: hidden;
  -webkit-animation: changeColor 5s ease infinite normal;
          animation: changeColor 5s ease infinite normal;
}

@-webkit-keyframes changeColor {
  0% {
    background: #f1f1f1;
  }
  30% {
    background: #b7e2e0;
  }
  100% {
    background: white;
  }
}

@keyframes changeColor {
  0% {
    background: #f1f1f1;
  }
  30% {
    background: #b7e2e0;
  }
  100% {
    background: white;
  }
}

main .box:nth-of-type(1) .ani {
  width: 100%;
  height: 100%;
}

main .box:nth-of-type(1) .ani .rocket {
  -webkit-animation: moveRocket 5s ease infinite normal;
          animation: moveRocket 5s ease infinite normal;
  position: absolute;
  z-index: 10;
  left: 55%;
  top: 45%;
}

@-webkit-keyframes moveRocket {
  0% {
    -webkit-transform: scale(1.2) translate(0%, 0%);
            transform: scale(1.2) translate(0%, 0%);
  }
  3% {
    -webkit-transform: scale(1.2) translate(-5%, 0%);
            transform: scale(1.2) translate(-5%, 0%);
  }
  6% {
    -webkit-transform: scale(1.2) translate(5%, 0%);
            transform: scale(1.2) translate(5%, 0%);
  }
  9% {
    -webkit-transform: scale(1.2) translate(-5%, 0%);
            transform: scale(1.2) translate(-5%, 0%);
  }
  12% {
    -webkit-transform: scale(1.2) translate(0%, 0%);
            transform: scale(1.2) translate(0%, 0%);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0%, -50%);
            transform: scale(1.2) translate(0%, -50%);
  }
  25% {
    -webkit-transform: scale(1.2) translate(0%, -55%);
            transform: scale(1.2) translate(0%, -55%);
  }
  30% {
    -webkit-transform: scale(1.2) translate(0%, -30%);
            transform: scale(1.2) translate(0%, -30%);
  }
  32% {
    -webkit-transform: scale(1.2) translate(0%, -55%);
            transform: scale(1.2) translate(0%, -55%);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0%, -300%);
            transform: scale(1.2) translate(0%, -300%);
  }
}

@keyframes moveRocket {
  0% {
    -webkit-transform: scale(1.2) translate(0%, 0%);
            transform: scale(1.2) translate(0%, 0%);
  }
  3% {
    -webkit-transform: scale(1.2) translate(-5%, 0%);
            transform: scale(1.2) translate(-5%, 0%);
  }
  6% {
    -webkit-transform: scale(1.2) translate(5%, 0%);
            transform: scale(1.2) translate(5%, 0%);
  }
  9% {
    -webkit-transform: scale(1.2) translate(-5%, 0%);
            transform: scale(1.2) translate(-5%, 0%);
  }
  12% {
    -webkit-transform: scale(1.2) translate(0%, 0%);
            transform: scale(1.2) translate(0%, 0%);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0%, -50%);
            transform: scale(1.2) translate(0%, -50%);
  }
  25% {
    -webkit-transform: scale(1.2) translate(0%, -55%);
            transform: scale(1.2) translate(0%, -55%);
  }
  30% {
    -webkit-transform: scale(1.2) translate(0%, -30%);
            transform: scale(1.2) translate(0%, -30%);
  }
  32% {
    -webkit-transform: scale(1.2) translate(0%, -55%);
            transform: scale(1.2) translate(0%, -55%);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0%, -300%);
            transform: scale(1.2) translate(0%, -300%);
  }
}

main .box:nth-of-type(1) .ani .rocket img {
  width: 100%;
}

main .box:nth-of-type(1) .ani .cloud {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  opacity: 0.4;
}

main .box:nth-of-type(1) .ani .cloud p {
  position: absolute;
  -webkit-animation: moveCloud 5s ease infinite normal;
          animation: moveCloud 5s ease infinite normal;
}

@-webkit-keyframes moveCloud {
  0% {
    -webkit-transform: scale(1.2) translateY(-600%);
            transform: scale(1.2) translateY(-600%);
  }
  11% {
    -webkit-transform: scale(1.2) translateY(-600%);
            transform: scale(1.2) translateY(-600%);
  }
  40% {
    -webkit-transform: scale(1.2) translateY(-20%);
            transform: scale(1.2) translateY(-20%);
  }
  100% {
    -webkit-transform: scale(1.2) translateY(2000%);
            transform: scale(1.2) translateY(2000%);
  }
}

@keyframes moveCloud {
  0% {
    -webkit-transform: scale(1.2) translateY(-600%);
            transform: scale(1.2) translateY(-600%);
  }
  11% {
    -webkit-transform: scale(1.2) translateY(-600%);
            transform: scale(1.2) translateY(-600%);
  }
  40% {
    -webkit-transform: scale(1.2) translateY(-20%);
            transform: scale(1.2) translateY(-20%);
  }
  100% {
    -webkit-transform: scale(1.2) translateY(2000%);
            transform: scale(1.2) translateY(2000%);
  }
}

main .box:nth-of-type(1) .ani .cloud p:nth-of-type(1) {
  left: 10%;
  top: 20%;
}

main .box:nth-of-type(1) .ani .cloud p:nth-of-type(2) {
  left: 40%;
  top: 60%;
}

main .box:nth-of-type(1) .ani .cloud p:nth-of-type(3) {
  left: 85%;
  top: 30%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main .box:nth-of-type(1) .ani .cloud p:nth-of-type(4) {
  left: 70%;
  top: 10%;
}

main .box:nth-of-type(1) .ani .cloud p:nth-of-type(5) {
  left: 30%;
  top: 0%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main .box:nth-of-type(2) {
  position: relative;
  background: #000;
}

main .box:nth-of-type(2) .txt h2 {
  color: #fff;
}

main .box:nth-of-type(2) .txt a {
  color: #fff;
  background: url("../img/sign/main_goNext_w.png") no-repeat;
  background-size: auto 100%;
}

main .box:nth-of-type(2) .ani {
  overflow: hidden;
  position: relative;
  height: 220px;
}

main .box:nth-of-type(2) .ani ul {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .box:nth-of-type(2) .ani ul li {
  margin: 0 8px;
  border-radius: 70px;
}

main .box:nth-of-type(2) .ani ul .city {
  padding: 0 50px;
}

main .box:nth-of-type(2) .ani ul .txt {
  height: 20vh;
  padding: 0px 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box:nth-of-type(2) .ani ul .txt p {
  font-family: Noto Sans KR, sans-serif;
  font-size: 5vw;
  line-height: 5vw;
  color: #000;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
}

main .box:nth-of-type(2) .txt_fade {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .box:nth-of-type(2) .txt_fade p {
  font-family: Noto Sans KR, sans-serif;
  font-size: 15vw;
  line-height: 15vw;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
}

main .box:nth-of-type(3) .ani {
  position: relative;
  width: 100%;
  margin: auto;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box:nth-of-type(3) .ani .people {
  position: absolute;
  left: 30%;
  top: -20%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

main .box:nth-of-type(3) .ani .people p {
  -webkit-transition: .5s;
  transition: .5s;
}

main .box:nth-of-type(3) .ani .people p img {
  width: 100%;
}

main .box:nth-of-type(3) .ani .people p:nth-of-type(1),
main .box:nth-of-type(3) .ani .people p:nth-of-type(2),
main .box:nth-of-type(3) .ani .people p:nth-of-type(3) {
  opacity: 0;
  position: absolute;
}

main .box:nth-of-type(3) .ani .people p:nth-of-type(4) {
  opacity: 0;
}

main .box:nth-of-type(3) .ani .people p.active {
  opacity: 1;
}

main .box:nth-of-type(3) .ani .people p.active:nth-of-type(1) {
  left: 38%;
  top: -30%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .box:nth-of-type(3) .ani .people p.active:nth-of-type(2) {
  left: 0;
  bottom: -15%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .box:nth-of-type(3) .ani .people p.active:nth-of-type(3) {
  right: 0;
  bottom: -15%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .box:nth-of-type(3) .ani .people.active {
  left: 0%;
  top: -80px;
}

main .box:nth-of-type(3) .ani .arrow {
  position: absolute;
  left: 36%;
  top: -80px;
  opacity: 0;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
}

main .box:nth-of-type(3) .ani .arrow img {
  width: 100%;
}

main .box:nth-of-type(3) .ani .arrow.active {
  opacity: 1;
  width: 25%;
}

main .box:nth-of-type(3) .ani .light {
  position: absolute;
  left: 60%;
  top: -80px;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

main .box:nth-of-type(3) .ani .light p {
  display: inline-block;
  position: relative;
}

main .box:nth-of-type(3) .ani .light p img {
  width: 100%;
}

main .box:nth-of-type(3) .ani .light p span {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .box:nth-of-type(3) .ani .light p span img {
  width: 100%;
}

main .box:nth-of-type(3) .ani .light.active {
  width: 40%;
  opacity: 1;
}

main .etc {
  padding: 20px 40px;
  border-radius: 50px;
  width: 92%;
  margin: auto;
}

main .etc > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .etc > div ul li {
  width: 32%;
}

main .etc > div ul li a {
  font-family: Noto Sans KR, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

main .etc > div ul li h2 {
  font-family: Noto Sans KR, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

main .etc > div ul li p {
  font-family: Noto Sans KR, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #666;
}

main .etc > div ul li img {
  width: 100%;
}

main .etc .nopic {
  margin-bottom: 80px;
}

main .etc .pic ul li {
  position: relative;
}

main .etc .pic ul li a {
  position: absolute;
  left: 20px;
  top: 15px;
}

main .etc .pic ul li img {
  border-radius: 20px;
}

main .etc .pic ul li:nth-of-type(2) a {
  color: #000;
  font-weight: bold;
}

@media (max-width: 1440px) {
  main {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  main .big {
    position: relative;
    overflow: hidden;
  }
  main .big h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 2.8vw;
    line-height: 3.6vw;
    color: #fff;
    position: absolute;
    left: 120px;
    top: 100px;
    z-index: 100;
    color: #fff;
  }
  main .big .video {
    position: relative;
    height: 820px;
    overflow: hidden;
  }
  main .big .video iframe {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  main .big::after {
    content: '';
    display: block;
    width: 100%;
    height: 820px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  main .box {
    width: 92%;
    height: 600px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .box .txt {
    padding-left: 65px;
  }
  main .box .txt h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 2.8vw;
    line-height: 3.6vw;
    color: #000;
    margin: 0;
    padding-bottom: 35px;
  }
  main .box .txt a {
    font-family: Noto Sans KR, sans-serif;
    font-size: 1.2vw;
    line-height: 1.8vw;
    color: #444;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    padding-left: 42px;
    background: url("../img/sign/main_goNext_b.png") no-repeat;
    background-size: auto 100%;
  }
  main .box .ani {
    margin-bottom: 70px;
  }
  main .box:nth-of-type(1) {
    position: relative;
    overflow: hidden;
    -webkit-animation: changeColor 5s ease infinite normal;
            animation: changeColor 5s ease infinite normal;
  }
  @-webkit-keyframes changeColor {
    0% {
      background: #f1f1f1;
    }
    30% {
      background: #b7e2e0;
    }
    100% {
      background: white;
    }
  }
  @keyframes changeColor {
    0% {
      background: #f1f1f1;
    }
    30% {
      background: #b7e2e0;
    }
    100% {
      background: white;
    }
  }
  main .box:nth-of-type(1) .ani {
    width: 100%;
    height: 100%;
  }
  main .box:nth-of-type(1) .ani .rocket {
    -webkit-animation: moveRocket 5s ease infinite normal;
            animation: moveRocket 5s ease infinite normal;
    position: absolute;
    z-index: 10;
    left: 55%;
    top: 45%;
  }
  @-webkit-keyframes moveRocket {
    0% {
      -webkit-transform: scale(1.2) translate(0%, 0%);
              transform: scale(1.2) translate(0%, 0%);
    }
    3% {
      -webkit-transform: scale(1.2) translate(-5%, 0%);
              transform: scale(1.2) translate(-5%, 0%);
    }
    6% {
      -webkit-transform: scale(1.2) translate(5%, 0%);
              transform: scale(1.2) translate(5%, 0%);
    }
    9% {
      -webkit-transform: scale(1.2) translate(-5%, 0%);
              transform: scale(1.2) translate(-5%, 0%);
    }
    12% {
      -webkit-transform: scale(1.2) translate(0%, 0%);
              transform: scale(1.2) translate(0%, 0%);
    }
    15% {
      -webkit-transform: scale(1.2) translate(0%, -50%);
              transform: scale(1.2) translate(0%, -50%);
    }
    25% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    30% {
      -webkit-transform: scale(1.2) translate(0%, -30%);
              transform: scale(1.2) translate(0%, -30%);
    }
    32% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    100% {
      -webkit-transform: scale(1.2) translate(0%, -300%);
              transform: scale(1.2) translate(0%, -300%);
    }
  }
  @keyframes moveRocket {
    0% {
      -webkit-transform: scale(1.2) translate(0%, 0%);
              transform: scale(1.2) translate(0%, 0%);
    }
    3% {
      -webkit-transform: scale(1.2) translate(-5%, 0%);
              transform: scale(1.2) translate(-5%, 0%);
    }
    6% {
      -webkit-transform: scale(1.2) translate(5%, 0%);
              transform: scale(1.2) translate(5%, 0%);
    }
    9% {
      -webkit-transform: scale(1.2) translate(-5%, 0%);
              transform: scale(1.2) translate(-5%, 0%);
    }
    12% {
      -webkit-transform: scale(1.2) translate(0%, 0%);
              transform: scale(1.2) translate(0%, 0%);
    }
    15% {
      -webkit-transform: scale(1.2) translate(0%, -50%);
              transform: scale(1.2) translate(0%, -50%);
    }
    25% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    30% {
      -webkit-transform: scale(1.2) translate(0%, -30%);
              transform: scale(1.2) translate(0%, -30%);
    }
    32% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    100% {
      -webkit-transform: scale(1.2) translate(0%, -300%);
              transform: scale(1.2) translate(0%, -300%);
    }
  }
  main .box:nth-of-type(1) .ani .rocket img {
    width: 100%;
  }
  main .box:nth-of-type(1) .ani .cloud {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    opacity: 0.4;
  }
  main .box:nth-of-type(1) .ani .cloud p {
    position: absolute;
    -webkit-animation: moveCloud 5s ease infinite normal;
            animation: moveCloud 5s ease infinite normal;
  }
  @-webkit-keyframes moveCloud {
    0% {
      -webkit-transform: scale(1.2) translateY(-600%);
              transform: scale(1.2) translateY(-600%);
    }
    11% {
      -webkit-transform: scale(1.2) translateY(-600%);
              transform: scale(1.2) translateY(-600%);
    }
    40% {
      -webkit-transform: scale(1.2) translateY(-20%);
              transform: scale(1.2) translateY(-20%);
    }
    100% {
      -webkit-transform: scale(1.2) translateY(2000%);
              transform: scale(1.2) translateY(2000%);
    }
  }
  @keyframes moveCloud {
    0% {
      -webkit-transform: scale(1.2) translateY(-600%);
              transform: scale(1.2) translateY(-600%);
    }
    11% {
      -webkit-transform: scale(1.2) translateY(-600%);
              transform: scale(1.2) translateY(-600%);
    }
    40% {
      -webkit-transform: scale(1.2) translateY(-20%);
              transform: scale(1.2) translateY(-20%);
    }
    100% {
      -webkit-transform: scale(1.2) translateY(2000%);
              transform: scale(1.2) translateY(2000%);
    }
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(1) {
    left: 10%;
    top: 20%;
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(2) {
    left: 40%;
    top: 60%;
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(3) {
    left: 85%;
    top: 30%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(4) {
    left: 70%;
    top: 10%;
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(5) {
    left: 30%;
    top: 0%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  main .box:nth-of-type(2) {
    position: relative;
    background: #000;
  }
  main .box:nth-of-type(2) .txt h2 {
    color: #fff;
  }
  main .box:nth-of-type(2) .txt a {
    color: #fff;
    background: url("../img/sign/main_goNext_w.png") no-repeat;
    background-size: auto 100%;
  }
  main .box:nth-of-type(2) .ani {
    overflow: hidden;
    position: relative;
    height: 220px;
  }
  main .box:nth-of-type(2) .ani ul {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main .box:nth-of-type(2) .ani ul li {
    margin: 0 8px;
    border-radius: 70px;
  }
  main .box:nth-of-type(2) .ani ul .city {
    padding: 0 50px;
  }
  main .box:nth-of-type(2) .ani ul .txt {
    height: 20vh;
    padding: 0px 60px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .box:nth-of-type(2) .ani ul .txt p {
    font-family: Noto Sans KR, sans-serif;
    font-size: 5vw;
    line-height: 5vw;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
  }
  main .box:nth-of-type(2) .txt_fade {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(2) .txt_fade p {
    font-family: Noto Sans KR, sans-serif;
    font-size: 15vw;
    line-height: 15vw;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
  }
  main .box:nth-of-type(3) .ani {
    position: relative;
    width: 100%;
    margin: auto;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .box:nth-of-type(3) .ani .people {
    position: absolute;
    left: 30%;
    top: -20%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .people p {
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .people p img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .people p:nth-of-type(1),
  main .box:nth-of-type(3) .ani .people p:nth-of-type(2),
  main .box:nth-of-type(3) .ani .people p:nth-of-type(3) {
    opacity: 0;
    position: absolute;
  }
  main .box:nth-of-type(3) .ani .people p:nth-of-type(4) {
    opacity: 0;
  }
  main .box:nth-of-type(3) .ani .people p.active {
    opacity: 1;
  }
  main .box:nth-of-type(3) .ani .people p.active:nth-of-type(1) {
    left: 35%;
    top: -25%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main .box:nth-of-type(3) .ani .people p.active:nth-of-type(2) {
    left: 0;
    bottom: -15%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main .box:nth-of-type(3) .ani .people p.active:nth-of-type(3) {
    right: 0;
    bottom: -15%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main .box:nth-of-type(3) .ani .people.active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    left: 10%;
    top: -80px;
  }
  main .box:nth-of-type(3) .ani .arrow {
    position: absolute;
    left: 42%;
    top: -50px;
    opacity: 0;
    width: 0%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .arrow img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .arrow.active {
    opacity: 1;
    width: 25%;
  }
  main .box:nth-of-type(3) .ani .light {
    position: absolute;
    left: 60%;
    top: -80px;
    width: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .light p {
    display: inline-block;
    position: relative;
  }
  main .box:nth-of-type(3) .ani .light p img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .light p span {
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  main .box:nth-of-type(3) .ani .light p span img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .light.active {
    width: 40%;
    opacity: 1;
  }
  main .etc {
    padding: 20px 40px;
    border-radius: 50px;
    width: 92%;
    margin: auto;
  }
  main .etc > div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .etc > div ul li {
    width: 32%;
  }
  main .etc > div ul li a {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000;
  }
  main .etc > div ul li h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }
  main .etc > div ul li p {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
  }
  main .etc > div ul li img {
    width: 100%;
  }
  main .etc .nopic {
    margin-bottom: 80px;
  }
  main .etc .pic ul li {
    position: relative;
  }
  main .etc .pic ul li a {
    position: absolute;
    left: 20px;
    top: 15px;
  }
  main .etc .pic ul li img {
    border-radius: 20px;
  }
  main .etc .pic ul li:nth-of-type(2) a {
    color: #000;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  main .big {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  main .big h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 2.8vw;
    line-height: 3.6vw;
    color: #fff;
    position: absolute;
    left: 200px;
    top: 150px;
    z-index: 100;
    color: #fff;
  }
  main .big .video {
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
  }
  main .big .video iframe {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  main .big::after {
    content: '';
    display: block;
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
  }
  main .box {
    width: 95%;
    height: 350px;
    margin: auto;
    margin-top: 40px;
    background: #f1f1f1;
    border-radius: 30px;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .box .txt {
    width: 80%;
    margin: auto;
    padding-left: 0px;
    padding-bottom: 30px;
  }
  main .box .txt h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
  }
  main .box .txt a {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    padding-left: 30px;
    background: url("../img/sign/main_goNext_b.png") no-repeat;
    background-size: auto 100%;
  }
  main .box .ani {
    margin-bottom: 0px;
  }
  main .box:nth-of-type(1) {
    position: relative;
    overflow: hidden;
  }
  main .box:nth-of-type(1) .ani {
    width: 100%;
    height: 100%;
  }
  main .box:nth-of-type(1) .ani .rocket {
    -webkit-animation: moveRocket 5s ease infinite normal;
            animation: moveRocket 5s ease infinite normal;
    position: absolute;
    z-index: 10;
    left: 55%;
    top: 45%;
  }
  @-webkit-keyframes moveRocket {
    0% {
      -webkit-transform: scale(0.8) translate(0%, 0%);
              transform: scale(0.8) translate(0%, 0%);
    }
    3% {
      -webkit-transform: scale(0.8) translate(-5%, 0%);
              transform: scale(0.8) translate(-5%, 0%);
    }
    6% {
      -webkit-transform: scale(0.8) translate(5%, 0%);
              transform: scale(0.8) translate(5%, 0%);
    }
    9% {
      -webkit-transform: scale(0.8) translate(-5%, 0%);
              transform: scale(0.8) translate(-5%, 0%);
    }
    12% {
      -webkit-transform: scale(0.8) translate(0%, 0%);
              transform: scale(0.8) translate(0%, 0%);
    }
    15% {
      -webkit-transform: scale(0.8) translate(0%, -50%);
              transform: scale(0.8) translate(0%, -50%);
    }
    25% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    30% {
      -webkit-transform: scale(1.2) translate(0%, -30%);
              transform: scale(1.2) translate(0%, -30%);
    }
    32% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    100% {
      -webkit-transform: scale(1.2) translate(0%, -300%);
              transform: scale(1.2) translate(0%, -300%);
    }
  }
  @keyframes moveRocket {
    0% {
      -webkit-transform: scale(0.8) translate(0%, 0%);
              transform: scale(0.8) translate(0%, 0%);
    }
    3% {
      -webkit-transform: scale(0.8) translate(-5%, 0%);
              transform: scale(0.8) translate(-5%, 0%);
    }
    6% {
      -webkit-transform: scale(0.8) translate(5%, 0%);
              transform: scale(0.8) translate(5%, 0%);
    }
    9% {
      -webkit-transform: scale(0.8) translate(-5%, 0%);
              transform: scale(0.8) translate(-5%, 0%);
    }
    12% {
      -webkit-transform: scale(0.8) translate(0%, 0%);
              transform: scale(0.8) translate(0%, 0%);
    }
    15% {
      -webkit-transform: scale(0.8) translate(0%, -50%);
              transform: scale(0.8) translate(0%, -50%);
    }
    25% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    30% {
      -webkit-transform: scale(1.2) translate(0%, -30%);
              transform: scale(1.2) translate(0%, -30%);
    }
    32% {
      -webkit-transform: scale(1.2) translate(0%, -55%);
              transform: scale(1.2) translate(0%, -55%);
    }
    100% {
      -webkit-transform: scale(1.2) translate(0%, -300%);
              transform: scale(1.2) translate(0%, -300%);
    }
  }
  main .box:nth-of-type(1) .ani .rocket img {
    width: 100%;
  }
  main .box:nth-of-type(1) .ani .cloud {
    width: 100%;
    height: 100%;
    position: relative;
  }
  main .box:nth-of-type(1) .ani .cloud p {
    position: absolute;
    -webkit-animation: moveCloud 5s ease infinite normal;
            animation: moveCloud 5s ease infinite normal;
  }
  @-webkit-keyframes moveCloud {
    0% {
      -webkit-transform: scale(0.8) translateY(-600%);
              transform: scale(0.8) translateY(-600%);
    }
    11% {
      -webkit-transform: scale(0.8) translateY(-600%);
              transform: scale(0.8) translateY(-600%);
    }
    40% {
      -webkit-transform: scale(0.8) translateY(-20%);
              transform: scale(0.8) translateY(-20%);
    }
    100% {
      -webkit-transform: scale(0.8) translateY(2000%);
              transform: scale(0.8) translateY(2000%);
    }
  }
  @keyframes moveCloud {
    0% {
      -webkit-transform: scale(0.8) translateY(-600%);
              transform: scale(0.8) translateY(-600%);
    }
    11% {
      -webkit-transform: scale(0.8) translateY(-600%);
              transform: scale(0.8) translateY(-600%);
    }
    40% {
      -webkit-transform: scale(0.8) translateY(-20%);
              transform: scale(0.8) translateY(-20%);
    }
    100% {
      -webkit-transform: scale(0.8) translateY(2000%);
              transform: scale(0.8) translateY(2000%);
    }
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(1) {
    display: none;
    left: 25%;
    top: 15%;
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(2) {
    left: 15%;
    top: 20%;
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(3) {
    left: 30%;
    top: 10%;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(4) {
    left: 40%;
    top: 10%;
  }
  main .box:nth-of-type(1) .ani .cloud p:nth-of-type(5) {
    left: 70%;
    top: 10%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  main .box:nth-of-type(2) {
    position: relative;
    background: #000;
  }
  main .box:nth-of-type(2) .txt h2 {
    color: #fff;
  }
  main .box:nth-of-type(2) .txt a {
    color: #fff;
    background: url("../img/sign/main_goNext_w.png") no-repeat;
    background-size: auto 100%;
  }
  main .box:nth-of-type(2) .ani {
    overflow: hidden;
    position: relative;
    height: 220px;
  }
  main .box:nth-of-type(2) .ani ul {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main .box:nth-of-type(2) .ani ul li {
    margin: 0 8px;
    border-radius: 70px;
  }
  main .box:nth-of-type(2) .ani ul .city {
    padding: 0 50px;
  }
  main .box:nth-of-type(2) .ani ul .txt {
    height: 20vh;
    padding: 0px 60px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .box:nth-of-type(2) .ani ul .txt p {
    font-family: Noto Sans KR, sans-serif;
    font-size: 50px;
    line-height: 50px;
    color: #000;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
  }
  main .box:nth-of-type(2) .txt_fade {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(2) .txt_fade p {
    font-family: Noto Sans KR, sans-serif;
    font-size: 15vw;
    line-height: 15vw;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
  }
  main .box:nth-of-type(3) .ani {
    position: relative;
    width: 100%;
    margin: auto;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .box:nth-of-type(3) .ani .people {
    position: absolute;
    left: 30%;
    top: -20%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .people p {
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .people p img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .people p:nth-of-type(4) {
    opacity: 0;
  }
  main .box:nth-of-type(3) .ani .people p.active {
    opacity: 1;
  }
  main .box:nth-of-type(3) .ani .people p.active:nth-of-type(1) {
    left: -65%;
    top: 13%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  main .box:nth-of-type(3) .ani .people p.active:nth-of-type(2) {
    left: 0;
    bottom: -15%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  main .box:nth-of-type(3) .ani .people p.active:nth-of-type(3) {
    right: -65%;
    bottom: -15%;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  main .box:nth-of-type(3) .ani .people.active {
    left: 10%;
    top: 10px;
    width: 25%;
  }
  main .box:nth-of-type(3) .ani .arrow {
    position: absolute;
    left: 38%;
    top: 50px;
    opacity: 0;
    width: 0%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .arrow img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .arrow.active {
    opacity: 1;
    width: 25%;
  }
  main .box:nth-of-type(3) .ani .light {
    position: absolute;
    left: 60%;
    top: 40px;
    width: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .box:nth-of-type(3) .ani .light p {
    display: inline-block;
    position: relative;
    width: 50%;
  }
  main .box:nth-of-type(3) .ani .light p img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .light p span {
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  main .box:nth-of-type(3) .ani .light p span img {
    width: 100%;
  }
  main .box:nth-of-type(3) .ani .light.active {
    width: 40%;
    opacity: 1;
  }
  main .etc {
    width: 95%;
    margin: auto;
    padding: 0;
  }
  main .etc > div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .etc > div ul li {
    background: #f4f4f4;
    margin: 20px auto;
    width: 100%;
    padding: 0px 10px;
  }
  main .etc > div ul li a {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000;
  }
  main .etc > div ul li h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }
  main .etc > div ul li p {
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #666;
  }
  main .etc .pic ul li {
    position: relative;
  }
  main .etc .pic ul li a {
    position: static;
  }
  main .etc .pic ul li img {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
  }
  main .etc .pic ul li:nth-of-type(1) img {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main .etc .pic ul li:nth-of-type(2) a {
    color: #000;
    font-weight: bold;
  }
}
/*# sourceMappingURL=index.css.map */