@import url("common.css");
main {
  padding-top: 120px;
  padding-bottom: 120px;
}

main h2 {
  width: 60%;
  margin: auto;
  padding: 80px 0;
  font-family: Noto Sans KR, sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: #000;
}

main .big {
  width: 60%;
  margin: auto;
}

main .con {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

main .con .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .con .about .title {
  width: 25%;
}

main .con .about .title p {
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  white-space: pre-line;
  font-weight: 600;
}

main .con .about .explain {
  width: 75%;
}

.explain .detail p {
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 600;
}

.explain .detail span {
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #666;
  font-weight: 300;
}

.explain .btn {
  display: inline-block;
  border: 1px solid #000;
  margin: 25px 0;
  padding: 12px 15px;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  font-weight: 300;
}

.explain .btn span {
  display: inline-block;
  padding-left: 25px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.map .detail {
  width: 25%;
}

.map .detail p {
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 600;
}

.map .detail span {
  font-family: Noto Sans, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #666;
  font-weight: 300;
}

.map .pic {
  width: 75%;
  height: 280px;
}

@media (max-width: 1440px) {
  main {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  main h2 {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    font-family: Noto Sans KR, sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: #000;
  }
  main .big {
    width: 80%;
    margin: auto;
  }
  main .con {
    width: 70%;
    margin: auto;
    padding-top: 20px;
  }
  main .con .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .con .about .title {
    width: 25%;
  }
  main .con .about .title p {
    font-family: Noto Sans, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    white-space: pre-line;
    font-weight: 600;
  }
  main .con .about .explain {
    width: 75%;
  }
  .explain .detail p {
    font-family: Noto Sans, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
  }
  .explain .detail span {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #666;
    font-weight: 300;
  }
  .explain .btn {
    display: inline-block;
    border: 1px solid #000;
    margin: 25px 0;
    padding: 12px 15px;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    font-weight: 300;
  }
  .explain .btn span {
    display: inline-block;
    padding-left: 25px;
  }
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
  }
  .map .detail {
    width: 25%;
  }
  .map .detail p {
    font-family: Noto Sans, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
  }
  .map .detail span {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #666;
    font-weight: 300;
  }
  .map .pic {
    width: 75%;
    height: 280px;
  }
}

@media (max-width: 480px) {
  main h2 {
    width: 90%;
    margin: auto;
    padding: 40px 0;
    font-family: Noto Sans KR, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
  }
  main .big {
    width: 90%;
    margin: auto;
  }
  main .big p {
    width: 100%;
    margin: 0;
  }
  main .big p img {
    width: 100%;
  }
  main .con {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
  main .con .about {
    display: inline-block;
  }
  main .con .about .title {
    width: 100%;
    padding-bottom: 30px;
  }
  main .con .about .title p {
    font-family: Noto Sans, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin: 0;
    font-weight: 600;
    white-space: inherit;
  }
  main .con .about .explain {
    width: 100%;
  }
  .explain .detail p {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 0;
    font-weight: 600;
  }
  .explain .detail span {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    font-weight: 300;
  }
  .explain .btn {
    display: inline-block;
    border: 1px solid transparent;
    background: #eee;
    margin: 25px 0;
    padding: 12px 15px;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    font-weight: 700;
  }
  .explain .btn span {
    display: inline-block;
    padding-left: 25px;
  }
  .map {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .map .detail {
    width: 100%;
  }
  .map .title {
    width: 100%;
  }
  .map .title p {
    font-family: Noto Sans, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 600;
  }
  .map .title span {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 300;
  }
  .map .pic {
    width: 100%;
    height: 150px;
    border: none;
  }
  .map .pic iframe {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .map .pic iframe:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
  }
}
/*# sourceMappingURL=location_detail.css.map */