@import url('common.css');

@mixin font ($f,$s,$lh,$c){
    font-family: '#{$f}';
    font-size:$s;
    line-height: $lh;
    color: $c;
}


header a {color:#000 !important;}

main {padding-top:30px;}

legend{display: none;} // legend->h2 tag로 대체


main{
.login{

    background: #f9f9f9;

    padding-top: 100px;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    form{

        width: 43%;
        margin:auto;

        fieldset{

            padding: 60px 40px 70px 40px;
            background: #fff;
            border: 1px solid #e2e2e2;

            h2{
                margin: 0;
                @include font(Kakao Light,24px,24px,#000);
    }

            .data{

                padding-top: 30px;
                label{
                    display: inline-block;
                    padding-bottom:15px;
                    @include font(Kakao Light,16px,16px,#000);
                }

                div{
                    width: 100%;
                    border: 1px solid #e2e2e2;


                    input{
                        box-sizing: border-box;
                        width: 100%;
                        padding:15px;

                        border: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                    }
                }
            }

            ul{
                margin:0;
                padding-top: 50px;

                li{
                    position: relative;
                    @include font(Kakao Light,15px,15px,#000);
                    padding: 8px 20px;
                    a{
                        text-decoration-line: underline;
                        display: inline-block;

                    }
                }

                li:before{
                    content:'-';
                    display: inline-block;
                    position: absolute;
                    left:0;
                    top:5px;

                }
            }


        }

        button{
            display: inline-block;
            margin-top: 20px;
            width: 100%;
            padding:20px 0;
            background: #e6e6e6;
            border: none;
            @include font(Kakao Light,18px,18px,#000);

        }

    }
}
}