@import url('common.css');

@media(max-width:1024px) {}

main {}

.title {
    background: #c4b7ae;
}

.title h1 {
    text-transform: uppercase;
    width: 80%;
    margin: 100px auto;
    font-size: 18px;
    padding: 10px 0 10px 50px;
}

.content {
    width: 50%;
    margin: 0 auto 250px auto;


}

.content > p {
    margin-top: 60px;
    font-size: 3em;
    text-transform: capitalize;
}



main {
    position: relative;
    z-index: 0;
}

main .content:after {
    content: '';
    width: 80%;
    height: 117%;
    background: #c4a790;
    opacity: 0.2;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-45%);

    z-index: -1;
}

.content .txt_1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
}

.txt_1 > div {
    width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt_1 > div p {}

.txt_1 > div p:nth-of-type(2) {
    font-size: 12px;
    line-height: 24px;

    margin-bottom: 70px;
}

.txt_1 > div p img {
    width: 100%;
}

.txt_1 > p {
    width: 30%;

}

.txt_1 > p > img {
    width: 100%;

}



.content .txt_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    /*    margin-bottom: 250px;*/
}

.txt_2 > p {}

.txt_2 > p:nth-of-type(1) {
    width: 65%;
}

.txt_2 > p > img {
    width: 100%;
}

.txt_2 > p:nth-of-type(2) {
    width: 30%;
    /*    margin-bottom: 70px;*/
    font-size: 12px;
    line-height: 24px;
}

















/*-----------------------------------------------tablet : 768px----------------------------------------------------------*/

@media(max-width:768px) {

    

    .title {
        width: 100%;
    }

    .title h1 {
        width: 90%;
        margin: 80px auto;
        padding: 10px 0;
    }

    .content {
        width: 90%;
        margin: 0 auto 200px auto;
    }

    main .content:after {
        display: none;
    }

    .content > p {
        margin: 0;
    }

    .content .txt_1,
    .content .txt_2 {
        display: block;
    }

    .content .txt_1 {

        margin-bottom: 20px;
    }

    .content .txt_1 > div,
    .content .txt_1 > p,
    .content .txt_2 > p {
        width: 100%;
    }




}

















/*-----------------------------------------------mobile : 480px----------------------------------------------------------*/

@media(max-width:480px) {

 

    .title {
        width: 100%;
    }

    .title h1 {
        width: 90%;
        margin: 80px auto;
        padding: 10px 0;
    }

    .content {
        width: 90%;
        margin: 0 auto 200px auto;
    }

    main .content:after {
        display: none;
    }

    .content > p {
        margin: 0;
    }

    .content .txt_1,
    .content .txt_2 {
        display: block;
    }

    .content .txt_1 {

        margin-bottom: 20px;
    }

    .content .txt_1 > div,
    .content .txt_1 > p,
    .content .txt_2 > p {
        width: 100%;
    }




}
