/*오른편에 광고배너 추가할 것*/

@import url('common.css');


.title {
    background: #c4b7ae;


}

.title h1 {
    text-transform: uppercase;
    width: 80%;
    margin: 100px auto 0 auto;
    font-size: 18px;
    padding: 10px 0 10px 50px;

    display: flex;
    align-items: center;
}

.title h1 p {
    margin: 0;
    display: inline-block;
}

.title h1 img {
    padding-left: 7px;
    padding-bottom: 3px;
}

/*content*/

main {
    background: url('../img/cart/background.jpg') no-repeat;
    height: auto;
}


.content {
    width: 60%;
    margin: auto;

}

.content > p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    margin: 50px 0;
}

.content .cart {
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}


.content thead {
    background: rgba(221, 213, 206, 1);



}

.content tbody {
    background: rgba(236, 229, 223, 0.5);

}


.cart {
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);
}

.content .cart tr th {
    padding: 10px;
}


tbody tr td {
    padding: 35px;
}

tbody tr td > input {}

tbody tr td:nth-of-type(2) {}

tbody tr td:nth-of-type(2) p {
    width: 20%;
    margin: auto;
}

tbody tr td:nth-of-type(2) p img {
    width: 100%;
}

tbody tr td:nth-of-type(3) {
    text-align: left;
}

tbody tr td:nth-of-type(3) h2 {
    margin: 10px 0;
    font-size: 1.3em;
    font-family: 'Julius Sans One', sans-serif;
}

tbody tr td:nth-of-type(3) p {
    margin: 0;
}

tbody tr td:nth-of-type(5) input {
    width: 30px;
    text-align: center;
}


tfoot {

    background: rgba(221, 213, 206, 1);

}

tfoot td:nth-of-type(2) {
    text-align: left;
}

tfoot td:nth-of-type(2) p:nth-of-type(2) {
    text-decoration-line: underline;
}



tfoot td:nth-of-type(3) a {
    background: #000;
    color: #fff;

    padding: 5px 13px;
    text-transform: capitalize;
    /*    font-family: 'Julius Sans One', sans-serif;*/
}















/*-----------------------------------------------mobile : 768px----------------------------------------------------------*/

@media(max-width:768px) {}














/*-----------------------------------------------mobile : 480px----------------------------------------------------------*/

@media(max-width:480px) {


    .title {
        width: 100%;
    }

    .title h1 {
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .content > p {
        font-size: 18px;
        margin: 30px 10px;
    }
    
    .content .cart tr th {
    padding: 10px 0;
}

    thead {
        padding: 0;
    }

    thead tr {
        display: flex;
    }

    thead tr th:nth-of-type(1) {
        display: block;
        width: 10%;
        padding: 0;
    }

    thead tr th:nth-of-type(2) {
        display: block;
        width: 90%;
    }

    thead tr th:nth-of-type(3),
    thead tr th:nth-of-type(4),
    thead tr th:nth-of-type(5) {
        display: none;
    }




    /*
    .content .cart {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
            box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.3);

    }
    .content .cart tr th {
        padding: 10px;
    }

    tbody tr td {
        padding: 35px;
    }


*/


    .cart {
        display: block;
    }
    
    tbody{width: 100%;}
    tbody tr td{padding: 10px 0;}

    tbody tr {
        display: flex;
        height: 300px;
    }

    tbody tr td:nth-of-type(1) {
        display: block;
        width: 10%;
        height: 100%;

    }

    tbody tr td:nth-of-type(2) {
        display: block;
        width: 40%;
        height: 100%;
        padding: 0;
    }

    tbody tr td:nth-of-type(2) img {
        width: 100%;
    }

    tbody tr td:nth-of-type(3) {
        padding: 0;
    }

    tbody tr td:nth-of-type(3) .txt h2 {
        font-size: 14px;
    }

    tbody tr td:nth-of-type(3) .txt p {
        display: none;
    }

    tbody tr td:nth-of-type(4) {
        font-size: 14px;
    }

    thead tr th:nth-of-type(6),
    tbody tr td:nth-of-type(6) {
        display: none;
    }


    tfoot {
        display: flex;
        width: 100%;
        height: auto;
        background: transparent;

        padding: 30px 30px;
    }

    tfoot tr {}



    tfoot tr td:nth-of-type(1) {
        width: 100%;
        display: block;
        text-align: left;

    }

    tfoot tr td:nth-of-type(2) {
        width: 100%;
        display: block;
    }

    tfoot tr td:nth-of-type(3) {
        display: block;
        text-align: right;
    }


    tfoot tr td:nth-of-type(3) a {
        display: inline-block;
        padding: 5px 13px;
    }
    
  


    /*
    tfoot tr td:nth-of-type(1) {
        display: inline-block;
        width: 30%;

        float: left;
    }

    tfoot tr td:nth-of-type(2) {
        width: 65%;
        float: right;
    }

    tfoot tr td:nth-of-type(2):after {
        content: '';
        display: block;
        clear: both;
    }

    tfoot tr td:nth-of-type(3) {
        position: absolute;
        right:3%;
        bottom: 8%;
    }
*/


    /*



    tbody tr td > input {}

    tbody tr td:nth-of-type(2) {}

    tbody tr td:nth-of-type(2) p {
        width: 20%;
        margin: auto;
    }

    tbody tr td:nth-of-type(2) p img {
        width: 100%;
    }

    tbody tr td:nth-of-type(3) {
        text-align: left;
    }

    tbody tr td:nth-of-type(3) h2 {
        margin: 10px 0;
        font-size: 1.3em;
        font-family: 'Julius Sans One', sans-serif;
    }

    tbody tr td:nth-of-type(3) p {
        margin: 0;
    }

    tbody tr td:nth-of-type(5) input {
        width: 30px;
        text-align: center;
    }


    tfoot {

        background: rgba(221, 213, 206, 1);

    }

    tfoot td:nth-of-type(2) {
        text-align: left;
    }

    tfoot td:nth-of-type(2) p:nth-of-type(2) {
        text-decoration-line: underline;
    }



    tfoot td:nth-of-type(3) a {
        background: #000;
        color: #fff;

        padding: 5px 13px;
        text-transform: capitalize;
            font-family: 'Julius Sans One', sans-serif;
    }
*/













}
