@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
/*font-family: 'Raleway', sans-serif;*/


html,body{
    background: #ece5df;
    font-family: 'Raleway', sans-serif;
}



/*style*/

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

ul,li{
    list-style-type: none;
}


/*font*/

ul,
li,
a {
    font-size: 18px;
}
