@import url('common.css');

/*display:none;*/
.keyword:nth-of-type(2),
.keyword:nth-of-type(3),
.keyword:nth-of-type(4),
.keyword:nth-of-type(5),
.keyword:nth-of-type(6),
.keyword:nth-of-type(7) {
    display: none;
}








main {
    margin-bottom: 50px;

    position: relative;


}

.title {
    background: #c4b7ae;
}

.title h1 {
    text-transform: uppercase;
    width: 80%;
    margin: 100px auto 0 auto;
    font-size: 18px;
    padding: 10px 0 10px 50px;
}

.background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background .content {

    width: 50%;
    height: 400px;
    margin: auto;

    background: #e4dcd6;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.content .con {
    width: 80%;
    height: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;

    position: relative;
}

.content .con .search {
    width: 65%;
    height: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}


.search .find {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #ece5df;
}

.search .find > h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 10px 0;


}

.search .find > h1 > p {
    margin: 0;
    display: inline-block;
}

.search .find > h1 p:nth-of-type(2) {
    width: 15px;
}

.search .find > h1 p img {
    width: 100%;
}


.search .find .in {}

.search .find .in select {
    padding: 3px 5px;
}

.search .find .in select option {}

.search .find .in input {
    width: 45%;
    padding: 3px 5px;

}

.search .keyword {
    width: 100%;
    background: #ece5df;
    padding: 5px 0;


}

.search .keyword h2 {
    padding-left: 30px;
    font-size: 1em;

}

.search .keyword h2 p {
    display: inline-block;
    margin: 0;
}

.search .keyword ul {}

.search .keyword ul li {
    padding: 5px 0;
    font-size: 12px;
}

.content .con .ad {

    width: 30%;
    background: url('../img/search/ad.jpg') no-repeat rgba(255, 254, 242, 1);
    background-size: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}



.ad > h2 {
    font-family: 'Julius Sans One', sans-serif;
    white-space: pre-line;
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 10px 30px;
}

.ad .txt {}

.ad .txt p {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    margin: 20px 0;
    font-size: 14px;

}

.ad .txt a {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 7px 0;

    text-transform: capitalize;


}



.content .off {
    position: absolute;
    right: 1%;
    top: 5%;
}

.content .off span {
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
}

.content .off span:nth-of-type(1) {
    transform: rotate(45deg) translate(5%, 100%);
}

.content .off span:nth-of-type(2) {
    transform: rotate(-45deg);
}



/*-----------------------------------------------mobile : 768px----------------------------------------------------------*/

@media(max-width:768px) {

    .title {
        width: 100%;
    }

    .title h1 {
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;
    }


    .background .content {

        width: 80%;
        height: 400px;
        margin: auto;

        background: #e4dcd6;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }



    .content .con {
        width: 80%;
        height: 80%;
        margin: auto;

        display: flex;
        justify-content: space-between;

        position: relative;
    }

    .content .con .search {
        width: 100%;
        height: 100%;
    }


    /*ad*/
    .content .con .ad {

        width: 30%;
        height: 60%;
        background: url('../img/search/ad.jpg') no-repeat rgba(255, 254, 242, 1);
        background-size: 100%;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        right: 1%;
        bottom: 1%;


    }



    .ad > h2 {
        white-space: normal;
        font-size: 14px;
        line-height: 28px;
        padding: 0 10px;
    }


    .ad .txt p {
        text-align: center;
        margin: 0;
        font-size: 14px;
        background: #000;
        color: #fff;
        padding: 5px 0;
    }

    .ad .txt a {
        display: none;
    }

    .content .off {
        position: absolute;
        right: 3%;
        top: 5%;
    }





}




/*-----------------------------------------------mobile : 480px----------------------------------------------------------*/

@media(max-width:480px) {



    .title {
        width: 100%;
    }

    .title h1 {
        width: 80%;
        margin: 0px auto;
        padding: 10px 0;
    }


    .background .content {

        width: 90%;
        height: 70%;
        margin: auto;

        background: #ece5df;

        display: block;
        position: relative;
    }


    .content .con {
        width: 100%;
        height: 100%;
        margin: 0;

        display: block;
        position: relative;
    }

    .content .con .search {

        justify-content: center;
        width: 100%;
        height: 80%;
        padding-top: 10px;
    }



    .search .find {
        width: 100%;
        padding: 0;
        text-align: center;
    }


    .search .find > h1 {
        font-family: 'Julius Sans One', sans-serif;
        font-weight: bolder;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 10px 0;


    }

    .search .find > h1 > p {
        margin: 0;
        display: inline-block;
    }

    .search .find > h1 p:nth-of-type(2) {
        width: 15px;
    }

    .search .find > h1 p img {
        width: 100%;
    }


    .search .find .in {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .search .find .in select {
        padding: 3px 5px;
        margin-bottom: 7px;


    }

    .search .find .in select option {}

    .search .find .in input {
        width: 100%;
        padding: 3px 5px;
    }

    .search .keyword {
        width: 100%;
        margin: 15px 0 0 0;


    }

    .search .keyword h2 {
        padding-left: 30px;
        font-size: 12px;
        margin: 0;

    }

    .search .keyword h2 p {
        display: inline-block;
        margin: 0;
    }

    .search .keyword ul {
        margin: 5px 0;
    }

    .search .keyword ul li {
        padding: 5px 0;
        font-size: 12px;
    }


    /*ad*/
    .content .con .ad {

        width: 288px;
        height: 80px;
        margin: 0 auto;
        background: url('../img/search/ad.jpg') no-repeat rgba(255, 254, 242, 1);
        background-size: 22%;
        background-position: right;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        left:0; bottom: 0;


    }

    .ad > h2 {
        white-space: normal;
        font-size: 20px;
        line-height: 20px;
        margin: 0;

        position: absolute;
        left: 3%;
        top: 28%;

    }


    .ad .txt {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

    }

    .ad .txt p {
        display: block;

        text-align: center;
        margin: 0;
        font-size: 12px;
        background: rgba(0, 0, 0, 1);
        color: #fff;
        padding: 5px 0;
        width: auto;


    }

    .ad .txt a {
        display: none;
    }

    .content .off {
        position: absolute;
        right: 3%;
        top: 5%;
    }





}
