@import url('common.css');


header {}

header > div {
    /* header div이라고하면 모든 div에게 명령줌, > div이라고 해야 직계에게 명령줌*/
    width: 1170px;
    margin: 70px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div h1 {}

header div h1 a {}

header div nav {}

header div nav ul {
    /*네비 가로정렬시 float,inline-block이 가장 무난, flex를 쓸경우 나중에 복잡해질수있음*/

}

header div nav ul li {
    display: inline-block;
    /*이렇게하니까 ul이 알아서 커졌음*/
    vertical-align: top;
    /*  inline-block은 하단정렬이어서, 서브메뉴 넣었을 때 문제방지를 위해 top정렬*/

    position: relative;
}

header div nav ul li > a {
    padding: 20px;
    /* margin넣으면 주위에 커서올려도 클릭불가능, padding은 준 크기만큼 a영역이확장되어서 가능*/
    display: inline-block;
    /* a tag는 inline요소라서 width,height는 먹지않고, margin,padding은 에러발생->inline-block으로설정해줄것*/
}

/*div안의 a에 명령하는 것을 방지하기 위해 여기서도 li > a라고 함*/
header div nav ul li div {
    border: 1px solid#000;
    border-bottom: none;
    position: absolute;
    left: 0;
    top: 120%;
    /* 빈공간이 있으면 hover하려고할때 서브메뉴가 사라짐 / 위로 올라가면서 나타나는효과를 위해 top:120%;*/
    width: 100%;
    /* div가 블록요소여도 absolute상태인 경우는 widtht설정해줘야함*/
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: .5s;
}

header div nav ul li:hover div {
    opacity: 1;
    top: 98%;
}



header div nav ul li div a {
    display: block;
    border-bottom: 1px solid#000;
    padding: 10px;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 50px;
    /*깔끔하게하겠다하면 width,height조절, 그냥간단하게하곘다하면 transform:scale()로 조절*/
    height: 44px;
    transform: scale(0.3);
    /*현재사이즈에서 40%가 날라감->해당요소를 줄이거나 키우기가능(1=100%를의미)*/
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    /*	top: 20px;*/
    top: 50%;
    transform: translateY(-50%);
    /*부모의 크기를 바꿔도 알아서 항상 가운데지점을 찾아감*/
    width: 70%
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
    width: 85%;
}








.spot {
    width: 100%;
    height: 750px;
    background: url('../img/big.png') no-repeat;
}

.spot article {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    padding: 50px 60px;

    position: relative;
    top: 30%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.spot article h2 {}

.spot article h2 span {
    float: right;
}

.spot article h2 span a {
    background: url('../img/icon.png') no-repeat;
    display: inline-block;
    /*width,height 주기 위해*/
    width: 15px;
    height: 15px;
    font-size: 0;
    margin:0 5px;
}

.spot article h2 span a:nth-of-type(2) {
    background-position: -33px 0;
}

.spot article h2 span a:nth-of-type(3) {
    background-position: -70px 0;
}


.spot article figure {
    margin: 0;
}

.spot article figure p {
    margin-top: 100px;
}

.spot article figure p img {
    width: 100%;
}

.spot article figure figcaption {
    white-space: pre-line;
    /*줄바꿈 속성(html에 쓴것대로 반영되는듯)*/
}

.spot article figure figcaption strong {}

.spot article figure figcaption a {}

.spot article figure figcaption a mark {
    background: #fed38e;
}
