/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


*{box-sizing: border-box;}
html,body{
    margin:0;                           /*기본으로 여백 없애주기*/
    /* background: #000; */
    font-family: 'Noto Sans KR', sans-serif;

}

ul,li{
    margin:0; padding:0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0; padding:0;
}                                           /*h1,h2,h3,h4,h5,h6,p 여백있는 것들 없애주기*/

a{
    text-decoration: none;               /* 하이퍼링크 파란색상 빼주기*/
    color:#555;                          /*베이직컬러, 완전한 블랙은 잘 사용안함*/
}


*{
    box-sizing: border-box;               /*padding을 넣음으로서 박스크기가 변형되는 것을 방지*/
}                                /*  *{} : 모든태그에게 명령, 기본정의-우선순위가 높아서, 명령이 세짐 (해결방법이 있긴하지만 많으면조잡해보일수있음)*/

