@import url('common.css');


/* ========== header ========== */


header{
    padding: 20px 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

header .head{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .head .logo{
    margin-top: 10px;
    width: 15%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

/* header .head .logo .logo_txt{width: 60%;}*/
header .head .logo .logo_img{margin-left: 5px;}
header .head .logo span img{
    width: 100%;
}
header .head nav{color: #fff; font-size: 18px;}
header .head nav ul{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    list-style: none;
}
header .head nav ul li{padding: 0 20px;}
header .head .burger{display: none;}

/* ========== main ========== */

main{}
main .big_ban{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 500;
}

main .big_ban:before{
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: #fff;
    position: absolute;
    left: 50%;
    top:35%;
    z-index: 700;
}
main .big_ban .txt{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;   
    justify-content: center;
    text-align: center;
}

main .big_ban .txt h1{
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

main .big_ban .txt p{
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

main .big_ban .ban_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


main .big_ban .ban_img img{
    width: 100%;
    height: 100%;
}

main .scroll_down{
    width: 22px;
    height: 55px;
    position: absolute;
    left: 50%;
    bottom: 4%;
}
main .scroll_down img{width: 100%; height: 100%;}



/* con_stay */

.con_stay{
    width: 100%; height: 100vh;
    padding-top: 120px;
    margin-bottom: 220px;
    position: relative;
}

.con_stay .title{
    padding-left: 180px;
    margin-bottom: 35px;
}
.con_stay .title span{
    color: #666;
    font-weight: 100;
    font-size: 32px;

}
.con_stay .title h2{
    margin: 0;
    font-size: 80px;
    color: #222;
    line-height: 80px;
}

.con_stay .menu{
    position: absolute;
    left: 70%;
    top: 22%;
}
.con_stay .menu .list_rooms{
    font-size: 24px;
    font-weight: 300;
    color: #555;
    line-height: 48px;
    text-transform: uppercase;
}
.con_stay .menu .list_rooms li{
    /* transition: .5s; */
    position: relative;
    z-index: 100;
}

.con_stay .menu .list_rooms li::before{
    display: none;
    content: url(../img/symbol/arrow_go_page_g.png);
    position: absolute;
    left: -100px;
    top: -10px;
}

.con_stay .menu .list_rooms li.active::before{
    display: block;
}

.con_stay .menu .list_rooms li::after{
    content: '';
    display: inline-block;
    width: 0%;
    height: 8px;
    background: rgba(210,210,210,0.7);

    position: absolute;
    z-index: -50;
    left: 0;
    bottom: 5px;
    transition: .5s;
}

/* .con_stay .menu .list_rooms li:before{
    content: ;
    display: block;
} */

.con_stay .menu .list_rooms li.active{
    display: block;
    font-weight: 900;
    font-size: 36px;
    color: #b3965a;
}
.con_stay .menu .list_rooms li.active::after{
    width: 100%;
}

.con_stay .menu .list_rooms li.active :before{
    display: block;
}

.con_stay .menu .list_rooms li:hover::after{
    width: 100%;
}

.con_stay .menu .list_rooms li:hover{
    font-weight: 900;
    font-size: 36px;
    color: #555;
}

.con_stay .menu .list_rooms li.active:hover{
    color: #b3965a;
}

.con_stay .img{
    overflow: hidden;
    position: relative;
}

.con_stay .img .sticker{
    position: absolute;
    left: 4%;
    top: 0;
}
.con_stay .img ul{
    display: flex;

}
.con_stay .img ul li{
    width: 57%;
    flex: 0 0 auto;
    /* border: 1px solid #000; */
    /* background: #000; */
    margin-right: 34%;
}
.con_stay .img ul li img{width: 100%;}


.con_stay .img .btn{
    position: absolute;
    left: 45%;
    bottom: 0;
}
.con_stay .img .btn a{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    transition: .5s;
    /* background: url('../img/con_stay/btn_arrow_left.png') no-repeat; */
}

.con_stay .img .btn a:hover{
    background: rgba(0,0,0,0.9);
}

.con_stay .img .btn .arrow_left:before{
    content: url('../img/con_stay/btn_arrow_left.png');
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.con_stay .img .btn .arrow_right:before{
    content: url('../img/con_stay/btn_arrow_right.png');
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.con_stay .txt{
    position: relative;
    z-index: 100;
    margin: 50px 0 0 10%;    
}
.con_stay .txt .page_num{
    position: absolute;
    left: -95px;
    top: -20px;
    z-index: -50;
    font-size:100px;
    font-weight: 700;
    color: #eee;
    line-height: 100px;
}
.con_stay .txt div{
    color: #666;
    text-transform: uppercase;
}
.con_stay .txt div h2{
    font-weight: 900;
    font-size: 18px;
}
.con_stay .txt div p{
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
}
.con_stay .stay_promotion{
    width: 400px;
    position: absolute;
    left: 67%;
    top: 53%;
    height: 500px ;
    background: #f0f0f0;
}
.con_stay .stay_promotion .side{
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: 100;
    width: 500px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: left top;
    text-transform: uppercase;
}
.con_stay .stay_promotion .con{
    padding-left: 20px;
    width: 100%;
    height: 100%;
}
.con_stay .stay_promotion .con .txt{
    height: 50%;
    padding: 40px 50px 40px 60px;
    margin: 0;
}
.con_stay .stay_promotion .con .txt h2{
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.con_stay .stay_promotion .con .txt p{
    font-size: 14px;
    color: #666;
    margin-bottom: 35px;

}
.con_stay .stay_promotion .con .txt span{
    font-size: 14px;
    color: #666;
}
.con_stay .stay_promotion .con .img{
    width: 100%;
    height: 50%;
    background: #000;
}
.con_stay .stay_promotion .con .img img{
    width: 100%;
}

/* con_shop */


.con_shop{
    padding: 120px 0 100px 0;
    position: relative;
    background: #e6ebec;
}
.con_shop .title{
    width: 40%;
    margin: auto;
    position: absolute;
    left: 0%;
    top: 230px;
    margin: auto;
    margin: 30px 0 0 20%;
    padding-left: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.con_shop .title:before{
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background: #333;
    position: absolute;
    left: 50%;
    top: -50%;
}
.con_shop .title h2{
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 900;
    color: #333;
}
.con_shop .title span{
    font-size: 18px;
    color: #777;
}

.con_shop .boxes_shop{
    width: 98%;
    margin: auto;

    display: flex;
    /* white-space: ; */
    flex-wrap: wrap;
}
.con_shop .boxes_shop .box{
    width: 20%;
    padding: 15px;
    position: relative;
}

.con_shop .boxes_shop .box_1{
    margin-right: 40%;
}
.con_shop .boxes_shop .box_2{width: 40%;}

.con_shop .boxes_shop .box .thumb_img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}
.con_shop .boxes_shop .box .thumb_img p{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.con_shop .boxes_shop .box .thumb_img p img{
    width: 100%;
    height: 100%;
}
.con_shop .boxes_shop .box .thumb_img span{
    position: absolute;
    z-index: 100;
    left: 15px;
    bottom: 15px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
/*    transition: .5s;*/
}



.con_shop .boxes_shop .box:hover .thumb_img span{
    z-index:150;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    font-size: 28px;
}

.con_shop .boxes_shop .box .thumb_img .hover_effect{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border: 1px solid #fff;

    position: absolute;
    z-index: -50;
    left: 0px;
    top: 0px;
    transition: .5s;
}

.con_shop .boxes_shop .box:hover .thumb_img .hover_effect{
    z-index:130;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
}

.con_shop .boxes_shop .box .thumb_img .hover_effect a{
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%,0);
    display: inline-block;
    padding: 10px 10%;
    margin: auto;
    color: #fff;
    background: rgba(0,0,0,0.4);
}

/*banner_1*/

.banner_1{
    width: 100%;
    background: url('../img/banner/promotion1.png') no-repeat;
}
.banner_1 .txt{}
.banner_1 .txt span{}
.banner_1 .txt h2{}
.banner_1 .txt p{}
.banner_1 .txt a{}





/*
        <div class="banner banner_1">
            <div class="txt">
                <span>be rewarded as you spend</span>
                <h2>sands rewards lifestyle</h2>
                <p>Earn up to 10% instant Reward Dollars at over 250 participating outlets including shopping, dining, hotel stays and more!</p>
                <a href="#">learn more</a>
            </div>
        </div>
*/


/*con_eat_drink*/

.con_eat_drink{
    padding: 120px 0 180px 0;
    width: 80%;
    margin: auto;
    position: relative;
}

.con_eat_drink .title{
    position: absolute;
    left: 0%;
    top: 9%;
    width: 550px;
    padding-left: 100px;
    margin-bottom: 35px;
}
.con_eat_drink .title span{
    color: #666;
    font-weight: 100;
    font-size: 32px;

}
.con_eat_drink .title h2{
    margin: 0;
    font-size: 80px;
    color: #222;
    line-height: 80px;
    margin-bottom: 20px;
}

.con_eat_drink .title p{}

.con_eat_drink .cate{
    position: absolute;
    left: 10%;
    top: 25%;
}
.con_eat_drink .cate ul{}
.con_eat_drink .cate ul li{}

.con_eat_drink .list{
    width: 100%;
    height: auto;
}
.con_eat_drink .list ul{
    display: none;
    height: auto;
}
.con_eat_drink .list ul.active{
    display: block;
}
.con_eat_drink .list ul li{}
.con_eat_drink .list ul li:nth-of-type(1){
    margin-top: 150px;
    margin-left: 610px;
    width: 355px;
    float: left;
}
.con_eat_drink .list ul li:nth-of-type(2){
    width: 525px;
    float: right;
}
.con_eat_drink .list ul li:nth-of-type(3){
    margin-left: 130px;
    margin-top: 50px;
    width: 835px;
    float: left;
}

.con_eat_drink .list ul li .thumb_img{
    width: 100%;
}
.con_eat_drink .list ul li .thumb_img p{
    width: 100%;
}
.con_eat_drink .list ul li .thumb_img p img{
    width: 100%;
}
.con_eat_drink .list ul li .thumb_img span{}
.con_eat_drink .list ul li .thumb_img .hover_effect{}
.con_eat_drink .list ul li .thumb_img .hover_effect .txt{}
.con_eat_drink .list ul li .thumb_img .hover_effect .txt p{}
.con_eat_drink .list ul li .thumb_img .hover_effect a{}


.con_eat_drink .list ul li .thumb_img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}
.con_eat_drink .list ul li .thumb_img p{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.con_eat_drink .list ul li .thumb_img p img{
    width: 100%;
    height: 100%;
}
.con_eat_drink .list ul li .thumb_img span{
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center; 
    display: block;
    width: 100%;
    height: 100%;
/*    transition: .5s;*/
}



.con_eat_drink .list ul li:hover .thumb_img span{
    z-index:150;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    font-size: 28px;
}

.con_eat_drink .list ul li .thumb_img .hover_effect{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border: 1px solid #fff;

    position: absolute;
    z-index: -50;
    left: 0px;
    top: 0px;
    transition: .5s;
}

.con_eat_drink .list ul li:hover .thumb_img .hover_effect{
    z-index:130;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
}

.con_eat_drink .list ul li .thumb_img .hover_effect a{
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%,0);
    display: inline-block;
    padding: 10px 10%;
    margin: auto;
    color: #fff;
    background: rgba(0,0,0,0.4);
}

.con_eat_drink .list:after{
    content: '';
    display: block;
    clear: both;

}




/*con_event_activities*/

.con_event_activities{
    overflow: hidden;
    padding: 170px 0 140px 0;
    display: flex;
    position: relative;
    /* z-index: 100; */
}

.con_event_activities:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/etc/event_activities_bg.jpg') no-repeat;
    background-position: right;
    opacity: 0.25;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;

}

.con_event_activities .title{
    width: 49%;
    padding: 0 7% 0 20%;
}
.con_event_activities .title h2{
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 900;
    color: #333;
    line-height: 65px;
    margin-bottom: 20px;

}

.con_event_activities .title span{
    font-size: 18px;
    color: #222;
}

.con_event_activities .border{
    width: 51%;
    overflow: hidden;
    position: relative;
}

.con_event_activities .title .indi{
    width: 85%;
    margin-top: 180px;
}
.con_event_activities .title .indi span{
    display: inline-block;
    width: 18%;
    height: 2px;
    margin: 0 2px;
    background: #666;
    transition: 2s;
    position: relative;
}
.con_event_activities .title .indi span:before{
    content: '';
    display: inline-block;
    width: 0%;
    height: 100%;
    background: #111;
    position: absolute;
    left: 0;
    top: -50%;
    transition: .5s;
}

.con_event_activities .title .indi span.active:before{
    height: 200%;
    width: 100%;
}



.con_event_activities .border .boxes_event{
    width: 204%;
    display: flex;
    flex-wrap: nowrap;    
}


.con_event_activities .border .boxes_event .box{
    width: 20%;
    padding-right: 1%;
}
.con_event_activities .border .boxes_event .box > p{
    width: 100%;
}
.con_event_activities .border .boxes_event .box p img{}
.con_event_activities .border .boxes_event .box .txt{}
.con_event_activities .border .boxes_event .box .txt h2{
    margin-top: 30px;
}
.con_event_activities .border .boxes_event .box .txt p{
        margin-top: 10px;
}








footer{}
footer .foot{
    width: 100%;
    height: 800px;
    background: #eee;
}















