@import url('common.css');



/* ================================================================ main */
body{position: relative; overflow: hidden;}

main {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
}

main article {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
}

main article .title {
    padding-left: 180px;
    margin-bottom: 35px;
}


main .big_ban {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 500;
}

main .big_ban:before {
    content: '';
    display: block;
    width: 1px;
    height: 60px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 700;
}

main .big_ban .txt {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main .big_ban .txt h1 {
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

main .big_ban .txt p {
    color: #fff;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

main .big_ban .ban_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main .big_ban .ban_img img {
    width: 100%;
    height: 100%;
}

main .scroll_down {
    width: 22px;
    height: 55px;
    position: absolute;
    left: 50%;
    bottom: 4%;
}

main .scroll_down img {
    width: 100%;
    height: 100%;
}


/*------------------------------------------------------------------------ con_stay */

.con_stay {
    width: 100%;
    padding-top: 80px;
    position: relative;
}

.con_stay .title {
    padding-left: 180px;
    margin-bottom: 35px;
}

.con_stay .title span {
    color: #666;
    font-weight: 100;
    font-size: 32px;
}

.con_stay .title h2 {
    margin: 0;
    font-size: 80px;
    color: #222;
    line-height: 80px;
}

.con_stay .menu {
    position: absolute;
    left: 68%;
    top: 16%;
}

.con_stay .menu .list_rooms {
    font-size: 24px;
    font-weight: 300;
    color: #555;
    line-height: 48px;
    text-transform: uppercase;
}

.con_stay .menu .list_rooms li {
    /* transition: .5s; */
    position: relative;
    z-index: 100;
}

.con_stay .menu .list_rooms li::before {
    display: none;
    content: url(../img/symbol/arrow_go_page_g.png);
    position: absolute;
    left: -100px;
    top: -10px;
}

.con_stay .menu .list_rooms li.active::before {
    display: block;
}

.con_stay .menu .list_rooms li::after {
    content: '';
    display: inline-block;
    width: 0%;
    height: 8px;
    background: rgba(210, 210, 210, 0.7);
    position: absolute;
    z-index: -50;
    left: 0;
    bottom: 5px;
    transition: .5s;
}


/* .con_stay .menu .list_rooms li:before{
    content: ;
    display: block;
} */

.con_stay .menu .list_rooms li.active {
    display: block;
    font-weight: 900;
    font-size: 36px;
    color: #b3965a;
}

.con_stay .menu .list_rooms li.active::after {
    width: 100%;
}

.con_stay .menu .list_rooms li.active :before {
    display: block;
}

.con_stay .menu .list_rooms li:hover::after {
    width: 100%;
}

.con_stay .menu .list_rooms li:hover {
    font-weight: 900;
    font-size: 36px;
    color: #555;
}

.con_stay .menu .list_rooms li.active:hover {
    color: #b3965a;
}

.con_stay .img {
    overflow: hidden;
    position: relative;
}

.con_stay .img .sticker {
    position: absolute;
    left: 4%;
    top: 0;
}

.con_stay .img ul {
    display: flex;
    position: relative;
    transition: .5s;
    left: 0;
    top: 0;
}

.con_stay .img ul li {
    width: 57%;
    flex: 0 0 auto;
    /* border: 1px solid #000; */
    /* background: #000; */
    margin-right: 34%;
}

.con_stay .img ul li img {
    width: 100%;
}

.con_stay .img .btn {
    position: absolute;
    left: 45%;
    bottom: 0;
}

.con_stay .img .btn a {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    transition: .5s;
    /* background: url('../img/con_stay/btn_arrow_left.png') no-repeat; */
}

.con_stay .img .btn a:hover {
    background: rgba(0, 0, 0, 0.9);
}

.con_stay .img .btn .arrow_left:before {
    content: url('../img/con_stay/btn_arrow_left.png');
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.con_stay .img .btn .arrow_right:before {
    content: url('../img/con_stay/btn_arrow_right.png');
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.con_stay .txt {
    position: relative;
    z-index: 100;
    margin: 50px 0 0 10%;
}

.con_stay .txt .page_num {
    position: absolute;
    left: -95px;
    top: -20px;
    z-index: -50;
    font-size: 100px;
    font-weight: 700;
    color: #eee;
    line-height: 100px;
}

.con_stay .txt div {
    color: #666;
    text-transform: uppercase;
}

.con_stay .txt div h2 {
    font-weight: 900;
    font-size: 18px;
}

.con_stay .txt div p {
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
}

.con_stay .stay_promotion {
    width: 370px;
    position: absolute;
    left: 64.5%;
    top: 42%;
    height: 500px;
    background: #f0f0f0;
}

.con_stay .stay_promotion .side {
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: 100;
    width: 500px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: left top;
    text-transform: uppercase;
}

.con_stay .stay_promotion .con {
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.con_stay .stay_promotion .con .txt {
    height: 50%;
    padding: 40px 50px 40px 60px;
    margin: 0;
}

.con_stay .stay_promotion .con .txt h2 {
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.con_stay .stay_promotion .con .txt p {
    font-size: 14px;
    color: #666;
    margin-bottom: 35px;
}

.con_stay .stay_promotion .con .txt span {
    font-size: 14px;
    color: #666;
}

.con_stay .stay_promotion .con .img {
    width: 100%;
    height: 50%;
    background: #000;
}

.con_stay .stay_promotion .con .img img {
    width: 100%;
    height: 100%;
}


/*------------------------------------------------------------------------ con_eat_drink */

.con_eat_drink {
    padding: 120px 0 180px 0;
    width: 100%;
    margin: auto;
    position: relative;
    background-attachment: scroll;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.con_eat_drink:after {
    content: url('../img/etc/eat_drink_bg.jpg');
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.15;
    z-index: -50;
    transform: scale(1.5);
}

.con_eat_drink .title {
    /* position: absolute; */
    /* left: 10%; */
    /* top: 10%; */
    /* width: 550px; */
    /* padding-left: 100px; */
    /* margin-bottom: 35px; */
}

.con_eat_drink .title span {
    color: #666;
    font-weight: 100;
    font-size: 32px;
}

.con_eat_drink .title h2 {
    margin: 0;
    font-size: 80px;
    color: #222;
    line-height: 80px;
    margin-bottom: 20px;
}

.con_eat_drink .title p {}

.con_eat_drink .cate {
    position: absolute;
    left: 18%;
    top: 32%;
}

.con_eat_drink .cate ul {
    text-transform: uppercase;
    margin-left: 50px;
}

.con_eat_drink .cate ul li {
    position: relative;
    padding: 3px 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    /* transition: .5s; */
    position: relative;
    z-index: 100;
    font-weight: 200;
    font-size: 24px;
    color: #333;
}

.con_eat_drink .cate ul li::before {
    content: url('../img/symbol/arrow_go_page_g.png');
    display: none;
    position: absolute;
    left: -110px;
    top: -8px;
}

.con_eat_drink .cate ul li:hover {
    color: #666;
    font-weight: 900;
    font-size: 28px;
}

.con_eat_drink .cate ul li.active {
    color: #b3965a;
    font-weight: 900;
    font-size: 40px;
}

.con_eat_drink .cate ul li.active::before {
    display: block;
}

.con_eat_drink .list {
    width: 75%;
    margin: auto;
    height: 1000px;
    margin-top: 30px;
    position: relative;
}

.con_eat_drink .list ul {
    position: absolute;
    left: 0;
    top: -15%;
    opacity: 0;
    height: auto;
    transition: .5s;
}

.con_eat_drink .list ul li {
    transition: .5s;
}


/* active */

.con_eat_drink .list ul.active {
    opacity: 1;
}

.con_eat_drink .list ul li:nth-of-type(1) {
    margin-top: 0px;
    margin-left: 610px;
    width: 355px;
    float: left;
    transform: translate(0, -50px);
}

.con_eat_drink .list ul li:nth-of-type(2) {
    margin-top: 60px;

    width: 450px;
    float: right;
    transform: translate(50px, 0);
}

.con_eat_drink .list ul li:nth-of-type(3) {
    margin-left: 370px;
    margin-top: 20px;
    width: 600px;
    float: left;
    transform: translate(-50px, 0);
}

.con_eat_drink .list ul:nth-of-type(1) li:nth-of-type(1) {
    margin-top: 100px;
    margin-left: 550px;
    width: 400px;
    float: left;
    transform: translate(0, 200px);
}

.con_eat_drink .list ul:nth-of-type(1) li:nth-of-type(2) {
    margin-left: 15px;

    margin-top: 60px;
    width: 400px;
    float: right;
    transform: translate(0, -200px);
}
.con_eat_drink .list ul:nth-of-type(1).active li {
    transform: translate(0, 0);

}


/* active */

.con_eat_drink .list ul.active li {
    transform: translate(0, 0);
}

.con_eat_drink .list ul li .thumb_img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

.con_eat_drink .list ul li .thumb_img p {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.con_eat_drink .list ul li .thumb_img p img {
    width: 100%;
    height: 100%;
}

.con_eat_drink .list ul li .thumb_img>span {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*    transition: .5s;*/
    background: rgba(0, 0, 0, 0.4);
}

.con_eat_drink .list ul li .thumb_img span a {
    color: #fff;
}

.con_eat_drink .list ul li .thumb_img .hover_effect {
    width: 100%;
    height: 100%;
    /* background: rgba(0,0,0,0.4);
    border: 1px solid #fff; */
    position: absolute;
    z-index: -50;
    left: 0px;
    top: 0px;
    transition: .5s;
}

.con_eat_drink .list ul li .thumb_img .hover_effect:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #fff;
    position: absolute;
    z-index: -70;
    left: 0px;
    top: 0px;
    /* transition: .5s; */
}


/* hover */

.con_eat_drink .list ul li:hover .thumb_img span {
    z-index: 150;
    transform: translate(-50%, -30%);
    font-size: 28px;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
}

.con_eat_drink .list ul li:hover .thumb_img .hover_effect {
    z-index: 130;
    left: 10px;
    top: 10px;
}

.con_eat_drink .list ul li .thumb_img .hover_effect .txt {
    position: absolute;
    z-index: 500;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);
}

.con_eat_drink .list ul li .thumb_img .hover_effect .txt p {
    box-shadow: none !important;
    color: #fff;
}

.con_eat_drink .list ul li .thumb_img .hover_effect a {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, 0);
    display: inline-block;
    padding: 10px 10%;
    margin: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

.con_eat_drink .list:after {
    content: '';
    display: block;
    clear: both;
}


/*------------------------------------------------------------------------ con_see_do */

.con_see_do {
    position: relative;
    padding: 180px 0 180px 0;
    display: flex;
}

.con_see_do .title {
    position: relative;
    width: 35%;
    padding: 0px 0 30px 200px;
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.4); */
}

.con_see_do .title span {
    color: #666;
    font-weight: 100;
    font-size: 32px;
}

.con_see_do .title h2 {
    margin: 0;
    font-size: 80px;
    color: #222;
    line-height: 80px;
    margin-bottom: 20px;
}

.con_see_do .title p {}



.con_see_do .tabs {
    position: absolute;
    right: 0;
    top: 25%;
    width: 800px;
    height: 520px;
}

.con_see_do.active .tabs {
    background: transparent;
    /* background: url('../img/con_see_do/box_observation_deck2.jpg') no-repeat; */
    /* box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.8); */
    transition: 1s 1s;
    width: 800px;

}

.con_see_do .tabs.active-start {
    width: 1300px;
    transition: 1s;

}



.con_see_do .tabs ul {
    transition: .5s;
    position: absolute;
    right: -100%;
    top:0%;
    width: 100%;
    height: 100%;
    display: flex;
    background: url('../img/con_see_do/box_observation_deck2.jpg') no-repeat;
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.8);

    /*    background-position: center;*/
    background-size: cover;
}

.con_see_do.active .tabs ul {
    right: 0;
}





.con_see_do .tabs ul li {
    overflow: hidden;
    /* position: absolute;
    right: 0;
    top: 0; */
    width: 100px;
    height: 100%;
    background: rgba(33, 33, 33, 0.8);
    border: 1px solid #fff;
    transition: 1s;
}

.con_see_do .tabs ul li:nth-of-type(1) {transform: translateX(700px);}
.con_see_do .tabs ul li:nth-of-type(2) {transform: translateX(600px);}
.con_see_do .tabs ul li:nth-of-type(3) {transform: translateX(500px);}
.con_see_do .tabs ul li:nth-of-type(4) {transform: translateX(400px);}
.con_see_do .tabs ul li:nth-of-type(5) {transform: translateX(300px);}
.con_see_do .tabs ul li:nth-of-type(6) {transform: translateX(200px);}
.con_see_do .tabs ul li:nth-of-type(7) {transform: translateX(100px);}
.con_see_do .tabs ul li:nth-of-type(8) {transform: translateX(0px);}
.con_see_do.active .tabs ul li {transform: translateX(0px);}


/* .con_see_do.active .tabs ul li:nth-of-type(1) {right: 0;}
.con_see_do.active .tabs ul li:nth-of-type(2) {right: 100px;}
.con_see_do.active .tabs ul li:nth-of-type(3) {right: 200px;}
.con_see_do.active .tabs ul li:nth-of-type(4) {right: 300px;}
.con_see_do.active .tabs ul li:nth-of-type(5) {right: 400px;}
.con_see_do.active .tabs ul li:nth-of-type(6) {right: 500px;}
.con_see_do.active .tabs ul li:nth-of-type(7) {right: 600px;}
.con_see_do.active .tabs ul li:nth-of-type(8) {right: 700px;} */




.con_see_do .tabs.active-start li.active {
    transition: 1s;

    width: 51%;
    background: transparent;
    background: rgba(233, 233, 233, 0.3);
}

.con_see_do .tabs ul li h2 {
    width: 500px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    transform: translate(68px, 520px) rotate(-90deg);
    transform-origin: left;
    text-align: right;
}

.con_see_do .tabs ul li .detail {
    /* height: 100%; */
    display: none;
    color: #fff;
    color: #000;
}
.con_see_do .tabs ul li .detail p{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.con_see_do .tabs ul li .detail span{}


/* :active */

.con_see_do .tabs ul li.active h2 {
    display: none;
}

.con_see_do .tabs ul li.active .detail {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 500px;
    position: relative;
}

.con_see_do .tabs ul li .detail p {
    padding-top: 120px;
}

.con_see_do .tabs ul li .detail span {
    opacity: 0;
    display: inline-block;
    padding: 50px 60px 40px 60px;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    transition: .5s;
}
.con_see_do .tabs ul li.active .detail span {
    opacity: 1;
    transition: .5s 1s;
}


.con_see_do .tabs ul li .detail a {
    color: #fff;
    background: #000;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 7px 0;
    font-size: 14px;

}


/* 
<section class="tabs">
    <ul>
        <li>
            <h2>Skypark Deck</h2>
            <div class="detail">
                <p>Skypark Deck</p>
                <span>Take in panoramic vistas of the Marina Bay area, the vibrant colours of Gardens by the Bay and a bird’s-eye view of the Singapore Strait.</span>
                <a href="#">learn more</a> */


/*------------------------------------------------------------------------ con_event_activities */

.con_event_activities {
    overflow: hidden;
    padding: 250px 0 140px 0;
    display: flex;
    position: relative;
    /* z-index: 100; */
}

.con_event_activities:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/etc/event_activities_bg.jpg') no-repeat;
    background-position: right;
    opacity: 0.25;
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.con_event_activities .title {
    width: 49%;
    padding: 0 7% 0 20%;
}

.con_event_activities .title h2 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 900;
    color: #333;
    line-height: 65px;
    margin-bottom: 20px;
}

.con_event_activities .title span {
    font-size: 18px;
    color: #222;
}

.con_event_activities .border {
    width: 51%;
    /* overflow: hidden; */
    position: relative;
}

.con_event_activities .title .indi {
    width: 85%;
    margin-top: 180px;
}

.con_event_activities .title .indi span {
    display: inline-block;
    width: 18%;
    height: 2px;
    margin: 0 2px;
    background: #666;
    transition: 2.5s;
    position: relative;
}

.con_event_activities .title .indi span:before {
    content: '';
    display: inline-block;
    width: 0%;
    height: 100%;
    background: #111;
    position: absolute;
    left: 0;
    top: -50%;
    transition: 0s;
}

.con_event_activities .title .indi span.active:before {
    height: 200%;
    width: 100%;
    transition: 2s;
}

.con_event_activities .border .btn_next{
    z-index: 1000;
    position: absolute;
    right: 2%;
    top: 35%;
    transform: translate(0,0%);
}
.con_event_activities .border .btn_next span{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,0.3);
    position: relative;
}
.con_event_activities .border .btn_next span:before{
    content: url(../img/symbol/arrow_right.png);

    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}



.con_event_activities .border .boxes_event {
    width: 204%;
    display: flex;
    flex-wrap: nowrap;
    transition: .5s;

}

.con_event_activities .border .boxes_event .box {
    opacity: 0.5;
    width: 20%;
    padding-right: 1%;
    transition: .5s;
}
.con_event_activities .border .boxes_event .box:nth-of-type(1) {
    opacity: 1;
}

.con_event_activities .border .boxes_event .box>p {
    line-height: 0;
    width: 100%;
    transition: .5s;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);


}

.con_event_activities .border .boxes_event .box p img {
    width: 100%;
    height: 100%;
}

.con_event_activities .border .boxes_event .box .txt {}

.con_event_activities .border .boxes_event .box .txt h2 {
    margin-top: 30px;
}

.con_event_activities .border .boxes_event .box .txt p {
    margin-top: 10px;
}


/*------------------------------------------------------------------------ con_shop */

.con_shop {
    padding: 120px 0 190px 0;
    position: relative;
    /* background: #e6ebec; */
    background: #636674;
}

.con_shop .title {
    width: 40%;
    margin: auto;
    position: absolute;
    left: 0%;
    top: 230px;
    margin: auto;
    margin: 30px 0 0 20%;
    padding-left: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.con_shop .title:before {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background: #333;
    position: absolute;
    left: 50%;
    top: -50%;
}

.con_shop .title h2 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 900;
    color: #333;
}

.con_shop .title span {
    font-size: 18px;
    color: #777;
}

.con_shop .boxes_shop {
    width: 98%;
    margin: auto;
    display: flex;
    /* white-space: ; */
    flex-wrap: wrap;
}

.con_shop .boxes_shop .box {
    width: 20%;
    padding: 15px;
    position: relative;
}

.con_shop .boxes_shop .box_1 {
    margin-right: 40%;
}

.con_shop .boxes_shop .box_2 {
    width: 40%;
}

.con_shop .boxes_shop .box .thumb_img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

.con_shop .boxes_shop .box .thumb_img p {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.con_shop .boxes_shop .box .thumb_img p img {
    width: 100%;
    height: 100%;
}

.con_shop .boxes_shop .box .thumb_img span {
    position: absolute;
    z-index: 100;
    left: 15px;
    bottom: 15px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    /*    transition: .5s;*/
}

.con_shop .boxes_shop .box:hover .thumb_img span {
    z-index: 150;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}

.con_shop .boxes_shop .box .thumb_img .hover_effect {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
    position: absolute;
    z-index: -50;
    left: 0px;
    top: 0px;
    transition: .5s;
}

.con_shop .boxes_shop .box:hover .thumb_img .hover_effect {
    z-index: 130;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
}

.con_shop .boxes_shop .box .thumb_img .hover_effect a {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, 0);
    display: inline-block;
    padding: 10px 10%;
    margin: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

.con_shop p,
.con_shop a,
.con_shop span,
.con_shop h2 {
    color: #fff !important;
}


/*------------------------------------------------------------------------banner_1*/

.banner_1 {
    width: 100%;
    height: 500px;
    background: url('../img/banner/banner_1.jpg') no-repeat;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.banner_1 .txt {
    color: #333;
    padding-top: 120px;
    margin-left: 1080px;
    text-transform: uppercase;
    width: 700px;
}

.banner_1 .txt span {
    text-decoration-line: underline;
    /* color: #ee6322 */
}

.banner_1 .txt h2 {
    font-size: 48px;
    margin: 20px 0;
    text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.4);
}

.banner_1 .txt p {
    text-transform: capitalize;
    margin-bottom: 30px;
}

.banner_1 .txt a {
    font-size: 14px;
    padding: 10px 30px 10px 30px;
    color: #fff;
    display: inline-block;
    background: rgba(218, 81, 16, 0.9);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    /* #ee6322 */
}

.banner_1 .txt a:after {
    content: url('../img/symbol/arrow_go_page_w.png');
    display: inline-block;
    margin-left: 20px;
}
