/*

|   화면너비 축소시 배열 흐트러짐 다른방법?
|   content 세로에서 가운데배열
|   header{position : fixed;}

*/



@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/*font-family: 'Julius Sans One', sans-serif;*/


/**/

html,
body {
    background: #ece5df;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}



/*style*/

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

ul,
li {
    list-style-type: none;
}


/*font*/

ul,
li,
a {
    font-size: 18px;
}











/*style*/


html,
body {
    position: relative;

    margin: 0;
}

body {
    margin-top: 120px;
    margin-bottom: 100px;
}

/*==============header===============*/

header {
    /*        position: fixed;*/

    width: 100%;
    background: #ece5df;

    position: relative;
    z-index: 100;

    position: fixed;
    left: 0;
    top: 0;

    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

header:hover nav div ul {
    opacity: 1;

    left: 50px;
    top: 10px;

}

header .whole {
    position: relative;
    z-index: 1000;

}




.whole {
    width: 100%;
    background: #ece5df;
    position: relative;
    z-index: 1300;

}



.head {


    background: #ece5df;
    width: 80%;
    margin: auto;
    padding: 40px 0 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 1500;



}

.head .burg {
    display: none;
}


.head > a {
    display: inline-block;
    width: 180px;
}

.head > a img {
    width: 180px;
}









/*nav*/
nav {
    display: flex;
    position: relative;

    margin-left: 80px;
}

nav div {
    position: relative;
    display: inline-block;
    padding-right: 30px;
}

nav div > a {
    padding: 0 60px;
    display: inline-block;
    width: 100px;
}

nav div > a:hover {
    color: rgb(196, 167, 144);
}

nav div > ul {
    padding: 0;
    margin: 40px auto;
    position: absolute;
    left: 50px;
    top: -20px;
    opacity: 0;
    transition: .5s;
}

nav div > ul li {

    padding-left: 40px;
    position: relative;
}

nav div > ul li :hover {}


nav > div > ul li a {
    font-size: 14px;

    display: inline-block;
    padding: 10px 0;
}

nav > div > ul li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: rgb(196, 167, 144);
    border-radius: 100%;

    position: absolute;
    left: 15%;
    top: 40%;

    opacity: 0;
    transition: .5s;
}

nav > div > ul li:hover:before {
    opacity: 1;
}



/*others*/

.others {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.others .icon {
    display: flex;
}

.others .icon a {
    padding: 10px;
}

.others .icon a img {}

.others .lang {
    margin-left: 20px;

    position: relative;

}

.others .lang:hover ul {
    opacity: 1;
}

.others .lang > a {
    padding: 2px 6px;

    color: white;
    background: black;
}

.others .lang ul {
    padding: 0;
    text-transform: uppercase;
    opacity: 0;
    transition: .5s;

    position: absolute;
    left: 0;
    top: 20px;


}

.others .lang ul li {}

.others .lang ul li a {
    display: inline-block;
    padding: 5px 10px;
}

.others .lang ul li:hover a {
    color: rgb(196, 167, 144);

}








/*hide*/
header:hover .head_2 {
    opacity: 1;
    left: 0;
    top: 100px;
}

.head_2 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    opacity: 0;
    transition: .5s;
    background: #ece5df;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);

    /*    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.4);*/
}

.head_2 .hide {
    width: 80%;
    margin: auto;
}

.head_2 .hide p {
    width: 25%;
    margin: 0;
    font-size: 0;
}

.head_2 .hide p img {
    width: 100%;
}







.head .burg {
    display: none;
}




/*=============footer=================*/

footer {
    width: 100%;
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;

    font-size: 12px;
}

.foot {
    width: 70%;
    margin: auto;
    padding: 15px 0;
    color: #ece5df;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot a {
    color: #ece5df;
    font-size: 14px;

}

.foot > a img {}

.foot .info {
    position: relative;
}

.foot .info:after {
    content: '';
    display: inline-block;
    background: #333;
    width: 2px;
    height: 50px;

    position: absolute;
    right: -40px;
    top: 5px;

}

.foot .info p {
    margin: 0 0 20px 0;
}

.foot .info .service {}

.foot .info .service a {
    padding-right: 15px;
    font-size: 12px;

}

.foot .subscribe {
    position: relative;
}

.foot .subscribe:after {
    content: '';
    display: inline-block;
    background: #333;
    width: 2px;
    height: 50px;

    position: absolute;
    right: -50px;
    top: 5px;

}

.foot .subscribe p {
    margin: 0;
}

.foot .subscribe p {
    margin: 0 0 15px 0;
}

.foot .subscribe input {

    width: 250px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ece5df;

    background: black;
    color: #ece5df;
}

.foot .subscribe a {
    display: inline-block;
    width: 15px;


}

.foot .subscribe a img {
    width: 100%;
}

.foot .sns {}

.foot .sns a {
    padding: 0 10px;
}

.foot .sns a img {}





/*====================================768===============================================*/

@media(max-width:768px) {

    * {
        box-sizing: border-box;
    }


    


    html {}

    body {
        margin-top: 140px;
        margin-bottom: 0px;

    }

    header {
        /*        position: fixed;*/

        width: 100%;
        background: #ece5df;

        position: relative;
        z-index: 100;

        position: fixed;
        left: 0;
        top: 0;

        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    }

    /*
header:hover nav div ul {
    opacity: 1;

    left: 50px;
    top: 10px;

}
*/

    header .whole {

        position: relative;
        z-index: 1000;


    }


    .whole {
        width: 100%;
        background: #ece5df;
        position: relative;
        z-index: 1300;

    }



    .head {


        background: #ece5df;
        width: 90%;
        margin: auto;
        padding: 40px 0 5px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;


        position: static;



    }


    .head .burg {
        display: block;
        width: 10%;
    }

    .head .burg .burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background: #000;
    }

    .burg .menu {
        opacity: 1;
        width: 40%;
        height: 100vh;
        background: #ece5df;
        display: block;

        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;

        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.4);
    }



    .burg .menu div {
        position: static;

        margin: 40px 50px;

        display: inline-block;
    }

    .burg .menu div:nth-of-type(1) {
        margin-top: 0px;
    }

    .burg .menu div > a {
        padding: 20px 0;
        display: block;
        width: 100%;
    }

    .burg .menu div > a:hover {
        color: rgb(196, 167, 144);
    }

    .burg .menu div > ul {
        padding: 0;
        margin: auto;
        position: static;

        opacity: 1;

    }

    .burg .menu div > ul li {

        padding-left: 20px;
        position: relative;
    }



    .burg .menu > div > ul li a {
        font-size: 14px;

        display: inline-block;
        padding: 5px 0;
    }



    .burg .menu {
        display: none;
    }


    /*logo*/

    .head > a {
        width: 15%;
        margin-left: 0px;
    }

    .head > a img {
        width: 100%;
    }




    /*nav*/



    .head {
        position: relative;
    }

    .head nav {
        position: fixed;
        left: 0;
        top: 40px;
        margin: 0;
        transform: translateY(100%);

        width: 100%;
        background: #ece5df;
        height: 50px;
        

        
    }

    .head nav div {
        padding: 0;
        margin: 0;

        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .head nav div:nth-of-type(1) {
        width: 30%;
    }

    .head nav div:nth-of-type(2) {
        width: 40%;
    }

    .head nav div:nth-of-type(3) {
        width: 40%;
    }

    .head nav div a {
        padding: 0;
        font-size: 18px;
    }

    .head nav div ul {
        display: none;
    }







    /*others*/

    .others {
        width: 75%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .others .icon {
        display: flex;
    }

    .others .icon a {
        padding: 10px;
    }

    .others .icon a img {}

    .others .lang {
        margin-left: 20px;

        position: relative;

    }

    .others .lang:hover ul {
        opacity: 1;
    }

    .others .lang > a {
        padding: 2px 6px;

        color: white;
        background: black;
    }

    .others .lang ul {
        padding: 0;
        text-transform: uppercase;
        opacity: 0;
        transition: .5s;

        position: absolute;
        left: 0;
        top: 20px;


    }

    .others .lang ul li {}

    .others .lang ul li a {
        display: inline-block;
        padding: 5px 10px;
    }

    .others .lang ul li:hover a {
        color: rgb(196, 167, 144);

    }








    /*hide*/
    header:hover .head_2 {
        opacity: 0;
    }



    /*=============footer=================*/

    footer {
        width: 100%;
        background: black;
        position: static;
        left: 0;
        bottom: 0;
        z-index: 100;

        font-size: 12px;
    }


    .foot {
        width: 80%;
        height: 180px;
        margin: 0 auto;
        padding: 50px 0;
        color: #ece5df;

        display: block;

    }

    .foot > a {
        float: left;
        width: 15%;
        height: 100%;

        color: #ece5df;
        font-size: 14px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .foot > a img {}

    .foot .info {
        float: left;
        width: 40%;
        height: 100%;

        padding: 0 20px;


        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .foot .info:after {
        display: none;
    }

    .foot .info p {

        margin: 0 0 20px 0;
    }

    .foot .info .service {}

    .foot .info .service a {
        padding-right: 15px;
        font-size: 12px;

    }

    .foot .subscribe {
        position: relative;
        height: 50%;

        float: left;
        width: 45%;

        /*
                        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
*/

    }

    .foot .subscribe:after {
        display: none;
    }

    .foot .subscribe p {
        margin: 0;
    }

    .foot .subscribe p {
        margin: 0 0 5px 0;
    }

    .foot .subscribe input {

        width: 250px;
        padding: 0;
        border: none;
        border-bottom: 1px solid #ece5df;

        background: black;
        color: #ece5df;
    }

    .foot .subscribe a {
        display: inline-block;
        width: 15px;


    }

    .foot .subscribe a img {
        width: 100%;
    }

    .foot .sns {
        float: left;

        margin: 10px auto;
        width: 45%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .foot .sns a {
        padding: 0 10px;
    }

    .foot .sns a img {}
















}

/*====================================480===============================================*/

@media (max-width:480px) {



    * {
        box-sizing: border-box;
    }






    html {}

    body {
        margin-top: 105px;
        margin-bottom: 0px;

    }

    header {
        /*        position: fixed;*/

        width: 100%;
        background: #ece5df;

        position: relative;
        z-index: 100;

        position: fixed;
        left: 0;
        top: 0;

        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    }

    /*
header:hover nav div ul {
    opacity: 1;

    left: 50px;
    top: 10px;

}
*/

    header .whole {


        width: 100%;
        background: #ece5df;
        position: relative;
        z-index: 1300;

    }



    .head {


        background: #ece5df;
        width: 90%;
        margin: auto;
        padding: 20px 0 5px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;


        position: relative;



    }




    .head .burg {
        display: block;
        width: 10%;
    }

    .head .burg .burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background: #000;
    }

    .burg .menu {
        opacity: 1;
        width: 100%;
        height: 100vh;
        background: #ece5df;
        display: block;

        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;

        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
        box-shadow: none;
    }



    .burg .menu div {
        position: static;

        margin: 10px 50px;
        width: 100%;

        display: inline-block;
    }

    .burg .menu div:nth-of-type(1) {
        margin-top: 0px;
    }

    .burg .menu div > a {
        padding: 20px 0;
        display: block;
        width: 100%;
    }

    .burg .menu div > a:hover {
        color: rgb(196, 167, 144);
    }

    .burg .menu div > ul {
        padding: 0;
        margin: auto;
        position: static;

        opacity: 1;

    }

    .burg .menu div > ul li {

        padding-left: 20px;
        position: relative;
    }



    .burg .menu > div > ul li a {
        font-size: 14px;

        display: inline-block;
        padding: 5px 0;
    }



    .burg .menu {
        display: none;
    }


    /*logo*/

    .head > a {
        width: 25%;
        margin-left: 10px;
    }

    .head > a img {
        width: 100%;
    }



    /*nav*/



    .head nav {
        position: fixed;
        left: 0;
        top: 35px;
        margin: 0;
        transform: translateY(100%);

        width: 100%;
        background: #ece5df;
        height: 35px;
    }

    .head nav div {
        padding: 0;
        margin: 0;

        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .head nav div:nth-of-type(1) {
        width: 30%;
    }

    .head nav div:nth-of-type(2) {
        width: 40%;
    }

    .head nav div:nth-of-type(3) {
        width: 40%;
    }

    .head nav div a {
        padding: 0;
        font-size: 14px;
    }

    .head nav div ul {
        display: none;
    }







    /*others*/

    .others {
        width: 65%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .others .icon {
        display: flex;
    }

    .others .icon a {
        padding: 10px;
    }

    .others .icon a img {}

    .others .lang {
        margin-left: 20px;

        position: relative;

    }

    .others .lang:hover ul {
        opacity: 1;
    }

    .others .lang > a {
        padding: 2px 6px;

        color: white;
        background: black;
    }

    .others .lang ul {
        padding: 0;
        text-transform: uppercase;
        opacity: 0;
        transition: .5s;

        position: absolute;
        left: 0;
        top: 20px;


    }

    .others .lang ul li {}

    .others .lang ul li a {
        display: inline-block;
        padding: 5px 10px;
    }

    .others .lang ul li:hover a {
        color: rgb(196, 167, 144);

    }








    /*hide*/
    header:hover .head_2 {
        opacity: 0;
    }


    /*    footer*/

    footer {
        position: static;
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot {
        width: 70%;
        height: auto;
        margin: 20px auto;
        padding: 15px 0;
        color: #ece5df;

        display: block;

        /*        clear: both;*/

    }

    .foot a {
        color: #ece5df;
        font-size: 14px;

    }

    .foot > a {
        display: inline-block;
        width: 30px;
        float: left;
        width: 10%;

    }


    .foot > a img {
        width: 100%;
    }

    .foot .info {
        position: relative;
        display: inline-block;

        float: right;
        width: 80%;

        padding: 0;


    }


    .foot .info:after {
        display: none;
    }


    .foot .info p {
        margin: 0 0 5px 0;
    }

    .foot .info .service {}

    .foot .info .service a {
        padding-right: 5px;
        font-size: 8px;
        text-transform: capitalize;

    }

    .foot .info .service:after {
        content: '';
        display: block;
        clear: both;
    }

    .foot .subscribe {
        position: static;
        /*        float: none;*/
        width: 100%;
        margin-top: 20px;

    }

    .foot .subscribe:after {
        display: none;

    }

    .foot .subscribe p {
        margin: 0 0 5px 0;
    }


    .foot .subscribe input {

        width: 200px;
        padding: 0;
        border: none;
        border-bottom: 1px solid #ece5df;

        background: black;
        color: #ece5df;
    }

    .foot .subscribe a {
        display: inline-block;
        width: 15px;


    }

    .foot .subscribe a img {
        width: 100%;
    }

    .foot .sns {
        width: 100%;
        height: auto;
        display: inline-block;
        margin: 10px 0;

    }




    .foot .sns a {
        padding: 0px;
        display: inline-block;
        width: 20px;
        margin: 0 5px;
    }

    .foot .sns a img {
        width: 100%;
    }


}
