html,
body {
    margin: 0;
}


.cover {

    background: url(../img/index/cover_desktop2.jpg) no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cover a {
    display: block;
    background: #ece5df;

    width: 300px;
    padding: 15px 10px 5px 10px;
    text-align: center;

    transition: .1s;

    position: relative;
}
/*

.cover a:after {
    content: '';
    display: block;
    width: 100%;
    height: 95px;
    background: rgba(0, 0, 0, 0.9);
    color:white;

    opacity: 0;
    transition: .5s;

    position: absolute;
    left: 0;
    top: 0;
}

*/

/*
.cover a:hover:after {
    opacity: 1;
}
*/


.cover a:hover {
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.4);

}

.cover a img {}
















@media(max-width:768px) {
    .cover {
    background: url(../img/index/cover_mobile.jpg) no-repeat;
        background-size: 100% auto;
}
}
@media(max-width:480px) {
        .cover {
    background: url(../img/index/cover_mobile.jpg) no-repeat;
                    background-size: auto 100%;

}

}
