/*
|   padding:47% 0; -%로 줘도 되는지
*/

@import url('common.css');

main {}

.title {
    background: #c4b7ae;
}

.title h1 {
    text-transform: uppercase;
    width: 80%;
    margin: 100px auto 0 auto;
    font-size: 18px;
    padding: 10px 0 10px 50px;
}








.cate {
    width: 80%;
    margin: 70px auto 100px auto;
}

.cate .all {
    text-align: right;
    margin-bottom: 50px;
}

.cate .all a {}

.cate .all img {
    padding: 1px 5px;
}

.cate ul {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

}

.cate ul li {
    width: 12%;
    position: relative;

    /*    margin-bottom: 35px;*/

}

.cate ul li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;

}

.cate ul li > a > img {
    width: 100%;

}


.cate ul li > .txt {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    text-transform: capitalize;
    text-align: center;

    background: rgba(150, 126, 114, 1);
    color: white;

    transition: .5s;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: 
}

.cate ul li > .txt p {
    margin: 0;
}


.cate ul li:hover .txt {
    opacity: 0;
}












/*-----------------------------------------------tablet : 768px----------------------------------------------------------*/

@media(max-width:768px) {
    
    

    .title {
        width: 100%;
    }

    .title h1 {
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;
    }



    .cate {
        width: 90%;
        margin: 40px auto 100px auto;
    }

    .cate .all {
        margin-bottom: 20px;
    }

    .cate .all a {
        font-size: 12px;
    }

    .cate .all img {
        padding: 1px 5px 0 5px;
    }




    .cate ul {
        display: block;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;

        margin: 0;
        padding: 0;

    }

    .cate ul li {
        width: 100%;
        height: auto;
        position: static;
    }

    .cate ul li > a {
        display: none;
    }


    .cate ul li > .txt {
        position: static;

        width: 100%;
        height: 80px;
        margin: 20px auto;
        color: #000;
    }

    .cate ul li:nth-of-type(1) > .txt {

        background: rgba(232, 232, 222, 0.1) url('../img/products/1_skin.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }

    .cate ul li:nth-of-type(2) > .txt {
        background: rgba(217, 212, 208, 1) url('../img/products/2_hair.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }

    .cate ul li:nth-of-type(3) > .txt {
        background: rgba(223, 215, 202, 1) url('../img/products/3_hand&body.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }

    .cate ul li:nth-of-type(4) > .txt {
        background: rgba(255, 254, 242, 1) url('../img/products/4_perfume.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }

    .cate ul li:nth-of-type(5) > .txt {
        background: rgba(255, 254, 242, 1) url('../img/products/5_home.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }

    .cate ul li:nth-of-type(6) > .txt {
        background: rgba(235, 235, 223, 1) url('../img/products/6_travelkit.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }

    .cate ul li:nth-of-type(7) > .txt {
        background: rgba(221, 207, 181, 1) url('../img/products/7_giftguide.jpg') no-repeat;
        background-size: 12%;
        background-position: right;
    }



    
    
    
}






/*-----------------------------------------------mobile : 480px----------------------------------------------------------*/

@media(max-width:480px) {




    .title {
        width: 100%;
    }

    .title h1 {
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;
    }



    .cate {
        width: 90%;
        margin: 40px auto 100px auto;
    }

    .cate .all {
        margin-bottom: 20px;
    }

    .cate .all a {
        font-size: 12px;
    }

    .cate .all img {
        padding: 1px 5px 0 5px;
    }




    .cate ul {
        display: block;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;

        margin: 0;
        padding: 0;

    }

    .cate ul li {
        width: 100%;
        height: auto;
        position: static;
    }

    .cate ul li > a {
        display: none;
    }


    .cate ul li > .txt {
        position: static;

        width: 100%;
        height: 80px;
        margin: 20px auto;
        color: #000;
    }

    .cate ul li:nth-of-type(1) > .txt {

        background: rgba(232, 232, 222, 0.1) url('../img/products/1_skin.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }

    .cate ul li:nth-of-type(2) > .txt {
        background: rgba(217, 212, 208, 1) url('../img/products/2_hair.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }

    .cate ul li:nth-of-type(3) > .txt {
        background: rgba(223, 215, 202, 1) url('../img/products/3_hand&body.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }

    .cate ul li:nth-of-type(4) > .txt {
        background: rgba(255, 254, 242, 1) url('../img/products/4_perfume.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }

    .cate ul li:nth-of-type(5) > .txt {
        background: rgba(255, 254, 242, 1) url('../img/products/5_home.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }

    .cate ul li:nth-of-type(6) > .txt {
        background: rgba(235, 235, 223, 1) url('../img/products/6_travelkit.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }

    .cate ul li:nth-of-type(7) > .txt {
        background: rgba(221, 207, 181, 1) url('../img/products/7_giftguide.jpg') no-repeat;
        background-size: 24%;
        background-position: right;
    }
























}
