/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body{
    overflow: hidden;
    position: relative;
    margin:0;                           /*기본으로 여백 없애주기*/
    font-family: 'Noto Sans KR', sans-serif;
}

ul,li{
    margin:0; padding:0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0; padding:0;
}                                           /*h1,h2,h3,h4,h5,h6,p 여백있는 것들 없애주기*/

a{
    text-decoration: none;               /* 하이퍼링크 파란색상 빼주기*/
    color:#555;                          /*베이직컬러, 완전한 블랙은 잘 사용안함*/
}


*{
    box-sizing: border-box;               /*padding을 넣음으로서 박스크기가 변형되는 것을 방지*/
}                                /*  *{} : 모든태그에게 명령, 기본정의-우선순위가 높아서, 명령이 세짐 (해결방법이 있긴하지만 많으면조잡해보일수있음)*/




header{
    width: 100%;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    text-align: right;
}

header .head{
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    font-weight: 700;
    width: 100%;
    padding: 20px 5%;
    margin: auto;

}

header .head_1{
    display: none;
    z-index: 100;

}
header .head_1.active{
    display: block;
    z-index: 100000;

}


header .head_1 p{
    overflow: hidden;
    display: inline-block;
    background: rgba(0,0,0,1);
    color: #e9e9e9;
    opacity: 0;
    padding: 0px 25px;
    height: 60px;
    border-radius: 100px;
    animation: showEmail 1s 1s 1 forwards;
    text-align: center;
    line-height: 60px;
    transition: .5s;
}

@keyframes showEmail{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

header .head_1 p span{
    display: inline-block;
    width: 100%;
    transition: .5s;
    transform: translate(0,0px);
}

header .head_1 p:hover{
    background: rgba(0,0,0,0.2);
    border: 3px solid #1f1f1f;
}

header .head_1 p:hover span{
    transform: translate(0,-62px);
    color: #1f1f1f;
}


header .head_2{
    /* display: none; */
    display: flex;
    transition: .5s;
    opacity:0;
    justify-content: space-between;
    align-items: center;
}

header .head_2.active{
    /* display: flex; */
    opacity:1;

}


header .head_2 .left a{
    display: inline-block;
    width: 18px;
    margin-right: 5px;
}
header .head_2 .left a img{width: 100%;}
header .head_2 .left span{}

header .head_2 .right .work{
    position: relative;
    padding: 5px 10px;

    background: transparent;

}

header .head_2 .right.active .work{
    background: #000;
    color: #e9e9e9;
    transition: .5s 1.5s;

}


header .head_2 .right .work::after{
    content: url('../img/picto/picto_narrow_arrow_up.png');
    display: inline-block;
    position: absolute;
    right: 40%;
    top: 350%;
    opacity: 0;
    transition: .5s 0s;
    animation: seeWork .8s 2s infinite alternate;


}

header .head_2 .right.active .work::after{
    opacity: 1;
    transition: .3s 1.5s;
}

@keyframes seeWork{
    0%{
        top: 280%;
    }
    100%{
        top: 150%;
    }
}

header nav{
    position: absolute;
    z-index: 2000;
    left: 0;
    bottom: 3%;
    width: 100%;
    margin: auto;
}

header nav .indi{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #3c69a4;
    transform: translate(250px,0);
}

header nav .navi{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
}
header nav .navi li{}


/* ------------------------------------- head_3 */

header .head_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e9e9e9;
    opacity: 0;
    z-index: 100;
}

header .head_3.active{
    opacity: 1;
    z-index: 100000;

}

header .head_3 .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .head_3 .left a{
    display: inline-block;
    width: 15px;
    margin-right: 12px;
    margin-top: 7px;

}


header .head_3 .left a img{width: 100%;}

header .head_3 .left span{
    display: inline-block;
}


header .head_3 .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .head_3 .right span{
    display: inline-block;
    width: 100%;

}
header .head_3 .right a{
    color: #e9e9e9;
    margin-top: 7px;
    margin-left: 15px;
}


header .head_3 .right a img{
    padding-left: 5px;
    position: relative;
}

header .head_3 .right a img:after{
    content: 'fffffffff';
    display: inline-block;
    /* display: none; */
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 40px;
    background: #fff;
}

/* ------------------------------------- footer */


footer{
    width: 22%;
    position: fixed;
    right: 0;
    bottom: -80px;
    transition: .5s;
}

footer:hover{
    bottom: 0px;
}

footer .foot_work{
    border-radius: 30px 0 0 0;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.6);

    padding: 15px 0px 0px 40px;
    width: 100%;
    background: rgba(233,233,233,0.6);
    color: #1f1f1f;
    transition: .5s;
}

footer:hover .foot_work{
    background: rgba(233,233,233,1);
}

footer .foot_work .contact{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

footer .foot_work .contact h2{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 900;
}


footer .foot_work .contact p{
    /* margin-left: 10px; */
    margin-bottom: 2px;
    transition: .5s;
}

footer:hover .foot_work .contact p{
    transform: rotate(180deg);
    transform-origin: center;
}

footer .foot_work .info{
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 8px;
    color: #1f1f1f;
    opacity: 0.9;
}
footer .foot_work .info dl{
    margin: 0;
    display: flex;
    padding: 3px 0;
}

footer .foot_work .info dl .box_email{
    position: relative;
    overflow: hidden;
    width: 100%;
}

footer .foot_work .info dl .box_email:after{
    content: url(../img/picto/picto_contact.png);
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 0;
}

footer .foot_work .info dl .box_email:after:hover{
    opacity: 0;
}



footer .foot_work .info dl .box_email .email{
    width: 100%;
    height: 38px;
    transition: .5s;
    position: relative;
    display: flex;
    flex-direction: column;
}

footer .foot_work .info dl .box_email .email span{
    position: absolute;
    left: 0;
    top: 0;
}

footer .foot_work .info dl .box_email .email span:nth-of-type(2){
    top:100%;
}



/* footer .foot_work .info dl .box_email:hover .email{
    transform: translateY(-30px);
    background: #1f1f1f;
    color: #e9e9e9;
} */

/* footer .foot_work .info dl .email::after{
    content: 'Click to copy Email';

    bottom: -110%;
}
 */


