@import url('common.css');

html,
body {
    position: relative;
    height: 100vh;
    background: #000;
    /* color: #000; */
}

.deco{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 99%;
    height: 98vh;
    margin: 1vh 0.5%;
    /* border: 1px solid #000; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: #e9e9e9; */
    transition: .5s;
    transform-style: preserve-3d;
    perspective: 600px;
    mix-blend-mode: difference;
}

main::before,
main::after {
    z-index: 1000;
    transition: .5s;
    content: '';
    display: inline-block;
    width: 100%;
    height: 50vh;
    left: 0;
    position: absolute;
    background-color: #fff;
    mix-blend-mode: difference;
}

main::before {
    top: 0vh;
    animation: moveBefore 1s 1s 1 forwards;
}

main::after {
    bottom: 0;
    animation: moveAfter 1s 1s 1 forwards;
}

@keyframes moveBefore {
    0% {
        top: 0vh;
    }
    100% {
        top: -50vh;
    }
}

@keyframes moveAfter {
    0% {
        bottom: 0vh;
    }
    100% {
        bottom: -50vh;
    }
}

.line {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0, -4px);
    width: 100%;
    height: 4px;
    background: #000;
    z-index: 5000;
    animation: showLine 1s 2.5s 1 forwards;
    /* top: 92% ; */
}

@keyframes showLine {
    0% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}

main {}

.page1 {
    background: #e9e9e9;
    width: 100%;
    height: 100vh;
    position: relative;
    transition: 2s 0s;
}


main .page1 {
    transform: rotateX(0deg) translateY(0px) translateZ(0px);
    transition: 2s 0s;
}

main .page1:after{
    z-index: 0;
    content: '';
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    transition: .5;
    opacity: 0;
}

main.active-bg .page1:after{
    opacity: 1;
    z-index: 10000;

    transition: .5s;
}

main .page1 .sect1{
    opacity: 1;
    transition: .5s;
}

@keyframes indexOpacity{
    0%{

    }
    100%{

    }
}



main.active-convert .page1 {
    transform: rotateX(45deg) translateY(-600px) translateZ(400px);
    transition: 1s 0s;
}



.page_convert {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #1f1f1f;
    position: absolute;
    left: 0;
    top: 0vh;
    transform: rotateX(-90deg) translateY(600px) translateZ(400px);
    transition: 2s 0s;
}

main.active-convert .page_convert {
    /* top: 0vh;
    transition: 2s 0s; */
    transform: rotateX(0deg) translateY(0px) translateZ(0px);
    transition: 1s 0s;
}

.page1 .sect1 {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s 1s;
    /* transform: translate(0,0); */
}
.page1 .sect1 .fun{
    position: absolute;
    left: 0;
    bottom: 0;
}
/* .page1 .sect1 .fun:before{
    content: 'catch me if you can';
    display: inline-block;
    position: absolute;
    left: 30px;
    width: 150px;
    bottom: 60px;
}



.page1 .sect1 .fun .worm{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: moveWorm 60s 0s infinite backwards;
}

@keyframes moveWorm{
    0%{
        left: 0px;
    }
    50%{
        left: 1500px;
    }
    100%{
        left: 0px;
    }
}

.page1 .sect1 .fun .worm li{
    position: absolute;
    left: 0px;
    bottom: 0;
}
.page1 .sect1 .fun .worm li:nth-of-type(1){left: 0px;}
.page1 .sect1 .fun .worm li:nth-of-type(2){left: 30px;}
.page1 .sect1 .fun .worm li:nth-of-type(3){left: 60px;}

.page1 .sect1 .fun .worm li:nth-of-type(1){
    animation: bod1 1.5s 0s infinite backwards;
}
@keyframes bod1{
    0%{ left: 0px;}
    70%{ left: 40px;}
    100%{ left: 0px;}
}
.page1 .sect1 .fun .worm li:nth-of-type(2){
    animation: bod2 1.5s 0s infinite backwards;
}
@keyframes bod2{
    0%{ left: 30px;}
    70%{ left: 50px;}
    100%{ left: 30px;}
}
.page1 .sect1 .fun .worm li:nth-of-type(3){
    animation: bod3 1.5s 0s infinite backwards;
}
@keyframes bod3{
    0%{ left: 60px;}
    70%{ left: 60px;}
    100%{ left: 60px;}
}

.page1 .sect1 .fun .worm li span{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 1);
} */

.page1 .sect1.active-move {
    top: -150vh;
    transition: 1s 0s;
}

.page1 .sect1 .text_group {}

.page1 .sect1 .pic_group {
}

main .page1 .sect1 .pic_group {
    z-index: 50;
    width: 28%;
    position: absolute;
    right: -100%;
    top: 10%;
    transition: 1s;
    height: 76vh;
    transform: translate(0%, 0);
}

main .page1 .sect1.active2 .pic_group {
    /* right: -100%; */
    transform: translate(-40%, 0);
    /* transition: 1s 1s; */
    transition: transform 1s 1s, right 1s 0s;
}

main .page1 .sect1.active3 .pic_group {
    transform: translate(-40%, -87%);
    right: -30%;
    transition: transform 1s .5s, right 1s 1.5s;
}


/* ============================================================== sect1 */


/* ----------------------- intro ----------------------- */


/* txt_intro */

.page1 .sect1 .text_group .intro {
    display: block;
    mix-blend-mode: difference;
    color: #e9e9e9;
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
    position: absolute;
    z-index: 1000;
    left: 15%;
    top: 35%;
    transition: 1s;
}

.page1 .sect1 .text_group .intro .iam {
    display: flex;
}

.page1 .sect1 .text_group .intro .iam p {
    margin-right: 80px;
}

.page1 .sect1 .text_group .intro .iam .name_change {
    overflow: hidden;
    position: relative;
}

.page1 .sect1 .text_group .intro .iam .name_change .name {
    display: flex;
    position: relative;
    overflow: hidden;
}

.page1 .sect1 .text_group .intro .iam .name_change .name li {
    transform: translate(0, 0);
    transition: .5s;
}

/* ----------------------------------------------------------- lilMoves*/


.page1 .sect1 .text_group .intro .iam .name_change .name li:nth-of-type(1) {
    animation: lilMoves1 3s 2s infinite backwards;
}

@keyframes lilMoves1{
    0%{transform: translate(0px,0px); opacity: 1;}
    5%{transform: translate(20px,0px); opacity: 1;}
    10%{transform: translate(0px,0px);}
    100%{transform: translate(0px,0px);}
}

.page1 .sect1 .text_group .intro .iam .name_change .name li:nth-of-type(2) {
    animation: lilMoves2 3s 2s infinite backwards;
}
@keyframes lilMoves2{
    0%{transform: translate(0px,0px);}
    2%{transform: translate(0px,0px); opacity: 1;}
    5%{transform: translate(0px,0px); opacity: 1;}
    10%{transform: translate(20px,0px); opacity: 1;}
    15%{transform: translate(0px,0px); opacity: 1;}
    100%{transform: translate(0px,0px);}
}


.page1 .sect1 .text_group .intro .iam .name_change .name li:nth-of-type(3) {
    animation: lilMoves3 3s 2s infinite backwards;
}

@keyframes lilMoves3{
    0%{transform: translate(0px,0px); opacity: 1;}
    7%{transform: translate(0px,0px); opacity: 1;}
    10%{transform: translate(0px,0px); opacity: 1;}
    15%{transform: translate(20px,0px); opacity: 1;}
    20%{transform: translate(0px,0px); opacity: 1;}
    100%{transform: translate(0px,0px);}
}
.page1 .sect1 .text_group .intro .iam .name_change .name li:nth-of-type(4) {
    animation: lilMoves4 3s 2s infinite backwards;
}

@keyframes lilMoves4{
    0%{transform: translate(0px,0px); opacity: 1;}
    12%{transform: translate(0px,0px); opacity: 1;}
    15%{transform: translate(0px,0px); opacity: 1;}
    20%{transform: translate(20px,0px); opacity: 1;}
    25%{transform: translate(0px,0px); opacity: 1;}
    100%{transform: translate(0px,0px);}
}
.page1 .sect1 .text_group .intro .iam .name_change .name li:nth-of-type(5) {
    animation: lilMoves5 3s 2s infinite backwards;
}

@keyframes lilMoves5{
    0%{transform: translate(0px,0px); opacity: 1;}
    17%{transform: translate(0px,0px); opacity: 1;}
    20%{transform: translate(0px,0px); opacity: 1;}
    25%{transform: translate(20px,0px); opacity: 1;}
    30%{transform: translate(0px,0px); opacity: 1;}
    100%{transform: translate(0px,0px);}
}
.page1 .sect1 .text_group .intro .iam .name_change .name li:nth-of-type(6) {
    animation: lilMoves6 3s 2s infinite backwards;
}

@keyframes lilMoves6{
    0%{transform: translate(0px,0px); opacity: 1;}
    22%{transform: translate(0px,0px); opacity: 1;}
    25%{transform: translate(0px,0px); opacity: 1;}
    30%{transform: translate(20px,0px); opacity: 1;}
    35%{transform: translate(0px,0px); opacity: 1;}
    100%{transform: translate(0px,0px);}
}


.page1 .sect1 .text_group .intro .iam .name_change .name .scroll{
    margin-top: 75px;
    position: relative;
    overflow: hidden;
    animation: lilMovesScroll 3s 2s infinite backwards;
    transition: .5s;
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .name .scroll{
    animation: none;
}

@keyframes lilMovesScroll{
    0%{ width:0%; transform: translate(0px,0px); opacity: 1;}
    27%{ width:0%; transform: translate(0px,0px); opacity: 1;}
    30%{ transform: translate(0px,0px); opacity: 1;}
    90%{ width:100%; transform: translate(0px,0px); opacity: 1;}
    100%{ width:100%; transform: translate(0px,0px); opacity: 0;}
}

.page1 .sect1 .text_group .intro .iam .name_change .name .scroll span{
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    padding: 20px 20px;
    background: #e9e9e9;
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
}


/* 67a7aa 82423f */

.page1 .sect1.active1 .text_group .intro .iam .name_change .name li:nth-of-type(1),
.page1 .sect1.active1 .text_group .intro .iam .name_change .name li:nth-of-type(2),
.page1 .sect1.active1 .text_group .intro .iam .name_change .name li:nth-of-type(3),
.page1 .sect1.active1 .text_group .intro .iam .name_change .name li:nth-of-type(4),
.page1 .sect1.active1 .text_group .intro .iam .name_change .name li:nth-of-type(5),
.page1 .sect1.active1 .text_group .intro .iam .name_change .name li:nth-of-type(6){
    animation: none;
}



/* ----------------------------------------------------------- */

.page1 .sect1 .text_group .intro .iam .name_change .web {
    position: absolute;
    left: 0;
    bottom: -100%;
}

.page1 .sect1 .text_group .intro .iam .name_change .dev p {
    display: inline-block;
    transform: translate(0, 100%);
}

.page1 .sect1.active1 .text_group .intro {
    left: 5%;
    top: 30%;
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .name li {
    transform: translate(0, 100%);
    transition: .5s .5s;
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .web {
    display: inline-block;
    animation: wordWeb .5s .5s 1 forwards;
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .dev p {
    animation: wordDev .5s .5s 1 forwards;
}

@keyframes wordWeb {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 100%;
    }
}

@keyframes wordDev {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, -3%);
    }
}




/* pics_introduction */

.page1 .sect1.active1 .pic_group {
    position: absolute;
    right: 12%;
    top: 15%;
}

.page1 .sect1 .pic_group .introduction {
    width: 540px;
    height: 740px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0%;
    top: 0;
    transition: .5s;
    transition: 1s 1s;
}
.page1 .sect1 .pic_group .introduction p{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.page1 .sect1 .pic_group .introduction canvas{
    /* position: absolute;
    left: 0;
    top: 0;
    z-index: 100; */
}


/* active2 */

.page1 .sect1.active2 .text_group .intro {
    left: -100%;
}

.page1 .sect1.active2 .pic_group .introduction {
    left: 0%;
    width: 0%;
    transition: 1s 0s;
}


/* ----------------------- skill ----------------------- */


/* txt_skill */

.page1 .sect1 .text_group .skill {
    mix-blend-mode: difference;
    color: #e9e9ee;
    position: absolute;
    z-index: 1000;
    right: -40%;
    top: 35%;
    transition: 1s;
}

.page1 .sect1 .text_group .skill p {
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
}

.page1 .sect1 .text_group .skill .list_skill {
    position: absolute;
    left: 0;
    bottom: -120%;
    display: flex;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    width: 180%;
    flex-wrap: wrap;
}

.page1 .sect1 .text_group .skill .list_skill li {
    margin-right: 30px;
    overflow: hidden;
}

.page1 .sect1 .text_group .skill .list_skill li:nth-of-type(6) {
    margin-right: 0;
}

.page1 .sect1 .text_group .skill .list_skill li span {
    transform: translate(0, 500px);
    display: inline-block;
}

.page1 .sect1.active2 .text_group .skill {
    right: 20%;
    top: 35%;
}

.page1 .sect1.active2 .text_group .skill .list_skill li span {
    transition: .5s 1s;
    transform: translate(0, 0);
}

.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(4) span,
.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(5) span,
.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(6) span {
    transition: .5s 1.2s;
}

.page1 .sect1.active3 .text_group .skill {
    /* top: -1000px; */
    transform: translate(0%, -90vh);
    /* transform:translate(-40%,-90%); */
    transition: 1s .5s;
}


/* 
transform:translate(-40%,-80%);
right: -25%;
transition: transform 1s 1s, right 1s 2s; */


/* pics_skill */

.page1 .sect1 .pic_group .skill {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0%;
    overflow: hidden;
    transition: 1s 0s;
}

.page1 .sect1.active2 .pic_group .skill {
    transition: .5s 1s;
    width: 150%;
    height: 100%;
}

.page1 .sect1.active3 .pic_group .skill {
    height: 0;
    /* bottom: -1000px; */
    transition: .5s 0s;
}



/* pic_at_work */
.page1 .sect1 .pic_group .skill {}
.page1 .sect1.active3 .pic_group .skill {}

.page1 .sect1 .pic_group .skill .pic_skill {
    /* background: rgba(223,54,46,1); */
    /* box-shadow: inset 0px -100px 300px rgba(0,0,0,0.4); */
    box-shadow: inset 0px 0px 400px rgba(0,0,0,0.1);
    /* box-shadow: inset 0px 0px 200px rgba(223,54,46,1); */


    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    /* position: relative; */
    /* position: absolute;
    left: 0;
    top: 0; */
}

.page1 .sect1 .pic_group .skill .pic_skill .txt {
    position: absolute;
    z-index: 2000;
    width: 800px;
    left: 50%;
    top: 20%;
    width: 100%;
    /* height: 100%; */
    transform: translate(-50%, 0%);
    text-align: center;
    opacity: 1;
    transition: .5s 0s;
}
.page1 .sect1 .pic_group .skill .pic_skill .txt {
    /* transition: .5s 2.5s; */
}

.page1 .sect1 .pic_group .skill .pic_skill .txt li {
    opacity: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    /* transition: position .5s 0s font .5s .5s; */
    transition: 1s 0s;

    padding: 30px 0;
}
/* 
.page1 .sect1 .pic_group .skill .pic_skill .txt li:nth-of-type(1) {top: -150px;}
.page1 .sect1 .pic_group .skill .pic_skill .txt li:nth-of-type(2) {top: 0px;}
.page1 .sect1 .pic_group .skill .pic_skill .txt li:nth-of-type(3) {top: 150px;}
 */

.page1 .sect1 .pic_group .skill .pic_skill .txt li {
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;
}

.page1 .sect1 .pic_group .skill .pic_skill .txt li:nth-of-type(1) {
    animation: none;
    opacity: 1;
}
.page1 .sect1 .pic_group .skill .pic_skill .txt li:nth-of-type(2) {
    animation: none;
    opacity: 0;
}
.page1 .sect1 .pic_group .skill .pic_skill .txt li:nth-of-type(3) {
    animation: none;
    opacity: 0;
}


/* .page1 .sect1 .pic_group .skill .pic_skill .txt li.active {
    opacity: 1;
    transition: .5s;
} */

.page1 .sect1.active2 .pic_group .skill .pic_skill .txt li:nth-of-type(1) {
    animation: skillTxt1 6s 1.5s infinite forwards;
}
@keyframes skillTxt1{
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    28%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.page1 .sect1.active2 .pic_group .skill .pic_skill .txt li:nth-of-type(2) {
    animation: skillTxt2 6s 1.5s infinite forwards;
}
@keyframes skillTxt2{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    48%{
        opacity: 1;
    }
    61%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.page1 .sect1.active2 .pic_group .skill .pic_skill .txt li:nth-of-type(3) {
    animation: skillTxt3 6s 1.5s infinite forwards;
}
@keyframes skillTxt3{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    81%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


/* ============================================================== ani */


/* reference : rotate sphere
@keyframes rotate {
    0% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(0deg);
    }
    50% {
  transform: rotateZ(-25deg) rotateX(-20deg) rotateY(180deg);
    }
    100% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(360deg);
    }
  }
   */
   
   .page1 .sect1 .pic_group .skill .pic_skill .ani {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    /* width: 100%; */
    /* height: 100%; */

    opacity: 0;
    transition: .5s 0s;
    transform-style: preserve-3d;
    perspective: 900px;

    box-shadow: 10px 10px 10px rgba(0,0,0,1);
}

.page1 .sect1 .pic_group .skill .pic_skill{
    transform-style: preserve-3d;
    perspective: 900px;
}

.page1 .sect1 .pic_group .skill .pic_skill .sent{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page1 .sect1 .pic_group .skill .pic_skill .sent li{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}
.page1 .sect1 .pic_group .skill .pic_skill .sent li:nth-of-type(1){
    left: 50%;
    top: 20%;
}
.page1 .sect1 .pic_group .skill .pic_skill .sent li:nth-of-type(2){
    left: 50%;
    top: 35%;
}



.page1 .sect1 .pic_group .skill .pic_skill .ani {
    opacity: 0.5;
    transition: .5s 1s;
    /* transform-style: preserve-3d; */
    /* perspective: 900px; */
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    /* transform: rotateZ(30deg); */
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl {
    transform-style: preserve-3d;
    perspective: 900px;
    /* perspective: 400vmin; */
    transform-style: preserve-3d;
    position: absolute;
    /* z-index: -500; */
    width: 200px;
    height: 200px;
    left: 0%;
    top: 50%;
    /* transform: translate(-50%,-0%); */
    transform: translateX(0);

    border-radius: 50%;
    background: rgba(233, 233, 233, 1);
    /* animation: rotatePpl 1s 1s infinite forwards; */
}
/* @keyframes rotatePpl{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(360deg);}
} */


.page1 .sect1 .pic_group .skill .pic_skill .ani{
    animation: none;
}


.page1 .sect1.active2 .pic_group .skill .pic_skill .ani .ppl:nth-of-type(1).active{
    transform: translateX(0);
    animation: aniPpl1 6s 3s infinite forwards;
}

@keyframes aniPpl1{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-80%);
    }
    29%{
        transform: translateX(80%);
    }
    33%{
        transform: translateX(-80%);
    }
    57%{
        transform: translateX(-50%);
        z-index: 100;

    }
    60%{
        transform: translateX(50%);
        z-index: 200;

    }
    63%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;

    }
    66%{
        transform: translateX(-50%);
        z-index: 100;
    }
    100%{
        transform: translateX(0%);
    }
}

.page1 .sect1.active2 .pic_group .skill .pic_skill .ani .ppl:nth-of-type(2).active{
    animation: aniPpl2 6s 3s infinite forwards;
}

@keyframes aniPpl2{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(80%);
    }
    29%{
        transform: translateX(-80%);
    }
    33%{
        transform: translateX(80%);
    }
    57%{
        transform: translateX(50%) translateY(0%);
        z-index: 200;
        
    }
    60%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;

    }
    63%{
        transform: translateX(-50%) translateY(0%);
        z-index: 100;

    }
    66%{
        transform: translateX(50%) translateY(0%);
        z-index: 200;

    }
    100%{
        transform: translateX(0%);
    }
}
.page1 .sect1.active2 .pic_group .skill .pic_skill .ani .ppl:nth-of-type(3).active{
    animation: aniPpl3 6s 3s infinite;
}

@keyframes aniPpl3{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(80%);
    }
    29%{
        transform: translateX(-80%);
    }
    33%{
        transform: translateX(80%);
    }
    57%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;

    }
    60%{
        transform: translateX(-50%) translateY(0%);
        z-index: 100;
    }
    63%{
        transform: translateX(50%) translateY(0%);
        z-index: 200;
    }
    66%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;
    }
    100%{
        transform: translateX(0%);
    }
}







.page1 .sect1 .pic_group .skill .pic_skill .ani .sphere:active {
    
}


.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl .sphere {
    /* content: ''; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* top: 0%; */
    /* left: 0%; */
    background: rgba(223,54,46,1);

    background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240 , 220, 0.85) 15%, rgba(30, 30, 40, 0.5) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 95%);
    box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s 0s;
    /* 원본 */
    /* background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 0%, rgba(30, 30, 40, 0.85) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, #000000 80%); */
    border-radius: 50%;
    transform: translateZ(2vmin);
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl .sphere {
    /* animation: sphereShadow 6s 0s infinite; */
}
@keyframes sphereShadow{
    0%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    5%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    6%{box-shadow: 40px 0px 40px rgba(223, 54, 46, 0.6);}
    32%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    33%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    66%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    100%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
}



.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl .sphere {
    opacity: 1;
    transition: .5s 1.5s;
}

/* .page1 .sect1 .pic_group .skill .pic_skill .ani .ppl1.active {
    left: 40%;
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl2.active {
    left: 0%;
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl3 {
    left: 80%;
} */



/* ----------------------- project ----------------------- */


/* txt_recent */

.page1 .sect1 .text_group .recent {
    mix-blend-mode: difference;
    color: #e9e9e9;
    position: absolute;
    z-index: 1000;
    left: -70%;
    top: 35%;
    transition: 1s;
}

.page1 .sect1 .text_group .recent p {
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
}

.page1 .sect1 .text_group .recent a {
    display: inline-block;
    overflow: hidden;
    margin-top: 50px;
    /* width: 1200px; */
}

.page1 .sect1 .text_group .recent a span {
    display: inline-block;
    color: #e9e9e9;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    transform: translate(0, 500px);
    transition: .5s 2s;
}

.page1 .sect1.active3 .text_group .recent {
    /* transform:translate(-40%,0%); */
    left: 8%;
    top: 35%;
    transition: transform 1s 1s, left 1s 1.5s;
}

.page1 .sect1.active3 .text_group .recent a span {
    transform: translate(0, 0);
    transition: .5s 2s;
}


/* pic_recent */

.page1 .sect1 .pic_group .recent {
    position: absolute;
    left: -150%;
    top: 100%;
    width: 150%;
    height: 0;
    overflow: hidden;
    transition: .5s .5s;
}

.page1 .sect1 .pic_group .recent {}
.page1 .sect1 .pic_group .recent .pic_recent{
    position: relative;
}
.page1 .sect1 .pic_group .recent .pic_recent li{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.page1 .sect1 .pic_group .recent .pic_recent li img{
    width: 100%;
}


.page1 .sect1.active3 .pic_group .recent .pic_recent li.active-change{
    z-index: 10;
}



.page1 .sect1.active3 .pic_group .recent {
    height: 100%;
    transition: .5s .5s;
}

/* video btn */

.page1 .sect1.active3 .recent_otherbox .btn_video{
    position: absolute;
    z-index: 1000000;
    right: 0%;
    top: 75%;
    background: #000;
    color: #e9e9e9;
    animation: seeVid .8s 2s infinite alternate;
}

@keyframes seeVid {
    0% {
        transform: translate(0,15px);
        box-shadow: 5px 5px 2px rgba(0,0,0,0.4);
    }
    100% {
        transform: translate(0,5px);
        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
        background: rgba(223,54,46,1);
    }
}


.page1 .sect1.active3 .recent_otherbox .btn_video a{
    padding: 10px 30px;
    display: inline-block;
    color: #e9e9e9;

}



/* 추가 */
.page1 .sect1 .recent_otherbox{
    width: 28%;
    /* transition: 1s; */
    height: 76vh;

    position: absolute;
    right: 9.5%;
    bottom: -100%;
    transition: .5s 0s;
    /* mix-blend-mode: difference; */

        
}

.page1 .sect1.active3 .recent_otherbox{
    /* z-index: 0; */
    bottom: -1.2%;
    transition: 1s .5s;
    /* animation: blendMode .5s 1s 1 forwards; */
}

/* @keyframes blendMode{
    0%{
    mix-blend-mode: difference;
    }
    100%{
        mix-blend-mode: inherit;
    }
} */

.page1 .sect1 .recent_otherbox ul{
    position: relative;
}
.page1 .sect1 .recent_otherbox ul li{
    /* mix-blend-mode: difference; */

    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    overflow: hidden;
}

.page1 .sect1 .recent_otherbox ul li img{width: 800px;}



/* .page1 .sect1 .recent_otherbox ul li:nth-of-type(1){right: 810px; z-index:10; opacity: 0;}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(2){right: 720px; z-index:9}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(3){right: 630px; z-index:8}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(4){right: 540px; z-index:7}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(5){right: 450px; z-index:6}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(6){right: 360px; z-index:5}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(7){right: 270px; z-index:4}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(8){right: 180px; z-index:3}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(9){right: 90px; z-index:2}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(10){right: 0px; z-index:1} */

.page1 .sect1 .recent_otherbox ul li:nth-of-type(1){right: 45vw; z-index:10; opacity: 0;}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(2){right: 40vw; z-index:9}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(3){right: 35vw; z-index:8}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(4){right: 30vw; z-index:7}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(5){right: 25vw; z-index:6}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(6){right: 20vw; z-index:5}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(7){right: 15vw; z-index:4}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(8){right: 10vw; z-index:3}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(9){right: 5vw; z-index:2}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(10){right: 0vw; z-index:1}


.page1 .sect1 .recent_otherbox ul li img{}

.page1 .sect1.active3 .recent_otherbox ul li{
    right: 0;
    transition: right .5s 1.5s;
    /* opacity: 0; */
    /* mix-blend-mode: inherit; */
}



/*

main .page1 .sect1 .pic_group {
    width: 28%;
    position: absolute;
    right: -100%;
    top: 10%;
    transition: 1s;
    height: 76vh;
    transform: translate(0%, 0);
}

main .page1 .sect1.active3 .pic_group {
    transform: translate(-40%, -80%);
    right: -30%;
    transition: transform 1s .5s, right 1s 1.5s;
}

.page1 .sect1.active3 .pic_group .recent {
    height: 100%;
    transition: .5s .5s;
}


 */



/* ============================================================== sect2 */


/* main 기준 3d*/

main {}

.page1 .sect2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 120vh;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: top .5s 0s;
}

.page1 .sect2.active-move {
    top: 0vh;
    transition: top .5s .5s;
    perspective: 0;
    /* mix-blend-mode: difference; */
    
}


/* ----------------------- at_work ----------------------- */


/* txt */

.page1 .sect2 {
    position: relative;
    /* background: #1f1f1f; */
}

.page1 .sect2 .text_group {
    width: 100%;
    height: 100vh;
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
    mix-blend-mode: difference;
}

.page1 .sect2 .text_group p {
    position: absolute;
    /* left: -100%; */
    left: 5%;
    top: 15%;
    transition: .5s 0s;
    color: #000;
}


/* .page1 .sect2.active-move .box_3d .text_group p {
    left: 5%;
    transition: .5s 0s;
} */

.page1 .sect2 .text_group span {
    position: absolute;
    /* right: -100%; */
    right: 5%;
    bottom: 10%;
    /* width: 100%; */
    /* height: 100vh; */
    transition: .5s 0s;
    color: #000;
}


/* .page1 .sect2.active-move .box_3d .text_group ul {
    right: 0%;
    transition: .5s 2s;
} */

/* pic */

.page1 .sect2 .pic_group {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 0%;
    /* border: 5px solid #1f1f1f; */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.4); */
    /* transform: translateZ(-500px); */
    transition: 1s 0s;
    /* background: #1f1f1f;
    background: rgba(223,54,46,1);
    background:none; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.page1 .sect2.active-move .pic_group {
    /* transform: translateZ(0px); */
    z-index: -1;
    /* background: #e9e9e9; */
    transition: 1s 1s;
}

.page1 .sect2 .pic_group .box_3d {
    position: absolute;
    /* z-index: 2000; */
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 55vh;
    /* background: rgba(0,0,0,0.4); */
}

.page1 .sect2 .pic_group .box_3d>div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.page1 .sect2 .pic_group .box_3d .as_person {
    opacity: 1;
    transition: .5s 1s;
}


/* pic_as_person */

.page1 .sect2 .pic_group .box_3d .as_person {
    padding: 20px;
    position: absolute;
    /* overflow: hidden; */
    transition: 1s .5s;
}

.page1 .sect2 .pic_group .as_person .bord {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 0%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0%);
    transition: 1s 0s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background: rgba(233,233,233,0.8);
    padding: 0px 0;


    /* color: #e9e9e9; */
}

.page1 .sect2.active-move .pic_group .as_person .bord {
    height: 100%;
    bottom: 3%;

    transition: .5s 1s;
    padding: 100px 0;

}

.page1 .sect2 .pic_group .box_3d .as_person .bord p {
    width: 80%;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
    /* mix-blend-mode: difference; */
    color: #000;
}

 /* --------------------------- 2000+ --------------------------- */

@media(min-width:2000px) {
    
}

 /* --------------------------- labtop --------------------------- */

@media(max-width:1440px) {
    .page1 .sect1 .text_group .intro {
        left: 15%;
        top: 35%;
    }

    .page1 .sect1.active1 .text_group .intro {
        left: 5%;
        top: 30%;
    }

    .page1 .sect1.active1 .pic_group {
        position: absolute;
        right: 6%;
        top: 15%;
        transition: .5s;
    }

    .page1 .sect1.active2 .pic_group {
        right: 10%;
    }

    .page1 .sect1 .pic_group .introduction{
        height: 76vh;
        overflow: hidden;
    }

    .page1 .sect1 .pic_group .skill .pic_skill .txt li {
        opacity: 0;
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
        width: 100%;
        text-align: center;
        /* transition: position .5s 0s font .5s .5s; */
        transition: 1s 0s;
    
        padding: 30px 0;
    }

    .page1 .sect1.active2 .text_group .skill {
        right: 15%;
        top: 40%;
    }
    .page1 .sect1 .text_group .skill .list_skill {
        position: absolute;
        left: 0;
        bottom: -80%;
        display: flex;
        font-weight: 900;
        font-size: 2.5vw;
        line-height: 2.5vw;
        width: 140%;
        flex-wrap: wrap;
    }
    .page1 .sect1 .text_group .intro,
    .page1 .sect1 .text_group .skill p,
    .page1 .sect1 .text_group .recent p,
    .page1 .sect2 .text_group p,
    .page1 .sect2 .text_group span{
        font-size: 10vw;
        line-height: 8vw;
    }

    .page1 .sect1.active1 .text_group .intro{
        font-size: 8vw;
        line-height: 7vw;
        /* transition: .5s; */
    }


    .page1 .sect1 .text_group .recent a span{
        font-size: 2.5vw;
        line-height: 2.5vw;
    }

    .page1 .sect1.active3 .recent_otherbox .btn_video{
        right: 0%;
        top: 61%;
    }
    
    .page1 .sect1.active2 .text_group .intro {
        left: -100%;
    }

    .page1 .sect1 .recent_otherbox ul li img{width: 41.5vw;}

    .page1 .sect2 .pic_group .box_3d {
        position: absolute;
        /* z-index: 2000; */
        left: 50%;
        top: 56%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 55vh;
        /* background: rgba(0,0,0,0.4); */
    }

    .page1 .sect2.active-move .pic_group .as_person .bord {
        height: 100%;
        bottom: 3%;
    
        transition: .5s 1s;
        padding: 70px 0;
    
    }

    .page1 .sect2 .pic_group .box_3d .as_person .bord p{
        font-size: 2vw;
        line-height: 3vw;
    }

}


/* --------------------------- tab --------------------------- */

@media(max-width:1024px) {

}


 /* --------------------------- mobile --------------------------- */

 @media(max-width:480px) {
 
    .page1 .sect1 {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        transition: 1s 1s;
    }
    


    main .page1 .sect1 .pic_group {
        width: 80%;
        position: absolute;
        right: -100%;
        top: 10%;
        transition: 1s;
        height: 50vh;
        transform: translate(0%, 0);
    }

    
    
    main .page1 .sect1.active2 .pic_group {
        /* right: -100%; */
        transform: translate(80%, 0);
        /* transition: 1s 1s; */
        transition: transform 1s 1s, right 1s 0s;
    }


    main .page1 .sect1.active3 .pic_group {
        transform: translate(-40%, -80%);
        right: -30%;
        transition: transform 1s 1s, right 1s 1.5s;
    }
    
    
    /* ============================================================== sect1 */
    
    
    /* ----------------------- intro ----------------------- */
    
    
    /* txt_intro */
    
    .page1 .sect1 .text_group .intro {
        font-size: 80px;
        line-height: 80px;
        left: 0%;
        top: 35%;
        width: 100%;
    }
    
    .page1 .sect1 .text_group .intro .iam {
        display: block;
    }
    
    .page1 .sect1 .text_group .intro .iam p {
        margin-right: 0px;
    }
    
    .page1 .sect1 .text_group .intro .iam .name_change .name .dev {
        transform: translate(0, 0);
        transition: .5s;
        width: 100%;
    }
    .page1 .sect1 .text_group .intro .iam .name_change .name .dev p{
        width: 100% !important;

    }


    
    
    .page1 .sect1.active1 .text_group .intro {
        font-size: 60px;
        line-height: 60px;
        left: 0%;
        top: 50%;
        transition: .5s;
    }
    
    /* pics_introduction */
    
    .page1 .sect1.active1 .pic_group {
        position: absolute;
        /* right: 12%;
        top: 10%; */
        right: 10%;
        top: 10%;
    }
    
    .page1 .sect1 .pic_group .introduction {
        position: absolute;
        overflow: hidden;
        width: 100%;
        /* height조정 */
        height: 100%;
        left: 0%;
        top: 0;
        transition: .5s;
        transition: 1s 1s;
    }
    
    .page1 .sect1 .pic_group .introduction p{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .page1 .sect1 .pic_group .introduction p img{
        width: 100%;
        height: 100%;
    }

    .page1 .sect1 .pic_group .introduction canvas{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    
    /* active2 */
    
    .page1 .sect1.active2 .text_group .intro {
        left: -100%;
    }
    
    .page1 .sect1.active2 .pic_group .introduction {
        left: 0%;
        width: 0%;
        transition: 1s 0s;
    }
    
    
/* ----------------------- skill ----------------------- */


/* txt_skill */

.page1 .sect1 .text_group .skill {
    mix-blend-mode: difference;
    color: #e9e9ee;
    position: absolute;
    z-index: 1000;
    right: -70%;
    top: 50%;
    transition: 1s;
}

.page1 .sect1 .text_group .skill p {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}

.page1 .sect1 .text_group .skill .list_skill {
    position: absolute;
    left: 0%;
    bottom: -280%;
    display: block;
    font-weight: 900;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    flex-wrap: wrap;
}

.page1 .sect1 .text_group .skill .list_skill li {
    margin-right: 0px;
    overflow: hidden;
    text-align: right;
}

.page1 .sect1 .text_group .skill .list_skill li:nth-of-type(6) {
    margin-right: 0;
}

.page1 .sect1 .text_group .skill .list_skill li span {
    transform: translate(0, 500px);
    display: inline-block;
}

.page1 .sect1.active2 .text_group .skill {
    right:5%;
    top: 65%;
}

.page1 .sect1.active2 .text_group .skill .list_skill li span {
    transition: .5s 2s;
    transform: translate(0, 0);
}

.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(4) span,
.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(5) span,
.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(6) span {
    transition: .5s 2.2s;
}

.page1 .sect1.active3 .text_group .skill {
    /* top: -1000px; */
    transform: translate(0%, -100vh);
    /* transform:translate(-40%,-90%); */
    transition: 1s .5s;
}


/* 
transform:translate(-40%,-80%);
right: -25%;
transition: transform 1s 1s, right 1s 2s; */


/* pics_skill */


/* pics_skill */

.page1 .sect1 .pic_group .skill {
    position: absolute;
    right: 100%;
    bottom: -18%;
    width: 0%;
    overflow: hidden;
    transition: 1s 0s;
}

.page1 .sect1.active2 .pic_group .skill {
    transition: .5s 1s;
    right: 80%;

    width: 100%;
    height: 100%;
}

.page1 .sect1.active3 .pic_group .skill {
    height: 0;
    /* bottom: -1000px; */
    transition: .5s 0s;
}



/* pic_at_work */
.page1 .sect1 .pic_group .skill {}
.page1 .sect1.active3 .pic_group .skill {}

.page1 .sect1 .pic_group .skill .pic_skill {
    /* background: rgba(223,54,46,1); */
    /* box-shadow: inset 0px -100px 300px rgba(0,0,0,0.4); */
    box-shadow: inset 0px 0px 400px rgba(0,0,0,0.1);
    /* box-shadow: inset 0px 0px 200px rgba(223,54,46,1); */


    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    /* position: relative; */
    /* position: absolute;
    left: 0;
    top: 0; */
}

.page1 .sect1 .pic_group .skill .pic_skill .txt {
    position: absolute;
    z-index: 2000;
    width: 800px;
    left: -30%;
    top: 16%;
    width: 100%;
    /* height: 100%; */
    transform: translate(-50%, 0%);
    text-align: center;
    opacity: 1;
    transition: .5s 0s;
}
.page1 .sect1 .pic_group .skill .pic_skill .txt {
    /* transition: .5s 2.5s; */
}

.page1 .sect1 .pic_group .skill .pic_skill .txt li {
    opacity: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    width: 800px;
    text-align: center;
    /* transition: position .5s 0s font .5s .5s; */
    transition: 1s 0s;

    padding: 30px 0;
}




/* ============================================================== ani */


/* reference : rotate sphere
@keyframes rotate {
    0% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(0deg);
    }
    50% {
  transform: rotateZ(-25deg) rotateX(-20deg) rotateY(180deg);
    }
    100% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(360deg);
    }
  }
   */
   
   .page1 .sect1 .pic_group .skill .pic_skill .ani {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    /* width: 100%; */
    /* height: 100%; */

    opacity: 0;
    transition: .5s 0s;
    transform-style: preserve-3d;
    perspective: 900px;

    box-shadow: 10px 10px 10px rgba(0,0,0,1);
}

.page1 .sect1 .pic_group .skill .pic_skill{
    transform-style: preserve-3d;
    perspective: 900px;
    position: relative;
    width: 100%;
}

.page1 .sect1 .pic_group .skill .pic_skill .sent{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page1 .sect1 .pic_group .skill .pic_skill .sent li{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    width: 100%;
}
.page1 .sect1 .pic_group .skill .pic_skill .sent li:nth-of-type(1){
    left: 50%;
    top: 20%;
}
.page1 .sect1 .pic_group .skill .pic_skill .sent li:nth-of-type(2){
    left: 50%;
    top: 35%;
}



.page1 .sect1 .pic_group .skill .pic_skill .ani {
    opacity: 0.5;
    transition: .5s 1s;
    /* transform-style: preserve-3d; */
    /* perspective: 900px; */
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    /* width:200px; */
    /* transform: rotateZ(30deg); */
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl {
    transform-style: preserve-3d;
    perspective: 900px;
    /* perspective: 400vmin; */
    transform-style: preserve-3d;
    position: absolute;
    /* z-index: -500; */
    width: 100px;
    height: 100px;
    left: 28%;
    top: 50%;
    /* transform: translate(-50%,-0%); */
    transform: translateX(0);

    border-radius: 50%;
    background: rgba(233, 233, 233, 1);
    /* animation: rotatePpl 1s 1s infinite forwards; */
}
/* @keyframes rotatePpl{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(360deg);}
} */


.page1 .sect1 .pic_group .skill .pic_skill .ani{
    animation: none;
}


.page1 .sect1.active2 .pic_group .skill .pic_skill .ani .ppl:nth-of-type(1).active{
    transform: translateX(0);
    animation: aniPpl1 6s 3s infinite forwards;
}

@keyframes aniPpl1{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-80%);
    }
    29%{
        transform: translateX(80%);
    }
    33%{
        transform: translateX(-80%);
    }
    57%{
        transform: translateX(-50%);
        z-index: 100;

    }
    60%{
        transform: translateX(50%);
        z-index: 200;

    }
    63%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;

    }
    66%{
        transform: translateX(-50%);
        z-index: 100;
    }
    100%{
        transform: translateX(0%);
    }
}

.page1 .sect1.active2 .pic_group .skill .pic_skill .ani .ppl:nth-of-type(2).active{
    animation: aniPpl2 6s 3s infinite forwards;
}

@keyframes aniPpl2{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(80%);
    }
    29%{
        transform: translateX(-80%);
    }
    33%{
        transform: translateX(80%);
    }
    57%{
        transform: translateX(50%) translateY(0%);
        z-index: 200;
        
    }
    60%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;

    }
    63%{
        transform: translateX(-50%) translateY(0%);
        z-index: 100;

    }
    66%{
        transform: translateX(50%) translateY(0%);
        z-index: 200;

    }
    100%{
        transform: translateX(0%);
    }
}
.page1 .sect1.active2 .pic_group .skill .pic_skill .ani .ppl:nth-of-type(3).active{
    animation: aniPpl3 6s 3s infinite;
}

@keyframes aniPpl3{
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(80%);
    }
    29%{
        transform: translateX(-80%);
    }
    33%{
        transform: translateX(80%);
    }
    57%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;

    }
    60%{
        transform: translateX(-50%) translateY(0%);
        z-index: 100;
    }
    63%{
        transform: translateX(50%) translateY(0%);
        z-index: 200;
    }
    66%{
        transform: translateX(0%) translateY(30%);
        z-index: 300;
    }
    100%{
        transform: translateX(0%);
    }
}







.page1 .sect1 .pic_group .skill .pic_skill .ani .sphere:active {
    
}


.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl .sphere {
    /* content: ''; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* top: 0%; */
    /* left: 0%; */
    background: rgba(223,54,46,1);

    background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240 , 220, 0.85) 15%, rgba(30, 30, 40, 0.5) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 95%);
    box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s 0s;
    /* 원본 */
    /* background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 0%, rgba(30, 30, 40, 0.85) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, #000000 80%); */
    border-radius: 50%;
    transform: translateZ(2vmin);
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl .sphere {
    /* animation: sphereShadow 6s 0s infinite; */
}
@keyframes sphereShadow{
    0%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    5%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    6%{box-shadow: 40px 0px 40px rgba(223, 54, 46, 0.6);}
    32%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    33%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    66%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
    100%{box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);}
}



.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl .sphere {
    opacity: 1;
    transition: .5s 1.5s;
}

/* .page1 .sect1 .pic_group .skill .pic_skill .ani .ppl1.active {
    left: 40%;
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl2.active {
    left: 0%;
}

.page1 .sect1 .pic_group .skill .pic_skill .ani .ppl3 {
    left: 80%;
} */




/* ----------------------- project ----------------------- */


/* txt_recent */

.page1 .sect1 .text_group .recent {
    mix-blend-mode: difference;
    color: #e9e9e9;
    position: absolute;
    z-index: 1000;
    left: -110%;
    top: 65%;
    transition: 1s;
}

.page1 .sect1 .text_group .recent p {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}

.page1 .sect1 .text_group .recent a {
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    /* width: 1200px; */
}

.page1 .sect1 .text_group .recent a span {
    display: inline-block;
    color: #e9e9e9;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    transform: translate(0, 500px);
    transition: .5s 2s;
}

.page1 .sect1.active3 .text_group .recent {
    /* transform:translate(-40%,0%); */
    left: 8%;
    top: 65%;
    transition: transform 1s 1s, left 1s 1.5s;
}

.page1 .sect1.active3 .text_group .recent a span {
    transform: translate(0, 0);
    transition: .5s 2s;
}


/* pic_recent */

.page1 .sect1 .pic_group .recent {
    position: absolute;
    left: -50%;
    top: 85%;
    width: 150%;
    height: 0;
    overflow: hidden;
    transition: .5s .5s;
}

.page1 .sect1 .pic_group .recent {}

.page1 .sect1.active3 .pic_group .recent {
    height: 100%;
    transition: .5s .5s;
}


/* video btn */

.page1 .sect1.active3 .recent_otherbox .btn_video{
    position: absolute;
    z-index: 1000000;
    right: 0%;
    top: 80%;
    background: #000;
    color: #e9e9e9;
    animation: seeVid .8s 2s infinite alternate;
}

@keyframes seeVid {
    0% {
        transform: translate(0,15px);
        box-shadow: 5px 5px 2px rgba(0,0,0,0.4);
    }
    100% {
        transform: translate(0,5px);
        box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
        background: rgba(223,54,46,1);
    }
}


.page1 .sect1.active3 .recent_otherbox .btn_video a{
    padding: 10px 30px;
    display: inline-block;
    color: #e9e9e9;
    width: 250px;
    text-align: center;

}



/* 추가 */
.page1 .sect1 .recent_otherbox{
    width: 28%;
    /* transition: 1s; */
    height: 76vh;

    position: absolute;
    right: 9.5%;
    bottom: -100%;
    transition: .5s 0s;
    /* mix-blend-mode: difference; */

        
}

.page1 .sect1.active3 .recent_otherbox{
    /* z-index: 0; */
    bottom: -1.2%;
    transition: 1s .5s;
    /* animation: blendMode .5s 1s 1 forwards; */
}

/* @keyframes blendMode{
    0%{
    mix-blend-mode: difference;
    }
    100%{
        mix-blend-mode: inherit;
    }
} */

.page1 .sect1 .recent_otherbox ul{
    display: none;

    position: relative;
}
.page1 .sect1 .recent_otherbox ul li{
    /* mix-blend-mode: difference; */

    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
}


.page1 .sect1 .recent_otherbox ul li:nth-of-type(1){right: 810px; z-index:10; opacity: 0;}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(2){right: 720px; z-index:9}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(3){right: 630px; z-index:8}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(4){right: 540px; z-index:7}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(5){right: 450px; z-index:6}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(6){right: 360px; z-index:5}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(7){right: 270px; z-index:4}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(8){right: 180px; z-index:3}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(9){right: 90px; z-index:2}
.page1 .sect1 .recent_otherbox ul li:nth-of-type(10){right: 0px; z-index:1}


.page1 .sect1 .recent_otherbox ul li img{}

.page1 .sect1.active3 .recent_otherbox ul li{
    right: 0;
    transition: right .5s 1.5s;
    /* opacity: 0; */
    /* mix-blend-mode: inherit; */
}



/* ============================================================== sect2 */


/* txt */

.page1 .sect2 {
    position: relative;
    /* background: #1f1f1f; */
}

.page1 .sect2 .text_group {
    width: 100%;
    height: 100vh;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    mix-blend-mode: difference;
}

.page1 .sect2 .text_group p {
    position: absolute;
    /* left: -100%; */
    left: 5%;
    top: 10%;
    transition: .5s 0s;
    color: #000;
}


/* .page1 .sect2.active-move .box_3d .text_group p {
    left: 5%;
    transition: .5s 0s;
} */

.page1 .sect2 .text_group ul {
    position: absolute;
    /* right: -100%; */
    right: 0%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transition: .5s 0s;
    color: #000;
}


/* .page1 .sect2.active-move .box_3d .text_group ul {
    right: 0%;
    transition: .5s 2s;
} */

.page1 .sect2 .text_group ul li {
    position: absolute;
    bottom: 3%;
    transition: 1s .5s;
}

.page1 .sect2 .text_group li:nth-of-type(1) {
    right: 2%;
}

.page1 .sect2 .text_group li:nth-of-type(2) {
    right: -100%;
}

.page1 .sect2.active-change .text_group li:nth-of-type(1) {
    right: -100%;
    transition: 1s 0s;
}

.page1 .sect2.active-change .text_group li:nth-of-type(2) {
    right: 2%;
    transition: 1s 0s;
}


/* pic */

.page1 .sect2 .pic_group {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0%;
    top: 0%;
    /* border: 5px solid #1f1f1f; */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.4); */
    transform: translateZ(-500px);
    transition: 1s 0s;
    background: #1f1f1f;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.page1 .sect2.active-move .pic_group {
    transform: translateZ(0px);
    z-index: -1;
    background: #e9e9e9;
    transition: 1s 1s;
}

.page1 .sect2 .pic_group .box_3d {
    position: absolute;
    /* z-index: 2000; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80vh;
    /* background: rgba(0,0,0,0.4); */
}

.page1 .sect2 .pic_group .box_3d>div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.page1 .sect2 .pic_group .box_3d .at_work {
    opacity: 1;
    transition: .5s 1s;
}

.page1 .sect2.active-change .pic_group .box_3d .at_work {
    opacity: 0;
    transition: .5s 0s;
    /* transform: translate(-100%); */
}


/* pic_at_work */

.page1 .sect2 .pic_group .box_3d .at_work {
    position: relative;
}

.page1 .sect2 .pic_group .box_3d .at_work ul {
    position: absolute;
    z-index: 2000;
    width: 800px;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0);
    text-align: center;
    opacity: 0;
    transition: .5s 0s;
}

.page1 .sect2.active-move .pic_group .box_3d .at_work ul {
    opacity: 1;
    transition: .5s 2.5s;
}

.page1 .sect2 .pic_group .box_3d .at_work ul li {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    width: 800px;
    text-align: center;
}

.page1 .sect2 .pic_group .box_3d .at_work ul li.active {
    opacity: 1;
}


/* ============================================================== ani */


/* reference : rotate sphere
@keyframes rotate {
    0% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(0deg);
    }
    50% {
  transform: rotateZ(-25deg) rotateX(-20deg) rotateY(180deg);
    }
    100% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(360deg);
    }
  }
   */

/* .page1 .sect2 .pic_group .box_3d .at_work .ani {opacity: 0.5;} */

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere {
    perspective: 400vmin;
    transform-style: preserve-3d;
    
    position: absolute;
    /* z-index: -500; */
    width: 200px;
    height: 200px;
    top: 10%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 15%, rgba(30, 30, 40, 0.5) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 95%);
    box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s 0s;
    /* 원본 */
    /* background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 0%, rgba(30, 30, 40, 0.85) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, #000000 80%); */
    border-radius: 50%;
    transform: translateZ(2vmin);
}

.page1 .sect2.active-move .pic_group .box_3d .at_work .ani .sphere::before {
    opacity: 1;
    transition: .5s 2.5s;
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere1 {
    left: 40%;
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere2 {
    left: 0%;
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere3 {
    left: 80%;
}


/* pic_as_person */


.page1 .sect2 .pic_group .box_3d .as_person {
    padding: 20px;
    position: absolute;
    /* overflow: hidden; */
    transition: 1s .5s;
}








.page1 .sect2 .pic_group .as_person .bord {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 0%;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, 0%);
    transition: height 1s 0s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background: rgba(233,233,233,0.8);
    padding: 0px 0;


    /* background-color: rgba(219, 32, 23, 0.9); */
    /* background: rgba(223,54,46,1); */
    /* background: rgba(233,233,233,1); */

    /* color: #e9e9e9; */
}

.page1 .sect2.active-move .pic_group .as_person {
    opacity: 1;
    transition: 1s 0s;
}

.page1 .sect2.active-move .pic_group .as_person .bord {
    bottom: 15%;
    height: 70%;
    padding: 50px 0;
    transition: .5 1s;
    /* background-color: #000; */
    /* transition: bottom 1s 1s background-color 1s 1.5s linear; */
}


.page1 .sect2 .pic_group .box_3d .as_person .bord p {
    width: 90%;
    font-size: 18px;
    font-weight: 200;
    margin: 15px auto;
    mix-blend-mode: difference;
    color: #e9e9e9;
}








/* ----------------------- at_work ----------------------- */



}