@import url('common.css');
html,
body {
    position: relative;
    height: 100vh;
    /* background: #e9e9e9; */
    /* color: #000; */
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: #e9e9e9; */
    transition: .5s;
    transform-style: preserve-3d;
    perspective: 600px;
    mix-blend-mode: difference;
}

main::before,
main::after {
    z-index: 1000;
    transition: .5s;
    content: '';
    display: inline-block;
    width: 100%;
    height: 50vh;
    left: 0;
    position: absolute;
    background-color: #fff;
    mix-blend-mode: difference;
}

main::before {
    top: 0vh;
    animation: moveBefore 1s 1s 1 forwards;
}

main::after {
    bottom: 0;
    animation: moveAfter 1s 1s 1 forwards;
}

@keyframes moveBefore {
    0% {
        top: 0vh;
    }
    100% {
        top: -50vh;
    }
}

@keyframes moveAfter {
    0% {
        bottom: 0vh;
    }
    100% {
        bottom: -50vh;
    }
}

.line {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0, -4px);
    width: 100%;
    height: 4px;
    background: #000;
    z-index: 5000;
    animation: showLine 1s 2.5s 1 forwards;
    /* top: 92% ; */
}

@keyframes showLine {
    0% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}

main {}

.page1 {
    background: #e9e9e9;
    width: 100%;
    height: 100vh;
    position: relative;
    transition: 2s 0s;
}


main .page1 {
    transform: rotateX(0deg) translateY(0px) translateZ(0px);
    transition: 2s 0s;
}

main .page1:after{
    z-index: 10000;
    content: '';
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    transition: .5;
    opacity: 0;
}

main.active-bg .page1:after{
    opacity: 1;
    transition: .5s;
}

main.active-convert .page1 {
    transform: rotateX(45deg) translateY(-600px) translateZ(400px);
    transition: 1s 0s;
}

.page_convert {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: #1f1f1f;
    position: absolute;
    left: 0;
    top: 0vh;
    transform: rotateX(-90deg) translateY(600px) translateZ(400px);
    transition: 2s 0s;
}

main.active-convert .page_convert {
    /* top: 0vh;
    transition: 2s 0s; */
    transform: rotateX(0deg) translateY(0px) translateZ(0px);
    transition: 1s 0s;
}

.page1 .sect1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s 1s;
    /* transform: translate(0,0); */
}

.page1 .sect1.active-move {
    top: -150vh;
    transition: 1s 0s;
}

.page1 .sect1 .text_group {}

.page1 .sect1 .pic_group {}

main .page1 .sect1 .pic_group {
    width: 28%;
    position: absolute;
    right: -100%;
    top: 10%;
    transition: 1s;
    height: 76vh;
    transform: translate(0%, 0);
}

main .page1 .sect1.active2 .pic_group {
    /* right: -100%; */
    transform: translate(-40%, 0);
    /* transition: 1s 1s; */
    transition: transform 1s 1s, right 1s 0s;
}

main .page1 .sect1.active3 .pic_group {
    transform: translate(-40%, -80%);
    right: -30%;
    transition: transform 1s .5s, right 1s 1.5s;
}


/* ============================================================== sect1 */


/* ----------------------- intro ----------------------- */


/* txt_intro */

.page1 .sect1 .text_group .intro {
    display: block;
    mix-blend-mode: difference;
    color: #e9e9e9;
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
    position: absolute;
    z-index: 1000;
    left: 15%;
    top: 35%;
    transition: 1s;
}

.page1 .sect1 .text_group .intro .iam {
    display: flex;
}

.page1 .sect1 .text_group .intro .iam p {
    margin-right: 80px;
}

.page1 .sect1 .text_group .intro .iam .name_change {
    overflow: hidden;
    position: relative;
}

.page1 .sect1 .text_group .intro .iam .name_change .name {
    display: flex;
    position: relative;
    overflow: hidden;
}

.page1 .sect1 .text_group .intro .iam .name_change .name li {
    transform: translate(0, 0);
    transition: .5s;
}

.page1 .sect1 .text_group .intro .iam .name_change .web {
    position: absolute;
    left: 0;
    bottom: -100%;
}

.page1 .sect1 .text_group .intro .iam .name_change .dev p {
    display: inline-block;
    transform: translate(0, 100%);
}

.page1 .sect1.active1 .text_group .intro {
    left: 5%;
    top: 25%;
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .name li {
    transform: translate(0, 100%);
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .web {
    display: inline-block;
    animation: wordWeb .5s 1s 1 forwards;
}

.page1 .sect1.active1 .text_group .intro .iam .name_change .dev p {
    animation: wordDev .5s 1s 1 forwards;
}

@keyframes wordWeb {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

@keyframes wordDev {
    0% {
        transform: translate(0, 100%);
    }
    100% {
        transform: translate(0, -3%);
    }
}


/* pics_introduction */

.page1 .sect1.active1 .pic_group {
    position: absolute;
    right: 12%;
    top: 10%;
}

.page1 .sect1 .pic_group .introduction {
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0%;
    top: 0;
    transition: .5s;
    transition: 1s 1s;
}


/* active2 */

.page1 .sect1.active2 .text_group .intro {
    left: -100%;
}

.page1 .sect1.active2 .pic_group .introduction {
    left: 0%;
    width: 0%;
    transition: 1s 0s;
}


/* ----------------------- skill ----------------------- */


/* txt_skill */

.page1 .sect1 .text_group .skill {
    mix-blend-mode: difference;
    color: #e9e9ee;
    position: absolute;
    z-index: 1000;
    right: -40%;
    top: 35%;
    transition: 1s;
}

.page1 .sect1 .text_group .skill p {
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
}

.page1 .sect1 .text_group .skill .list_skill {
    position: absolute;
    left: 0;
    bottom: -120%;
    display: flex;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    width: 180%;
    flex-wrap: wrap;
}

.page1 .sect1 .text_group .skill .list_skill li {
    margin-right: 30px;
    overflow: hidden;
}

.page1 .sect1 .text_group .skill .list_skill li:nth-of-type(6) {
    margin-right: 0;
}

.page1 .sect1 .text_group .skill .list_skill li span {
    transform: translate(0, 500px);
    display: inline-block;
}

.page1 .sect1.active2 .text_group .skill {
    right: 20%;
    top: 35%;
}

.page1 .sect1.active2 .text_group .skill .list_skill li span {
    transition: .5s 2s;
    transform: translate(0, 0);
}

.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(4) span,
.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(5) span,
.page1 .sect1.active2 .text_group .skill .list_skill li:nth-of-type(6) span {
    transition: .5s 2.2s;
}

.page1 .sect1.active3 .text_group .skill {
    /* top: -1000px; */
    transform: translate(0%, -90vh);
    /* transform:translate(-40%,-90%); */
    transition: 1s .5s;
}


/* 
transform:translate(-40%,-80%);
right: -25%;
transition: transform 1s 1s, right 1s 2s; */


/* pics_skill */

.page1 .sect1 .pic_group .skill {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0%;
    overflow: hidden;
    transition: 1s 0s;
}

.page1 .sect1.active2 .pic_group .skill {
    transition: .5s 1s;
    width: 150%;
    height: 100%;
}

.page1 .sect1.active3 .pic_group .skill {
    height: 0;
    /* bottom: -1000px; */
    transition: .5s 0s;
}


/* ----------------------- project ----------------------- */


/* txt_recent */

.page1 .sect1 .text_group .recent {
    mix-blend-mode: difference;
    color: #e9e9e9;
    position: absolute;
    z-index: 1000;
    left: -60%;
    top: 35%;
    transition: 1s;
}

.page1 .sect1 .text_group .recent p {
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
}

.page1 .sect1 .text_group .recent a {
    display: inline-block;
    overflow: hidden;
    margin-top: 50px;
    /* width: 1200px; */
}

.page1 .sect1 .text_group .recent a span {
    display: inline-block;
    color: #e9e9e9;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    transform: translate(0, 500px);
    transition: .5s 2s;
}

.page1 .sect1.active3 .text_group .recent {
    /* transform:translate(-40%,0%); */
    left: 8%;
    top: 35%;
    transition: transform 1s 1s, left 1s 1.5s;
}

.page1 .sect1.active3 .text_group .recent a span {
    transform: translate(0, 0);
    transition: .5s 2s;
}


/* pic_recent */

.page1 .sect1 .pic_group .recent {
    position: absolute;
    left: -150%;
    top: 100%;
    width: 150%;
    height: 0;
    overflow: hidden;
    transition: .5s .5s;
}

.page1 .sect1 .pic_group .recent {}

.page1 .sect1.active3 .pic_group .recent {
    height: 100%;
    transition: .5s .5s;
}


/* ============================================================== sect2 */


/* main 기준 3d*/

main {}

.page1 .sect2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 150vh;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: top 1s 1s;
}

.page1 .sect2.active-move {
    top: 0vh;
    transition: top 1s 0s;
    perspective: 0;
}


/* ----------------------- at_work ----------------------- */


/* txt */

.page1 .sect2 {
    position: relative;
    /* background: #1f1f1f; */
}

.page1 .sect2 .text_group {
    width: 100%;
    height: 100vh;
    font-weight: 900;
    font-size: 180px;
    line-height: 138px;
    mix-blend-mode: difference;
}

.page1 .sect2 .text_group p {
    position: absolute;
    /* left: -100%; */
    left: 5%;
    top: 10%;
    transition: .5s 0s;
    color: #000;
}


/* .page1 .sect2.active-move .box_3d .text_group p {
    left: 5%;
    transition: .5s 0s;
} */

.page1 .sect2 .text_group ul {
    position: absolute;
    /* right: -100%; */
    right: 0%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transition: .5s 0s;
    color: #000;
}


/* .page1 .sect2.active-move .box_3d .text_group ul {
    right: 0%;
    transition: .5s 2s;
} */

.page1 .sect2 .text_group ul li {
    position: absolute;
    bottom: 15%;
    transition: 1s .5s;
}

.page1 .sect2 .text_group li:nth-of-type(1) {
    right: 5%;
}

.page1 .sect2 .text_group li:nth-of-type(2) {
    right: -100%;
}

.page1 .sect2.active-change .text_group li:nth-of-type(1) {
    right: -100%;
    transition: 1s 0s;
}

.page1 .sect2.active-change .text_group li:nth-of-type(2) {
    right: 5%;
    transition: 1s 0s;
}


/* pic */

.page1 .sect2 .pic_group {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0%;
    top: 0%;
    /* border: 5px solid #1f1f1f; */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.4); */
    transform: translateZ(-500px);
    transition: 1s 0s;
    background: #1f1f1f;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.page1 .sect2.active-move .pic_group {
    transform: translateZ(0px);
    z-index: -1;
    background: #e9e9e9;
    transition: 1s 1s;
}

.page1 .sect2 .pic_group .box_3d {
    position: absolute;
    /* z-index: 2000; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 60vh;
    /* background: rgba(0,0,0,0.4); */
}

.page1 .sect2 .pic_group .box_3d>div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.page1 .sect2 .pic_group .box_3d .at_work {
    opacity: 1;
    transition: .5s 1s;
}

.page1 .sect2.active-change .pic_group .box_3d .at_work {
    opacity: 0;
    transition: .5s 0s;
    /* transform: translate(-100%); */
}


/* pic_at_work */

.page1 .sect2 .pic_group .box_3d .at_work {
    position: relative;
}

.page1 .sect2 .pic_group .box_3d .at_work ul {
    position: absolute;
    z-index: 2000;
    width: 800px;
    left: 50%;
    top: 35%;
    transform: translate(-50%, 0);
    text-align: center;
    opacity: 0;
    transition: .5s 0s;
}

.page1 .sect2.active-move .pic_group .box_3d .at_work ul {
    opacity: 1;
    transition: .5s 2.5s;
}

.page1 .sect2 .pic_group .box_3d .at_work ul li {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    width: 800px;
    text-align: center;
}

.page1 .sect2 .pic_group .box_3d .at_work ul li.active {
    opacity: 1;
}


/* ============================================================== ani */


/* reference : rotate sphere
@keyframes rotate {
    0% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(0deg);
    }
    50% {
  transform: rotateZ(-25deg) rotateX(-20deg) rotateY(180deg);
    }
    100% {
  transform: rotateZ(25deg) rotateX(20deg) rotateY(360deg);
    }
  }
   */

.page1 .sect2 .pic_group .box_3d .at_work .ani {}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere {
    perspective: 400vmin;
    transform-style: preserve-3d;
    position: absolute;
    /* z-index: -500; */
    width: 200px;
    height: 200px;
    top: 10%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 15%, rgba(30, 30, 40, 0.5) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 95%);
    box-shadow: 40px 0px 40px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s 0s;
    /* 원본 */
    /* background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 0%, rgba(30, 30, 40, 0.85) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, #000000 80%); */
    border-radius: 50%;
    transform: translateZ(2vmin);
}

.page1 .sect2.active-move .pic_group .box_3d .at_work .ani .sphere::before {
    opacity: 1;
    transition: .5s 2.5s;
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere1 {
    left: 40%;
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere2 {
    left: 0%;
}

.page1 .sect2 .pic_group .box_3d .at_work .ani .sphere3 {
    left: 80%;
}


/* pic_as_person */

.page1 .sect2 .pic_group .box_3d .as_person {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    transition: 1s .5s;
}

.page1 .sect2 .pic_group .as_person .bord {
    width: 98%;
    height: 98%;
    position: absolute;
    left: 0%;
    bottom: -100%;
    transition: bottom 1s 0s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    background-color: #e9e9e9;
}

.page1 .sect2.active-change .pic_group .as_person {
    opacity: 1;
    transition: 1s 0s;
}

.page1 .sect2.active-change .pic_group .as_person .bord {
    bottom: 3%;
    /* background-color: #000; */
    /* transition: bottom 1s 1s background-color 1s 1.5s linear; */
}

.page1 .sect2 .pic_group .box_3d .as_person p {
    width: 80%;
    font-size: 30px;
    font-weight: 900;
    margin: 85px auto;
    mix-blend-mode: difference;
    color: #e9e9e9;
}


/* .page1 .sect2.active-change .box_3d .pic_group .as_person p{
    color: #e9e9e9;
    transition: color 1s 1s;
}
 */