/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*------slide------*/

* {
    box-sizing: border-box;
}


/* .s_v1{
    width: 1000px;
    margin: 0 auto;
} */

.s_v1 .s_bn {
    /* margin: 0 50px; */
}

.s_v1 .s_bn .mg {
    margin: 0 100px;
    width: 83.5%;
}


/* .s_v1 .s_bn img{width:100%;} */


/*------prev-next------*/

.s_v1 .slick-prev,
.s_v1 .slick-next {
    border: none;
    /*버튼이 기본값으로 보더를 갖고 있기 때문에 없애지 말고 none처리*/
    font-size: 0;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: #000;
    z-index: 9;
    opacity: 1;
    transition: .5s;
}

.slick-slide {
    opacity: .3;
}

.slick-active {
    opacity: 1;
}

.slick-active img {
    transition: .5s;
}

.slick-active img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}


/* 
.slick-active img:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
} */


/* .slick-center:hover .slick-prev,
.slick-center:hover .slick-next{
    opacity: 1;
} */


/* $larr;,&rarr; */

.s_v1 .slick-prev {
    left: 23%;
    transform: translateX(3px);
}

.s_v1 .slick-next {
    right: 23%;
    transform: translateX(-3px);
}

.s_v1 .slick-prev:after {
    content: '<';
    font-size: 24px;
    color: #fff;
}

.s_v1 .slick-next:after {
    content: '>';
    font-size: 24px;
    color: #fff;
}


/*------인비게이터------*/

.s_v1 .slick-dots {
    position: absolute;
    bottom: -5%;
    left: 47%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.s_v1 .slick-dots li {
    display: inline-block;
    margin: 0 3px;
}

.s_v1 .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(231, 213, 189, 0.2);
    font-size: 0;
    padding: 0;
    border: none;
}

.s_v1 .slick-dots li.slick-active button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.8);
    background: rgba(231, 213, 189, 0.9);
    font-size: 0;
    padding: 0;
    border: none;
}


/*==================================== laptab ===============================================*/

@media(max-width:1440px) {
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    /*------slide------*/
    * {
        box-sizing: border-box;
    }
    /* .s_v1{
        width: 1000px;
        margin: 0 auto;
    } */
    .s_v1 .s_bn {
        /* margin: 0 50px; */
    }
    .s_v1 .s_bn .mg {
        margin: 0 100px;
        width: 83.5%;
    }
    /* .s_v1 .s_bn img{width:100%;} */
    /*------prev-next------*/
    .s_v1 .slick-prev,
    .s_v1 .slick-next {
        border: none;
        /*버튼이 기본값으로 보더를 갖고 있기 때문에 없애지 말고 none처리*/
        font-size: 0;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        background: #000;
        z-index: 9;
        opacity: 1;
        transition: .5s;
    }
    .slick-slide {
        opacity: .3;
    }
    .slick-active {
        opacity: 1;
    }
    .slick-active img {
        transition: .5s;
    }
    .slick-active img:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    }
    /* 
    .slick-active img:hover{
        box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
    } */
    /* .slick-center:hover .slick-prev,
    .slick-center:hover .slick-next{
        opacity: 1;
    } */
    /* $larr;,&rarr; */
    .s_v1 .slick-prev {
        left: 23%;
        transform: translateX(3px);
    }
    .s_v1 .slick-next {
        right: 23%;
        transform: translateX(-3px);
    }
    .s_v1 .slick-prev:after {
        content: '<';
        font-size: 24px;
        color: #fff;
    }
    .s_v1 .slick-next:after {
        content: '>';
        font-size: 24px;
        color: #fff;
    }
    /*------인비게이터------*/
    .s_v1 .slick-dots {
        position: absolute;
        bottom: -5%;
        left: 47%;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .s_v1 .slick-dots li {
        display: inline-block;
        margin: 0 3px;
    }
    .s_v1 .slick-dots li button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgba(231, 213, 189, 0.2);
        font-size: 0;
        padding: 0;
        border: none;
    }
    .s_v1 .slick-dots li.slick-active button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.8);
        background: rgba(231, 213, 189, 0.9);
        font-size: 0;
        padding: 0;
        border: none;
    }
}


/*====================================tab===============================================*/

@media(max-width:1024px) {
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    /*------slide------*/
    * {
        box-sizing: border-box;
    }
    /* .s_v1{
        width: 1000px;
        margin: 0 auto;
    } */
    .s_v1 .s_bn {
        /* margin: 0 50px; */
    }
    .s_v1 .s_bn .mg {
        margin: 0 100px;
        width: 83.5%;
    }
    /* .s_v1 .s_bn img{width:100%;} */
    /*------prev-next------*/
    .s_v1 .slick-prev,
    .s_v1 .slick-next {
        border: none;
        /*버튼이 기본값으로 보더를 갖고 있기 때문에 없애지 말고 none처리*/
        font-size: 0;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #000;
        z-index: 9;
        opacity: 1;
        transition: .5s;
    }
    .slick-slide {
        opacity: .3;
    }
    .slick-active {
        opacity: 1;
    }
    .slick-active img {
        transition: .5s;
    }
    .slick-active img:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    }
    /* 
    .slick-active img:hover{
        box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
    } */
    /* .slick-center:hover .slick-prev,
    .slick-center:hover .slick-next{
        opacity: 1;
    } */
    /* $larr;,&rarr; */
    .s_v1 .slick-prev {
        left: -20%;
        transform: translateX(0px);
    }
    .s_v1 .slick-next {
        right: -20%;
        transform: translateX(-0px);
    }
    .s_v1 .slick-prev:after {
        content: '<';
        font-size: 24px;
        color: #fff;
    }
    .s_v1 .slick-next:after {
        content: '>';
        font-size: 24px;
        color: #fff;
    }
    /*------인비게이터------*/
    .s_v1 .slick-dots {
        position: absolute;
        bottom: -5%;
        left: 47%;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .s_v1 .slick-dots li {
        display: inline-block;
        margin: 0 3px;
    }
    .s_v1 .slick-dots li button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgba(231, 213, 189, 0.2);
        font-size: 0;
        padding: 0;
        border: none;
    }
    .s_v1 .slick-dots li.slick-active button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.8);
        background: rgba(231, 213, 189, 0.9);
        font-size: 0;
        padding: 0;
        border: none;
    }
    .con {
        display: none !important;
    }
}


/*====================================mobile===============================================*/

<<<<<<< HEAD
@media(max-width:480px) {}
=======

/*====================================media===============================================*/


@media(max-width:768px) {
    .slick-slider
    {
        position: relative;
    
        display: block;
        box-sizing: border-box;
    
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
            touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    
    .slick-list
    {
        position: relative;
    
        display: block;
        overflow: hidden;
    
        margin: 0;
        padding: 0;
    }
    .slick-list:focus
    {
        outline: none;
    }
    .slick-list.dragging
    {
        cursor: pointer;
        cursor: hand;
    }
    
    .slick-slider .slick-track,
    .slick-slider .slick-list
    {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
    
    .slick-track
    {
        position: relative;
        top: 0;
        left: 0;
    
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slick-track:before,
    .slick-track:after
    {
        display: table;
    
        content: '';
    }
    .slick-track:after
    {
        clear: both;
    }
    .slick-loading .slick-track
    {
        visibility: hidden;
    }
    
    .slick-slide
    {
        display: none;
        float: left;
    
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide
    {
        float: right;
    }
    .slick-slide img
    {
        display: block;
    }
    .slick-slide.slick-loading img
    {
        display: none;
    }
    .slick-slide.dragging img
    {
        pointer-events: none;
    }
    .slick-initialized .slick-slide
    {
        display: block;
    }
    .slick-loading .slick-slide
    {
        visibility: hidden;
    }
    .slick-vertical .slick-slide
    {
        display: block;
    
        height: auto;
    
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    
    
    /*------slide------*/
    
    *{box-sizing: border-box;}
    
    /* .s_v1{
        width: 1000px;
        margin: 0 auto;
    } */
    
    .s_v1 .s_bn{
        /* margin: 0 50px; */
    }
    
    .s_v1 .s_bn .mg{margin: 0 100px; width: 83.5%;}
    
    /* .s_v1 .s_bn img{width:100%;} */
    
    /*------prev-next------*/
    
    .s_v1 .slick-prev,
    .s_v1 .slick-next{
        border: none; /*버튼이 기본값으로 보더를 갖고 있기 때문에 없애지 말고 none처리*/
        font-size: 0;
        width: 45px; height: 45px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #000;
        z-index: 9;
        opacity: 1;
        transition: .5s;
    }
    .slick-slide{opacity:.3;}
    .slick-active{
        opacity:1;
    }
    
    .slick-active img{transition:.5s;}
    .slick-active img:hover{
        box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
    }
    /* 
    .slick-active img:hover{
        box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
    } */
    /* .slick-center:hover .slick-prev,
    .slick-center:hover .slick-next{
        opacity: 1;
    } */
    
    
    
    /* $larr;,&rarr; */
    .s_v1 .slick-prev{left: -20%; transform: translateX(0px);}
    .s_v1 .slick-next{right: -20%; transform: translateX(-0px);}
    
    .s_v1 .slick-prev:after{
        content: '<';
        font-size: 24px;
        color: #fff;
    }
    
    
    .s_v1 .slick-next:after{
        content: '>';
        font-size: 24px;
        color: #fff;
    }
    
    /*------인비게이터------*/
    
    .s_v1 .slick-dots{
        position: absolute;
        bottom:-5%;
        left: 47%;
        list-style:none;
        margin: 0;
        padding: 0;
    }
    
    .s_v1 .slick-dots li{
        display: inline-block;
        margin: 0 3px;
    }
    
    .s_v1 .slick-dots li button{
        width: 10px; height: 10px;
        border-radius: 100%;
        background: rgba(231, 213, 189, 0.2);
        font-size: 0;
        padding: 0;
        border: none;
    }
    
    .s_v1 .slick-dots li.slick-active button{
        width: 10px; height: 10px;
        border-radius: 100%;
        background: rgba(0,0,0,0.8);
        background: rgba(231, 213, 189, 0.9);
        font-size: 0;
        padding: 0;
        border: none;
    }

    .con{
        display: none !important;
    }
}






/*====================================mobile===============================================*/


@media(max-width:480) {

}
>>>>>>> 0e829456a7dd51970a576ecad2250d92d421a108
