/*

이미지 꽉 차게 하는 방법?

*/

@import url('common.css');
main {
    margin-bottom: 50px;
    position: relative;
}

.title {
    background: #c4b7ae;
}

.title h1 {
    text-transform: uppercase;
    width: 80%;
    margin: 100px auto 0 auto;
    font-size: 18px;
    padding: 10px 0 10px 50px;
}

.background {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background .detail {
    width: 50%;
    height: 400px;
    margin: auto;
    display: flex;
    position: relative;
}

.detail .img {
    width: 45%;
    height: 100%;
    background: #d3c2b5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .img p {
    margin: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.detail .img p img {}

.detail .txt {
    padding: 60px 100px;
    width: 55%;
    background: #e4dcd6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail .txt h2 {
    font-family: 'Julius Sans One', sans-serif;
    white-space: pre-line;
    font-size: 24px;
    line-height: 48px;
}

.detail .txt .email {
    position: relative;
    width: 100%;
}

.detail .txt .email input {
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    padding: 5px 0px;
}

.detail .txt .email a {
    position: absolute;
    right: 0%;
    top: -10%;
}

.detail .txt .other {
    margin: 20px 0 40px 0;
}

.detail .txt .other a {
    font-size: 12px;
    display: block;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.detail .txt .other a:nth-of-type(1) {
    margin-bottom: 10px;
}

.detail .off {
    position: absolute;
    right: 1%;
    top: 5%;
}

.detail .off span {
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
}

.detail .off span:nth-of-type(1) {
    transform: rotate(45deg) translate(5%, 100%);
}

.detail .off span:nth-of-type(2) {
    transform: rotate(-45deg);
}


/*-----------------------------------------------mobile : 768px----------------------------------------------------------*/

@media(max-width:768px) {
    .title {
        width: 100%;
    }
    .title h1 {
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;
    }
    .background .detail {
        width: 80%;
    }
    .detail .img {
        width: 45%;
        height: 100%;
    }
    .detail .img p {
        width: 100%;
        height: 100%;
    }
    .detail .img p img {
        width: 100%;
        height: 100%;
    }
    .detail .txt {
        padding: 60px;
        width: 55%;
        background: #e4dcd6;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .detail .txt h2 {
        white-space: normal;
        font-size: 18px;
        line-height: 36px;
    }
    .detail .txt .email {
        width: 100%;
    }
    .detail .txt .email a {
        position: absolute;
        right: 0%;
        top: -10%;
    }
    .detail .txt .other {
        margin: 20px 0 40px 0;
    }
    .detail .txt .other a {
        font-size: 12px;
        display: block;
        padding: 5px 0;
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .detail .txt .other a:nth-of-type(1) {
        margin-bottom: 10px;
    }
    .detail .off {
        position: absolute;
        right: 3%;
        top: 5%;
    }
}


/*-----------------------------------------------mobile : 480px----------------------------------------------------------*/

@media(max-width:480px) {
    .title {
        width: 100%;
    }
    .title h1 {
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;
    }
    .background .detail {
        width: 90%;
        height: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background: rgba(228, 220, 214, 1);
    }
    .detail .img {
        width: 100%;
        height: 40%;
        overflow: hidden;
    }
    .detail .img p {
        margin: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .detail .img p img {
        width: 100%;
    }
    .detail .txt {
        padding-left: 0px;
        padding: 10px 50px;
        width: 100%;
        height: 60%;
        background: rgba(228, 220, 214, 0.9);
    }
    .detail .txt h2 {
        white-space: normal;
        font-size: 16px;
        line-height: 32px;
        margin: 0 0 25px 0;
    }
    .detail .txt .email {
        position: relative;
        width: 100%;
        margin: 0;
    }
    .detail .txt .other {
        margin: 20px 0 0px 0;
    }
    .detail .txt .other a {
        font-size: 12px;
        display: block;
        padding: 5px 0;
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .detail .txt .other a:nth-of-type(1) {
        margin-bottom: 10px;
    }
    .detail .off {
        position: absolute;
        right: 3%;
        top: 5%;
    }
}