@import url("common.css");
body {
  margin: 0;
  position: relative;
}

.big {
  background: url(../img/career/career_family/main.jpg) no-repeat;
  background-position-x: center;
  width: 100%;
  height: 600px;
}

.big p {
  white-space: pre-line;
  font-family: "KakaoLight";
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  font-weight: normal;
  margin: 0;
  margin-left: 420px;
  padding-top: 200px;
}

article h2 {
  font-family: "Kakao Light";
  font-size: 30px;
  line-height: 30px;
  color: #000;
  width: 50%;
  padding-top: 100px;
  margin: 0 auto 50px auto;
}

.resolution {
  background: url("../img/career/career_family/resolution_bg.jpg") no-repeat;
  background-position: bottom;
}

.resolution ul {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 70px;
}

.resolution ul li {
  font-family: 'KakaoRegular';
  font-size: 18px;
  width: 30%;
  padding-bottom: 0px;
}

.resolution ul li h3 {
  font-family: "Kakao Light";
  font-size: 30px;
  line-height: 60px;
  color: #cccccc;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
}

.resolution ul li p {
  margin: 20px 0 50px 0;
  font-family: "Kakao Light";
  font-size: 20px;
  line-height: 40px;
  color: #1e1e1e;
}

.resolution ul li p:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.detail {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.detail .box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: #fff;
  width: 50%;
  height: 570px;
  margin: auto;
  padding: 60px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail .box .txt {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail .box .txt p {
  width: 50%;
  font-family: "Kakao Light";
  font-size: 30px;
  line-height: 34px;
  color: #1e1e1e;
}

.detail .box .txt span {
  width: 45%;
  font-family: "Kakao Light";
  font-size: 15px;
  line-height: 30px;
  color: #1e1e1e;
}

.detail .box .off {
  position: absolute;
}

.detail .box .arrow {
  position: relative;
}

.detail .box .arrow p {
  position: absolute;
}

.detail .box .arrow p:nth-of-type(1) {
  left: 0;
  bottom: -40px;
}

.detail .box .arrow p:nth-of-type(2) {
  right: 0;
  bottom: -40px;
}

.welfare ul {
  width: 50%;
  margin: auto;
  padding: 0;
}

.welfare ul li {
  border-bottom: 1px solid #e2e2e2;
  padding: 80px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.welfare ul li h3 {
  margin: 0;
  width: 25%;
  font-family: "Kakao Light";
  font-size: 30px;
  line-height: 40px;
  color: #1e1e1e;
  font-weight: 500;
}

.welfare ul li .box {
  width: 75%;
}

.welfare ul li .box div {
  margin-bottom: 50px;
}

.welfare ul li .box div span {
  font-family: "Kakao Regular";
  font-size: 18px;
  line-height: 18px;
  color: #1e1e1e;
}

.welfare ul li .box div p {
  font-family: "Kakao Light";
  font-size: 15px;
  line-height: 15px;
  color: #1e1e1e;
}

.welfare ul li .box div:nth-of-type(3) {
  margin-bottom: 0;
}

.welfare ul li:nth-of-type(3) {
  border-bottom: none;
}

.pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pics left {
  width: 40%;
}

.pics right {
  width: 60%;
}

.pics div p {
  margin: 0;
  font-size: 0;
  width: 100%;
}

.pics div p img {
  width: 100%;
}

.map {
  width: 100%;
  margin: auto;
  margin-bottom: 150px;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
}

.pic {
  overflow: hidden;
  margin: auto;
}

.txt {
  width: 30%;
  margin: 20px 0 0 30px;
}

.txt h3 {
  margin: 25px 0;
  font-family: "Kakao Regular";
  font-size: 18px;
  line-height: 18px;
  color: #1e1e1e;
}

.txt .adrs {
  margin-bottom: 15px;
}

.txt .adrs,
.txt .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt .adrs p,
.txt .tel p {
  margin: 0 20px 0 0;
  font-family: "Kakao Bold";
  font-size: 15px;
  line-height: 15px;
  color: #1e1e1e;
}

.txt .adrs span,
.txt .tel span {
  font-family: "Kakao Regular";
  font-size: 15px;
  line-height: 15px;
  color: #1e1e1e;
}

@media (max-width: 1440px) {
  body {
    margin: 0;
    position: relative;
  }
  .big {
    background: url(../img/career/career_family/main.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    height: 520px;
  }
  .big p {
    white-space: pre-line;
    font-family: "KakaoLight";
    font-size: 36px;
    line-height: 56px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    margin-left: 320px;
    padding-top: 200px;
  }
  article h2 {
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 30px;
    color: #000;
    width: 70%;
    padding-top: 100px;
    margin: 0 auto 50px auto;
  }
  .resolution {
    background: url("../img/career/career_family/resolution_bg.jpg") no-repeat;
    background-position: bottom;
  }
  .resolution ul {
    width: 70%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-bottom: 70px;
  }
  .resolution ul li {
    font-family: 'KakaoRegular';
    font-size: 18px;
    width: 30%;
    padding-bottom: 0px;
  }
  .resolution ul li h3 {
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 60px;
    color: #cccccc;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
  }
  .resolution ul li p {
    margin: 20px 0 50px 0;
    font-family: "Kakao Light";
    font-size: 20px;
    line-height: 40px;
    color: #1e1e1e;
  }
  .resolution ul li p:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .detail {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
  }
  .detail .box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background: #fff;
    width: 50%;
    height: 570px;
    margin: auto;
    padding: 60px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail .box .txt {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail .box .txt p {
    width: 50%;
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 34px;
    color: #1e1e1e;
  }
  .detail .box .txt span {
    width: 45%;
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 30px;
    color: #1e1e1e;
  }
  .detail .box .off {
    position: absolute;
  }
  .detail .box .arrow {
    position: relative;
  }
  .detail .box .arrow p {
    position: absolute;
  }
  .detail .box .arrow p:nth-of-type(1) {
    left: 0;
    bottom: -40px;
  }
  .detail .box .arrow p:nth-of-type(2) {
    right: 0;
    bottom: -40px;
  }
  .welfare ul {
    width: 70%;
    margin: auto;
    padding: 0;
  }
  .welfare ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 80px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welfare ul li h3 {
    margin: 0;
    width: 25%;
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 40px;
    color: #1e1e1e;
    font-weight: 500;
  }
  .welfare ul li .box {
    width: 75%;
  }
  .welfare ul li .box div {
    margin-bottom: 50px;
  }
  .welfare ul li .box div span {
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 18px;
    color: #1e1e1e;
  }
  .welfare ul li .box div p {
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
  .welfare ul li .box div:nth-of-type(3) {
    margin-bottom: 0;
  }
  .welfare ul li:nth-of-type(3) {
    border-bottom: none;
  }
  .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pics left {
    width: 40%;
  }
  .pics right {
    width: 60%;
  }
  .pics div p {
    margin: 0;
    font-size: 0;
    width: 100%;
  }
  .pics div p img {
    width: 100%;
  }
  .map {
    width: 100%;
    margin: auto;
    margin-bottom: 150px;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: auto;
  }
  .pic {
    overflow: hidden;
    margin: auto;
  }
  .txt {
    width: 30%;
    margin: 20px 0 0 30px;
  }
  .txt h3 {
    margin: 25px 0;
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 18px;
    color: #1e1e1e;
  }
  .txt .adrs {
    margin-bottom: 15px;
  }
  .txt .adrs,
  .txt .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .txt .adrs p,
  .txt .tel p {
    margin: 0 20px 0 0;
    font-family: "Kakao Bold";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
  .txt .adrs span,
  .txt .tel span {
    font-family: "Kakao Regular";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
}

@media (max-width: 1024px) {
  body {
    margin: 0;
    position: relative;
  }
  .big {
    background: url(../img/career/career_family/main.jpg) no-repeat;
    background-position-x: center;
    width: 100%;
    height: 520px;
  }
  .big p {
    white-space: pre-line;
    font-family: "KakaoLight";
    font-size: 36px;
    line-height: 56px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    margin-left: 120px;
    padding-top: 200px;
  }
  article h2 {
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 30px;
    color: #000;
    width: 80%;
    padding-top: 100px;
    margin: 0 auto 50px auto;
  }
  .resolution {
    background: url("../img/career/career_family/resolution_bg.jpg") no-repeat;
    background-position: bottom;
  }
  .resolution ul {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-bottom: 70px;
  }
  .resolution ul li {
    font-family: 'KakaoRegular';
    font-size: 18px;
    width: 30%;
    padding-bottom: 0px;
  }
  .resolution ul li h3 {
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 60px;
    color: #cccccc;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
  }
  .resolution ul li p {
    margin: 20px 0 50px 0;
    font-family: "Kakao Light";
    font-size: 20px;
    line-height: 40px;
    color: #1e1e1e;
  }
  .resolution ul li p:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .detail {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
  }
  .detail .box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background: #fff;
    width: 50%;
    height: 570px;
    margin: auto;
    padding: 60px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail .box .txt {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail .box .txt p {
    width: 50%;
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 34px;
    color: #1e1e1e;
  }
  .detail .box .txt span {
    width: 45%;
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 30px;
    color: #1e1e1e;
  }
  .detail .box .off {
    position: absolute;
  }
  .detail .box .arrow {
    position: relative;
  }
  .detail .box .arrow p {
    position: absolute;
  }
  .detail .box .arrow p:nth-of-type(1) {
    left: 0;
    bottom: -40px;
  }
  .detail .box .arrow p:nth-of-type(2) {
    right: 0;
    bottom: -40px;
  }
  .welfare ul {
    width: 80%;
    margin: auto;
    padding: 0;
  }
  .welfare ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 80px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welfare ul li h3 {
    margin: 0;
    width: 25%;
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 40px;
    color: #1e1e1e;
    font-weight: 500;
  }
  .welfare ul li .box {
    width: 75%;
  }
  .welfare ul li .box div {
    margin-bottom: 50px;
  }
  .welfare ul li .box div span {
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 18px;
    color: #1e1e1e;
  }
  .welfare ul li .box div p {
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
  .welfare ul li .box div:nth-of-type(3) {
    margin-bottom: 0;
  }
  .welfare ul li:nth-of-type(3) {
    border-bottom: none;
  }
  .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pics left {
    width: 40%;
  }
  .pics right {
    width: 60%;
  }
  .pics div p {
    margin: 0;
    font-size: 0;
    width: 100%;
  }
  .pics div p img {
    width: 100%;
  }
  .map {
    width: 100%;
    margin: auto;
    margin-bottom: 150px;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
  }
  .pic {
    overflow: hidden;
    margin: auto;
  }
  .txt {
    width: 30%;
    margin: 20px 0 0 30px;
  }
  .txt h3 {
    margin: 25px 0;
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 18px;
    color: #1e1e1e;
  }
  .txt .adrs {
    margin-bottom: 15px;
  }
  .txt .adrs,
  .txt .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .txt .adrs p,
  .txt .tel p {
    margin: 0 20px 0 0;
    font-family: "Kakao Bold";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
  .txt .adrs span,
  .txt .tel span {
    font-family: "Kakao Regular";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
}

@media (max-width: 480px) {
  header {
    width: 100%;
  }
  .big {
    margin-top: 60px;
    background: url(../img/career/career_family/main.jpg) no-repeat;
    background-size: auto 180px;
    background-position-x: left;
    width: 100%;
    height: 180px;
  }
  .big p {
    white-space: pre-line;
    font-family: "KakaoLight";
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 200;
    margin: 0;
    margin-left: 30px;
    padding-top: 50px;
  }
  article h2 {
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 30px;
    color: #000;
    width: 90%;
    padding-top: 60px;
    margin: 0 auto 50px auto;
  }
  .resolution {
    background: url("../img/career/career_family/resolution_bg.jpg") no-repeat;
    background-position: bottom;
  }
  .resolution ul {
    width: 90%;
    margin: auto;
    padding: 0 0 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .resolution ul li {
    font-family: 'KakaoRegular';
    font-size: 18px;
    width: 100%;
    padding-bottom: 0px;
  }
  .resolution ul li h3 {
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 18px;
    color: #cccccc;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    margin: 0;
  }
  .resolution ul li p {
    margin: 20px 0 50px 0;
    font-family: "Kakao Light";
    font-size: 16px;
    line-height: 24px;
    color: #1e1e1e;
  }
  .resolution ul li p:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .detail {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
  }
  .detail .box {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background: #fff;
    width: 50%;
    height: 570px;
    margin: auto;
    padding: 60px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail .box .txt {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .detail .box .txt p {
    width: 50%;
    font-family: "Kakao Light";
    font-size: 30px;
    line-height: 34px;
    color: #1e1e1e;
  }
  .detail .box .txt span {
    width: 45%;
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 30px;
    color: #1e1e1e;
  }
  .detail .box .off {
    position: absolute;
  }
  .detail .box .arrow {
    position: relative;
  }
  .detail .box .arrow p {
    position: absolute;
  }
  .detail .box .arrow p:nth-of-type(1) {
    left: 0;
    bottom: -40px;
  }
  .detail .box .arrow p:nth-of-type(2) {
    right: 0;
    bottom: -40px;
  }
  .welfare ul {
    width: 90%;
    margin: auto;
    padding: 0;
  }
  .welfare ul li {
    border-bottom: 1px solid #e2e2e2;
    padding: 30px 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .welfare ul li h3 {
    margin: 0px 0 50px 0;
    width: 90%;
    font-family: "Kakao Light";
    font-size: 24px;
    line-height: 34px;
    color: #1e1e1e;
    font-weight: 500;
  }
  .welfare ul li .box {
    width: 90%;
  }
  .welfare ul li .box div {
    margin-bottom: 50px;
  }
  .welfare ul li .box div span {
    font-family: "Kakao Regular";
    font-size: 16px;
    line-height: 24px;
    color: #1e1e1e;
  }
  .welfare ul li .box div p {
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 25px;
    color: #1e1e1e;
  }
  .welfare ul li .box div:nth-of-type(3) {
    margin-bottom: 0;
  }
  .welfare ul li:nth-of-type(3) {
    border-bottom: none;
  }
  .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pics left {
    width: 40%;
  }
  .pics right {
    width: 60%;
  }
  .pics div p {
    margin: 0;
    font-size: 0;
    width: 100%;
  }
  .pics div p img {
    width: 100%;
  }
  .map {
    width: 100%;
    margin: auto;
    margin-bottom: 150px;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .pic {
    width: 95%;
    overflow: hidden;
    margin: 0;
  }
  .txt {
    width: 90%;
    margin: 20px 0 0 30px;
  }
  .txt h3 {
    margin: 25px 0;
    font-family: "Kakao Regular";
    font-size: 18px;
    line-height: 18px;
    color: #1e1e1e;
  }
  .txt .adrs {
    margin-bottom: 15px;
  }
  .txt .adrs,
  .txt .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .txt .adrs p,
  .txt .tel p {
    margin: 0 20px 0 0;
    font-family: "Kakao Bold";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
  .txt .adrs span,
  .txt .tel span {
    font-family: "Kakao Regular";
    font-size: 15px;
    line-height: 15px;
    color: #1e1e1e;
  }
}
/*# sourceMappingURL=career_family.css.map */