@import url("common.css");
header {
  border-bottom: 1px solid #e6e6e6;
  background: #fff !important;
  left: 0;
  top: 0;
}

header a {
  color: #000 !important;
}

body {
  background: #f9f9f9;
}

main {
  padding-top: 0px;
}

legend {
  display: none;
}

main {
  padding-top: 80px;
}

body {
  background: #f9f9f9;
}

.log {
  width: 33%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log fieldset {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 50px 40px 70px 40px;
  background: #fff;
  border: 1px solid #e2e2e2;
}

.log fieldset h2 {
  margin: 0;
  font-family: "Kakao Light";
  font-size: 24px;
  line-height: 24px;
  color: #000;
}

.log fieldset .data {
  padding-top: 30px;
}

.log fieldset .data label {
  display: inline-block;
  padding-bottom: 15px;
  font-family: "Kakao Light";
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.log fieldset .data div {
  width: 100%;
  border: 1px solid #e2e2e2;
}

.log fieldset .data div input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.log fieldset ul {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.log fieldset ul li {
  position: relative;
  font-family: "Kakao Light";
  font-size: 15px;
  line-height: 15px;
  color: #000;
  padding: 8px 20px;
}

.log fieldset ul li a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  display: inline-block;
}

.log fieldset ul li:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0;
  top: 12px;
}

.log button {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  padding: 20px 0;
  background: #e6e6e6;
  border: none;
  font-family: "Kakao Light";
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

@media (max-width: 1440px) {
  header {
    border-bottom: 1px solid #e6e6e6;
    background: #fff !important;
    left: 0;
    top: 0;
  }
  header a {
    color: #000 !important;
  }
  body {
    background: #f9f9f9;
  }
  main {
    padding-top: 0px;
  }
  legend {
    display: none;
  }
  main {
    padding-top: 80px;
  }
  body {
    background: #f9f9f9;
  }
  .log {
    width: 40%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .log fieldset {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 50px 40px 70px 40px;
    background: #fff;
    border: 1px solid #e2e2e2;
  }
  .log fieldset h2 {
    margin: 0;
    font-family: "Kakao Light";
    font-size: 24px;
    line-height: 24px;
    color: #000;
  }
  .log fieldset .data {
    padding-top: 30px;
  }
  .log fieldset .data label {
    display: inline-block;
    padding-bottom: 15px;
    font-family: "Kakao Light";
    font-size: 16px;
    line-height: 16px;
    color: #000;
  }
  .log fieldset .data div {
    width: 100%;
    border: 1px solid #e2e2e2;
  }
  .log fieldset .data div input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .log fieldset ul {
    margin: 0;
    padding: 0;
    padding-top: 50px;
  }
  .log fieldset ul li {
    position: relative;
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 15px;
    color: #000;
    padding: 8px 20px;
  }
  .log fieldset ul li a {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    display: inline-block;
  }
  .log fieldset ul li:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    top: 12px;
  }
  .log button {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    background: #e6e6e6;
    border: none;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 18px;
    color: #000;
  }
}

@media (max-width: 480px) {
  legend {
    display: none;
  }
  main {
    padding-top: 80px;
  }
  body {
    background: #f9f9f9;
  }
  .log {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .log fieldset {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 50px 40px 70px 40px;
    background: #fff;
    border: 1px solid #e2e2e2;
  }
  .log fieldset h2 {
    margin: 0;
    font-family: "Kakao Light";
    font-size: 24px;
    line-height: 24px;
    color: #000;
  }
  .log fieldset .data {
    padding-top: 30px;
  }
  .log fieldset .data label {
    display: inline-block;
    padding-bottom: 15px;
    font-family: "Kakao Light";
    font-size: 16px;
    line-height: 16px;
    color: #000;
  }
  .log fieldset .data div {
    width: 100%;
    border: 1px solid #e2e2e2;
  }
  .log fieldset .data div input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .log fieldset ul {
    margin: 0;
    padding: 0;
    padding-top: 50px;
  }
  .log fieldset ul li {
    position: relative;
    font-family: "Kakao Light";
    font-size: 15px;
    line-height: 15px;
    color: #000;
    padding: 8px 20px;
  }
  .log fieldset ul li a {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    display: inline-block;
  }
  .log fieldset ul li:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    top: 12px;
  }
  .log button {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    background: #e6e6e6;
    border: none;
    font-family: "Kakao Light";
    font-size: 18px;
    line-height: 18px;
    color: #000;
  }
}
/*# sourceMappingURL=career_login.css.map */