@import url('../common.css'); 






.t_4{
    width:567px;
    margin:auto;
}

.t_4 h1{
    padding:70px 0;
    background:#fff;
    text-align: center;
    white-space:pre-line;
    
    height:300px;                /*  height 크기를 너무 작게 준다면, hover시 글자크기가 공간보다 커지면서 박스크기도 커졌다 작아졌다함*/
}

.t_4 img{}










.t_4_2{
    border:1px solid#222;
    width:90%;
    margin: 0 auto;
    }

.t_4_2 .t_4{}

.t_4_2 .t_4:nth-of-type(1){
    float:left;
}
.t_4_2 .t_4:nth-of-type(2){
        float:right;
}


.t_4_2:after{
    content:'';
    clear:both;
    display:block;
}


.t_4_2 .t_4 h1{
    color:white;
    transition: .5s;
}
.t_4_2 .t_4 img{
    vertical-align: top;
/*    width:50%;*/
}


.t_4_2 .t_4:hover h1{
    color: cadetblue;
    font-size:3em;
    background:rgba(0,0,0.4) #000;

    
}






































